// Colour pallette

@grey-dark:#232323;
@grey-mid:#6e6e6e;
@grey-hairlines:#d1d1d1;
@grey-border: #CCD1D4;
@greyBG:#f7f7f7;
@grey-bar:#b7b7b7;
@interaction-blue:#0069d1;
@interaction-blue-light:#2792fc;
@red-dark:#b01c2e;
@red-bg:#ffe7ea;
@green-dark:#7aa42b;
@green-bg:#edf5db;

// Status colours

@status-warning-bg:@red-bg;
@status-warning-border:@red-dark;

@status-ok-bg:@green-bg;
@status-ok-border:@green-dark;

@status-confirmed-bg:white;
@status-confirmed-border:@grey-dark;

@status-fail-bg: transparent;
@status-fail-border:@grey-mid;