@btn-danger-color:               #fff;
@btn-danger-bg:                  @red-dark;
@btn-danger-border:              darken(@btn-danger-bg, 5%);


.sv-btn {
  border-radius: 100px;
  //min-height: 50px;
  padding: 7px;
  min-width:125px;
  margin: 2px 0 2px 0;
  font-weight:600;
  font-size:15px;
}
.sv-btn-primary .sv-btn-default {
  min-height:35px;
  
}

//Post fix buttons on form controls
.sv-input-group-btn .sv-btn {
  padding: 13px 12px;
  margin:0;
}

// Over riders to force left align buttons in the footer for certain pages
.sv-btn-container   {
  .sv-col-sm-offset-4 {
  margin-left:0 !important;
    }
    .sv-col-sm-offset-3:extend(.sv-btn-container .sv-col-sm-offset-4), .sv-col-sm-offset-5:extend(.sv-btn-container .sv-col-sm-offset-4) {
      
    }
}


// Unit reg specific buttons
.sme_grid_add_button {
    color: #0069d1;
    background-color: #fff;
    border-color: #0069d1;
    min-width:80px;
 &:hover {
  border: 1px solid #fff;
 }
}


#sme_submit_button, #sme_comments_button {
min-height:56px;
font-size:18px;
padding:16px 21px;
margin:10px 2px 2px 2px;
min-width:185px;
}