// Form over riders

label {
    font-weight:normal;
}
.sv-radio input[type="radio"],
.sv-radio-inline input[type="radio"],
.sv-checkbox input[type="checkbox"],
.sv-checkbox-inline input[type="checkbox"] {
    position: static;
    vertical-align: bottom;
    height: 29px;
    width: 29px;
    margin-right: 10px;
}

// Override to make form labels top aligned to form control/fields
@media (min-width: 768px) {
.sv-form-horizontal, .sv-form-group{
        .sv-checkbox-text,label.sv-control-label {
            width:100% !important;
            text-align:left !important;
    }
}

}