.sv-page-header {
    border:none !important;
    margin:0 0 29px 0;
    padding:0;
}

.sv-tiled-link-text {
    font-size:15px;
}

.sv-list-group-item a {
    display: block;
    background-color: transparent;
    

&:hover {
    background-color:#fff
}
}
