 .sv-page-header h1  {
        font-weight: 400;
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
        color: #ffffff;
        }

.sv-panel.uob-login-form {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
}

.sv-form-group label {
    color: #ffffff;
}
.uob-login-href {
color: #ffffff;
font-size: 16px;
}
