|<!doctype html>
<html class="no-js" lang="en">
head
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">

  <title></title>

    <link rel="stylesheet" href="css/sits.css">
    <link rel="stylesheet" href="css/sv.css">
    <link rel="stylesheet" href="plugins/css/ui/sits-ui.css">
    <link rel="stylesheet" href="css/sits_uob.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="../plugins/javascript/html5shiv.min.js"></script>
      <script src="../plugins/javascript/respond.min.js"></script>
    <![endif]-->

  #{options.jsUrl}


    <script src="../plugins/javascript/jquery.js?v=910.1"></script>
    <script src="../plugins/javascript/jquery-ui.js?v=910.1"></script>

    <script src="../plugins/javascript/sv.min.js?v=910.1"></script>

    <script src="../javascript/settings.js?v=920.1"></script>
    <script src="../javascript/sits_ajax.js?v=920.1"></script>

    <script src="../plugins/javascript/tablesaw/tablesaw.min.js?v=920.1"></script>
    <script src="../plugins/javascript/datatables/media/js/jquery.dataTables.min.js?v=910.1"></script>
    <script src="../plugins/javascript/datatables/media/js/dataTables.tribal.min.js?v=920.1"></script>
    <script src="../javascript/uob_js/uob-main.js"></script>
<body>
  <a class="sv-sr-only" href="#sv-page-top">Skip navigation</a>
  <header class="sv-header-main sv-hidden-print">

  <nav class="sv-navbar sv-navbar-default">
    <div class="sv-navbar-header">
      <div class="sv-navbar-brand sv-header-image">
        <img src="../images/uob/logo-uob-wh.png" class="uob-logo">
      </div>

    <div class="sv-navbar-text uob-site-title">
      <h1>SLS</h1>
      <h2 class="uob-site-subtitle">Student Lifecycle Support</h2>
      <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
</div>


  </div>
    <div class="sv-navbar-collapse sv-collapse sv-navbar-responsive-collapse"></div>
    </nav>




<!-- Added by Tony M 03/Apr/2017:- body start is included on main page we want the branding in the top left corner-->
  <nav class="sv-navbar">
    <div class="sv-navbar-header">
      <div class="sv-navbar-brand sv-header-image">
        <img src="../images/uob/logo-uob-wh.png" class="uob-logo">
      </div>
    </div>
    <div class="sv-navbar-collapse sv-collapse sv-navbar-responsive-collapse"></div>
  </nav>




  </header>

  <a id="sv-page-top"></a>

  <div class="sv-page-content sv-container">