    <footer class="sv-footer uwe-footer uwe--purple">
        <div class="sv-container">
            <div class="sv-row">
            <div class="sv-col-lg-6 sv-col-md-6">
            <p class="sv-text-left font-16 sv-footer-text--white">Copyright 2016 © UWE Bristol - www.uwe.ac.uk</p>
                </div>
            <div class="sv-col-lg-6 sv-col-md-6">
                <p class="sv-footer-text font-16 sv-footer-text--white">
                    E-mail <a href="mailto:" style="color:#fff">admissions@uwe.ac.uk</a>
                </p>
                </div>
            </div>
            </div>
    </footer>
</body>
</html>
