<nav class="sv-navbar-default">
    <div class="sv-navbar-header">
        <button type="button" class="sv-navbar-toggle" data-sv-toggle="sv-collapse" data-sv-target=".sv-navbar-responsive-collapse">
            <span class="sv-icon-bar"></span>
            <span class="sv-icon-bar"></span>
            <span class="sv-icon-bar"></span>
          </button>
        <div class="sv-navbar-brand sv-header-image">
            <img src="/images/uob/logo-uob-wh.png" class="uob-logo">
        </div>




    </div>
    <div role="menubar" class="sv-navbar-collapse sv-collapse sv-navbar-responsive-collapse">

        <ul role="menu" class="sv-nav sv-navbar-nav">

            <!-- The Tab list field contains each page tab as a li item, child page tabs will create a new ul within the outer ul -->
            <!-- Includes VCON and CONTENT as without this we can't dynamically set styles based on break points and max tabs -->
            <li role="menuitem" class="sv-active">
                <a href="siw_portal.url?0DDF1B9C30A611E7qU2yIoMv1sYwkAD6YWeBZSXYCsftGxsRw8KRjKR_ZX2rpN1xEyjMQHTj-OuhorPSbs_lJ2pVsYtnmoTwf4snvR-cvOpK9zVQ-XTlPRjRFpI"
                    id="HOM001">Student Home</a>

            </li>
            <li role="menuitem">
                <a href="siw_portal.url?0DDF226830A611E7ddDQW3U5Bb3EazNXshVxn0mMwAZGirchl1OHFnZACCSyAvAGhpHMzyJJjK7QdZvz6IL9AJCjtWlt12x5uapIDIqpmFn7C3cz1RWy1mV-CEQ"
                    id="HOM002">Landing page</a>

            </li>
            <li role="menuitem">
                <a href="siw_portal.url?0DDF288030A611E7LvmeZPiMmyU6FvkZwQGQciZyQocxlib114sjcWngGLyp_7tg62PFFm74aVPN8J1ovnoF4cjqPRXdZl0uAEgQrtysnHZTebM22cUySzL5wBI"
                    id="SMR001">Student Marketing</a>

            </li>
            <li role="menuitem" class="sv-visible-xs sv-visible-md sv-visible-lg">
                <a href="siw_portal.url?0DDF2E8E30A611E7nKsnO5v9RPiCyDEgZEJ0nDGuh5GWirREKO9sAYxPamrwfCiiW3bo_KjokaBPF3_1PAOYrqvSyaOas3H7NOCSPnvtMNhXqNVICzSQdAsuHao"
                    id="ADM001">Admissions</a>

            </li>
            <li role="menuitem" class="sv-visible-xs sv-visible-md sv-visible-lg">
                <a href="siw_portal.url?0DDF35AA30A611E70fuW3RmynwsJCKawOiH-71n9TMLUecRikc7mVkMZJ7Qeu6wDBIvXAfqml03x9GjU8rrm4tWRORJnYnm664eJBarhGtSO0a6VUNiCCto5aF0"
                    id="CRT001">Curriculum</a>

            </li>
            <li role="menuitem" class="sv-dropdown sv-visible-xs sv-visible-lg">
                <a href="javascript://FIN001" class="sv-dropdown-toggle" data-sv-toggle="sv-dropdown" aria-haspopup="true" aria-expanded="false">Finance <b class="sv-caret"></b></a>

                <ul role="menu" class="sv-dropdown-menu">
                    <li role="menuitem" class=""><a href="siw_portal.url?0DDF3CBC30A611E7nEp5UtiYSgUKN1-OZd2pVo8NvvkGr9y7rZrcT8pkCjGDjsS2D51SINpZVcYInNGYlFpfQNEeckwNYxoQEoEF27lqwOOM1C2Q9u9ipnfN6_4"
                            id="FIN001">Finance Home</a></li>
                    <li role="menuitem" class="sv-visible-xs sv-visible-lg">
                        <a href="siw_portal.url?0DDF441430A611E7z7lOXuZ5BC_D7bXugW2Cb7tn5dweK9f55paAV5v8UOI4lZ4T5JJjsDPI3EK3ITj_Juv6yrfWJ_Q3og8StWyPGet5Lq8o5ZPkOC-fwvbVNC8"
                            id="FIN901">Student Funding (Development)</a>

                    </li>
                    <li role="menuitem" class="sv-visible-xs sv-visible-lg">
                        <a href="siw_portal.url?0DDF4B6230A611E7DTXlY8BIFmZjpbLMx5P0FUSb6hQzqMXe_v3UEEGywZEDSpfL_qMNkXJyeVAgCH7PeUtcsagt-V2axVIldYwzCK98Mpu2TYWoDGoAdVv6UU4"
                            id="FIN902">Student Funding (Testing)</a>

                    </li>
                    <li role="menuitem" class="sv-visible-xs sv-visible-lg">
                        <a href="siw_portal.url?0DDF52E230A611E71m1GyaspChe_UC7a-8OhA9Q9L-7PgxqzBootpIDrKF66TU8Ya5cfPQSLDanYWIAQWd0iXJ1pOYTQHwnk166b7C62njUxQp18AXSxcGeE6c8"
                            id="FIN911">Finance Transactions</a>

                    </li>
                    <li role="menuitem" class="sv-visible-xs sv-visible-lg">
                        <a href="siw_portal.url?0DDF5B3430A611E7Gqk8qP7zo0-9JsuibEhymS43sWyS4LXvySXU2nplnAo97GQae_yFH8QiaTRyEVzbYeMtnrQZA9pZH9EOKIvsdlLgx-fY3U_WDYnb6qWXqYg"
                            id="FIN980">System Administration</a>

                    </li>
                    <li role="menuitem" class="sv-visible-xs sv-visible-lg">
                        <a href="siw_portal.url?0DDF634030A611E7hDJcLREcMsXMNe-n1dE0UHCzWtvx87bYZ5cXwK1kHPeLhitblnkza4Tn7j93moMmEEQG2gfUD3hh-HShaCYK9b4BS3jGvbHu6A7sN-bJmhM"
                            id="FIN990">Programs and Background Functions</a>

                    </li>

                </ul>
            </li>
            <li role="menuitem" class="sv-visible-xs sv-visible-lg">
                <a href="siw_portal.url?0DDF6CB430A611E7SS2TwnlpJOjc-C5PokkA58WQwKbfwl3O8X2yTpaRJnhtEGt9enCoCsmYo0-yxnecsGdhOKHGSoXruu-txeDMYPAawrtXNPEoy4gIJru2NgA"
                    id="ENR001">Enrolment</a>

            </li>
            <li role="menuitem" class="sv-visible-xs sv-visible-lg">
                <a href="siw_portal.url?0DDF751A30A611E7sPIul8fvf4PIzDsPsYCGKfPQHuKKdJtmtp_1_3bzlHwBM8XBb8ntfibyhct4pNg_VdesO6Go17suwlbyOFyDIGydpSIkwgwhVHcUoXvNUo4"
                    id="ASF001">Assessment</a>

            </li>
            <li role="menuitem" class="sv-visible-xs">
                <a href="siw_portal.url?0DDF7DC630A611E7ZjJIKpvlInfVWaGjRo3rGA-I4j15WVVManUzsC2idPOoBS5MV3gebPoR3ImAA2TBFjSUC8VOqk7MVYfdZ6AnkgkCd4aeSjc_qyHNIOsRiX0"
                    id="DEV001">Developers</a>

            </li>

            <li role="menuitem" class="sv-dropdown sv-visible-sm sv-visible-md sv-visible-lg">

                <a href="#" class="sv-dropdown-toggle" data-sv-toggle="sv-dropdown">

                    <span class="glyphicon glyphicon-plus">

      <span class="sv-sr-only">+</span>

                    </span>

                </a>

                <ul role="menu" class="sv-dropdown-menu">
                    <li role="menuitem" class="sv-visible-sm">
                        <a href="siw_portal.url?0DDF2E8E30A611E7nKsnO5v9RPiCyDEgZEJ0nDGuh5GWirREKO9sAYxPamrwfCiiW3bo_KjokaBPF3_1PAOYrqvSyaOas3H7NOCSPnvtMNhXqNVICzSQdAsuHao"
                            id="smADM001">Admissions</a>

                    </li>
                    <li role="menuitem" class="sv-visible-sm">
                        <a href="siw_portal.url?0DDF35AA30A611E70fuW3RmynwsJCKawOiH-71n9TMLUecRikc7mVkMZJ7Qeu6wDBIvXAfqml03x9GjU8rrm4tWRORJnYnm664eJBarhGtSO0a6VUNiCCto5aF0"
                            id="smCRT001">Curriculum</a>

                    </li>
                    <li role="menuitem" class="sv-dropdown-submenu sv-visible-sm sv-visible-md">
                        <a href="javascript://FIN001" tabindex="-1" aria-haspopup="true" aria-expanded="false">Finance</a>
                        <ul role="menu" class="sv-dropdown-menu">
                            <li role="menuitem" class=""><a href="siw_portal.url?0DDF3CBC30A611E7nEp5UtiYSgUKN1-OZd2pVo8NvvkGr9y7rZrcT8pkCjGDjsS2D51SINpZVcYInNGYlFpfQNEeckwNYxoQEoEF27lqwOOM1C2Q9u9ipnfN6_4"
                                    id="smFIN001">Finance Home</a></li>
                            <li role="menuitem" class="sv-visible-sm sv-visible-md">
                                <a href="siw_portal.url?0DDF441430A611E7z7lOXuZ5BC_D7bXugW2Cb7tn5dweK9f55paAV5v8UOI4lZ4T5JJjsDPI3EK3ITj_Juv6yrfWJ_Q3og8StWyPGet5Lq8o5ZPkOC-fwvbVNC8"
                                    id="smFIN901">Student Funding (Development)</a>

                            </li>
                            <li role="menuitem" class="sv-visible-sm sv-visible-md">
                                <a href="siw_portal.url?0DDF4B6230A611E7DTXlY8BIFmZjpbLMx5P0FUSb6hQzqMXe_v3UEEGywZEDSpfL_qMNkXJyeVAgCH7PeUtcsagt-V2axVIldYwzCK98Mpu2TYWoDGoAdVv6UU4"
                                    id="smFIN902">Student Funding (Testing)</a>

                            </li>
                            <li role="menuitem" class="sv-visible-sm sv-visible-md">
                                <a href="siw_portal.url?0DDF52E230A611E71m1GyaspChe_UC7a-8OhA9Q9L-7PgxqzBootpIDrKF66TU8Ya5cfPQSLDanYWIAQWd0iXJ1pOYTQHwnk166b7C62njUxQp18AXSxcGeE6c8"
                                    id="smFIN911">Finance Transactions</a>

                            </li>
                            <li role="menuitem" class="sv-visible-sm sv-visible-md">
                                <a href="siw_portal.url?0DDF5B3430A611E7Gqk8qP7zo0-9JsuibEhymS43sWyS4LXvySXU2nplnAo97GQae_yFH8QiaTRyEVzbYeMtnrQZA9pZH9EOKIvsdlLgx-fY3U_WDYnb6qWXqYg"
                                    id="smFIN980">System Administration</a>

                            </li>
                            <li role="menuitem" class="sv-visible-sm sv-visible-md">
                                <a href="siw_portal.url?0DDF634030A611E7hDJcLREcMsXMNe-n1dE0UHCzWtvx87bYZ5cXwK1kHPeLhitblnkza4Tn7j93moMmEEQG2gfUD3hh-HShaCYK9b4BS3jGvbHu6A7sN-bJmhM"
                                    id="smFIN990">Programs and Background Functions</a>

                            </li>

                        </ul>
                    </li>
                    <li role="menuitem" class="sv-visible-sm sv-visible-md">
                        <a href="siw_portal.url?0DDF6CB430A611E7SS2TwnlpJOjc-C5PokkA58WQwKbfwl3O8X2yTpaRJnhtEGt9enCoCsmYo0-yxnecsGdhOKHGSoXruu-txeDMYPAawrtXNPEoy4gIJru2NgA"
                            id="smENR001">Enrolment</a>

                    </li>
                    <li role="menuitem" class="sv-visible-sm sv-visible-md">
                        <a href="siw_portal.url?0DDF751A30A611E7sPIul8fvf4PIzDsPsYCGKfPQHuKKdJtmtp_1_3bzlHwBM8XBb8ntfibyhct4pNg_VdesO6Go17suwlbyOFyDIGydpSIkwgwhVHcUoXvNUo4"
                            id="smASF001">Assessment</a>

                    </li>
                    <li role="menuitem">
                        <a href="siw_portal.url?0DDF7DC630A611E7ZjJIKpvlInfVWaGjRo3rGA-I4j15WVVManUzsC2idPOoBS5MV3gebPoR3ImAA2TBFjSUC8VOqk7MVYfdZ6AnkgkCd4aeSjc_qyHNIOsRiX0"
                            id="smDEV001">Developers</a>

                    </li>


                </ul>

            </li>


        </ul>

        <div class="sv-navbar-form sv-navbar-right">
            <div class="sv-navbar-text sv-visible-xs-block">Logged In: Gavin Thomas (<a href="../run/SIW_LGN_LOGOUT.start_url?0DDFF51230A611E7nQBfAlbwD0fcdnFJg0lHAAYVswU7kBpMddVJozpk2emS-42UP8MCuXUdz9VlwHQBNjIk3pvhxb960t-U_JsLc9vga-gzM-qVxL6xvb0JypU"
                    target="_self" class="sv-navbar-link">Logout</a>)</div>
            <!-- Portal Search (Navigation Bar mode) -->

            <div id="sits_search_div">
                <input type="hidden" name="KKEY.DUMMY.MENSYS" value="0DDFF9CC30A611E7ddgmkjJ4VAn8WlafgBbrbibLxn92N8StciEEozMGp-BLmNS1F1-EVgybE0z2bRl58SyHwJj7EwMs64FgAw_f3RKKEpWMN2yYNRreQ1BAbLw"
                    id="sits_search_key" />
                <div class="sv-visible-xs-block">
                    <div class="sv-input-group">
                        <input id="sits_search_input_xs" class="sv-form-control sv-input-sm" type="text" placeholder="Search e:Vision" title="Search e:Vision">
                        <span class="sv-input-group-btn">
        <button id="sits_search_button_xs" class="sv-btn sv-btn-default sv-btn-sm" type="button" title="Search" aria-label="Search">
          <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                </div>
                <div class="sv-hidden-xs">
                    <input id="sits_search_input_sm" class="sv-form-control sv-input-sm sv-hide" type="text" placeholder="Search e:Vision" title="Search e:Vision">
                    <button id="sits_search_button_sm" class="sv-btn sv-btn-default sv-btn-sm" type="button" title="Search" aria-label="Search">
      <span class="glyphicon glyphicon-search"></span>
    </button>
                </div>
            </div>

            <script>
                (function () {
                    var div = $("#sits_search_div");
                    var btn = div.find("button").removeAttr("name");
                    var inp = div.find("input").removeAttr("name").filter(":text");
                    var key = $("#sits_search_key").removeAttr("name");
                    if (btn.length > 0 && inp.length > 0 && key.length == 1) { //check everything exists          
                        $("#sits_search_button_sm").attr("aria-haspopup", "true").attr("aria-expanded", false); //accessibility
                        btn.attr("title", "Search");
                        btn.attr("aria-label", "Search");
                        inp.attr("title", "Search e:Vision test");
                        inp.attr("placeholder", "Search e:Vision test");
                        inp.on("keydown", function (e) { //handle return key
                            if (e.which == 13) {
                                $(sits_get_object(sits_replace(this.id, "input", "button"))).click(); //click related button
                                return sits_cancel_event(e); //cancel key down
                            }
                        });
                        btn.on("click", function (e) { //hijack button click
                            var inp = $(sits_get_object(sits_replace(this.id, "button", "input"))); //get related input
                            if (this.id.indexOf("_xs") < 0) {
                                if (!inp.is(":visible")) {
                                    inp.removeClass("sv-hide").css("top", 0).css("left", 0).css("position", "absolute"); //show (to calculate position)
                                    var off = $(this).offset();
                                    var css = {};
                                    css.top = off.top; //calculate position
                                    css.left = off.left - inp.outerWidth();
                                    inp.css(css).focus();
                                    $(this).attr("aria-expanded", true);
                                    return sits_cancel_event(e); //cancel button click
                                }
                                else if (inp.val() == "") { //hide input field
                                    inp.addClass("sv-hide").removeAttr("style");
                                    $(this).attr("aria-expanded", false).focus();
                                    return sits_cancel_event(e); //cancel button click
                                }
                            }
                            var url = document.location.href; //get current url
                            url = url.substr(0, url.lastIndexOf("/")) + "/siw_portal_srch.start_url?" + key.val() + "~" + sits_escape_url(inp.val());
                            document.location.href = url; //redirect browser
                            return sits_cancel_event(e); //cancel button click
                        });
                        /*$(window).on("resize",sits_debounce_event(function(e) {
                          $("#sits_search_input_sm:visible").addClass("sv-hide"); //hide field on resize
                        },500,true));*/
                    }
                })();

            </script>

            <!-- End of Portal Search (Navigation Bar mode) -->
        </div>

    </div>
</nav>