<!-- page4 - details.njk -->
{% set base_path = "../" %} {% include "../partials/head.njk" %} {% block head %}
<link rel="stylesheet" href="{{ base_path }}assets/css/{{ version }}/bootstrap.docs.css"> {% endblock %} {% include "../partials/docs/header.njk" %} {% block content %}
<div class="sv-container bs-docs-container">
    <div class="sv-row">
        <div class="sv-sm-col-4">
            <h1>Booking confirmed</h1>
            <p>Your open day booking is booked for:</p>
            <p>10:00am on 10th August 2017</p>

           <p> we have sent an email to joe.bloggs@live.ac.uk to confirm the details</p>
            <p><strong>The campus tour is at</strong>: <br/>Brecon House</p>
            



            </div>
           </div>
        </div>
    </div>

   </div></div>
    {% endblock %} {% include "../partials/docs/footer.njk" %}