<!-- page4 - details.njk -->
{% set base_path = "../" %} {% include "../partials/head.njk" %} {% block head %}
<link rel="stylesheet" href="{{ base_path }}assets/css/{{ version }}/bootstrap.docs.css"> {% endblock %} {% include "../partials/docs/header.njk" %} {% block content %}
<div class="sv-container bs-docs-container">
    <div class="sv-row">
        <div class="sv-col-sm-4">
        <h1>Check your details</h1>
        <blockquote>
            <strong>Email</strong>
            <p>joe.bloggs@live.ac.uk</p>
            <strong>Contact Number</strong>
            <p>0117 9654342</p>
            <strong>Address</strong>
            <address>1 pigeon Street<br/>
            Bristol<br/>
            bs16 1ej</address>
            </blockquote>
           <p>if any of the above is incorrect <a href="#">let us know</a></p>
       
           <a href="page5-additional.html" class="sv-btn sv-pull-left sv-btn-default">Back</a>
           <a href="page5-additional.html" class="sv-btn sv-pull-right sv-btn-primary">Next</a>
           </div>
        </div>
    </div>

   </div></div>
    {% endblock %} {% include "../partials/footer.njk" %}