<!-- page4 - details.njk -->
{% set base_path = "../" %} {% include "../partials/head.njk" %} {% block head %}
<link rel="stylesheet" href="{{ base_path }}assets/css/{{ version }}/bootstrap.docs.css"> {% endblock %} {% include "../partials/docs/header.njk" %} {% block content %}
<div class="sv-container bs-docs-container">
    <div class="sv-row">
        <div class="sv-col-sm-6">
            <h1>Additional Details</h1>
            <div class="sv-form-group">

            <label for="guests" class="sv-control-label">Please let us know if you are bringing a guest</label>
            <input type="text" class="sv-form-control" id="guests">
            </div>
            <div class="sv-form-group">
            <label class="sv-control-label" for="requirements">Do you or anyone coming with you have any access requirements, such as those related to a disability?</label>
            <div class="sv-radio">
            <label>
            <input type="radio" name="optradio">Yes
            </label>
            </div>
            <div class="sv-radio">
            <label>
            <input type="radio" name="optradio">No
            </label>
            </div>
            </div>
            <div class="sv-form-group">
            <label for="disreqs" class="sv-control-label">Details of access requirements</label>
            <textarea  class="sv-form-control" id="disreqs" rows="4"></textarea>
           
            </div>
            
            <a href="page4-details.html" class="sv-pull-left sv-btn sv-btn-default">Back</a>
            <a href="page6-confirmation.html" class="sv-pull-right sv-btn sv-btn-primary">Next</a>
            </div>
           </div>
        </div>
    </div>

   </div></div>
    {% endblock %} {% include "../partials/footer.njk" %}