<!-- Still to do

* Spacing between list items
-->


</div><!-- / container -->
    <footer class="sv-footer">
            <div class="sv-container">
            <div class="sv-row">
                <div class="sv-col-sm-12">
                     <address>
                        University of Bristol <br/>
                        Senate House<br/>
                        Tyndall Avenue<br/>
                        Bristol, BS8 1TH, UK.
                        <p>Tel: +44 (0)117 928 9000</p>
                        <p>© 2002–2017 <br/>
                        University of Bristol</p>
                    </address>
                    </div>

            </div><!-- /sv row -->
            </div>
    </footer>
</body>
</html>
