<!-- components.njk -->
{% set base_path = "../" %} {% include "../partials/docs/head.njk" %} {% block head %}
<link rel="stylesheet" href="{{ base_path }}assets/css/{{ version }}/bootstrap.docs.css"> {% endblock %} {% include "../partials/docs/header.njk" %} {% block content %}
<div class="sv-container bs-docs-container">
    <div class="sv-row">

        <div class="sv-col-sm-12 sv-text-center" style="max-width:1000px; min-height:20em;">
            <h1 class="sv-page-header sv-center-block sv-text-center">SLS Design System</h1>

            <p>A design system for the SLS Portal</p>
            <a href="/styleguide" class="sv-btn sv-btn-primary">Read the documentation</a>

        </div>
    </div>

   </div></div>
    {% endblock %} {% include "../partials/docs/footer.njk" %}