<!-- components.njk -->
{% set base_path = "/" %}

{% include "../partials/docs/head.njk" %}

    {% block head %}
  <link rel="stylesheet" href="{{ base_path }}assets/css/{{ version }}/bootstrap.docs.css">
    {% endblock %}

{% include "../partials/docs/header.njk" %}
    <nav class="navbar">
      <div class="container navbar-wrapper">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">GOVSTRAP.io</a>
        </div>
      </div>
    </nav>




    <section class="sv-container">
      <div class="sv-row">
        <div clas="sv-col-sm-4">
          <aside class="sv-col-sm-4">
            <div class="sv-side-bar">
              <h4 class="sv-bg-primary">Quick Links</h4>
              <ul class="sv-nav sv-nav-pills sv-nav-stacked">
                <li><a href="#fields-text">Text fields</a></li>
                <li><a href="#fields-select">Select fields</a></li>
                <li><a href="#fields-radio">Radio buttons</a></li>
                <li><a href="#fields-checkbox">Checkboxes</a></li>
                <li><a href="#cond-fields">Conditional fields</a></li>
              </ul>
            </div>
          </aside>
        </div>

        <div class="sv-col-sm-8">
          <h1>Forms</h1>
          <p>GOVstrap uses the same form layout as regular Bootstrap, so you don't need to learn anything new. There are a few extra features you may want to use later on however.</p>
          <h3> Labels</h3>
          <ul class="text list list-bullet">
    <li>all form fields should be given labels</li>
    <li>don’t hide labels, unless the surrounding context makes them unnecessary</li>
    <li>labels should be aligned above their fields</li>
    <li>label text should be short, direct and in sentence case</li>
    <li>avoid colons at the end of labels</li>
    <li>labels should be associated with form fields using the <code class="code">for</code> attribute</li>
  </ul>
          <a name="fields-text"></a>
          <h3>Text field</h3>
          <p>An example of a basic text field. You can add help text for each field by using the <code>help-block</code> class.</p>
          <div class="phase-tag-alpha">Example</div>
          <div class="sv-well">
            <form class="sv-form">
              <div class="sv-form-group">
                <label class="sv-control-label" for="userName">Your name</label>
                <input type="text" class="sv-form-control" id="userName">
                <p class="sv-help-block">Your parents probably gave you this name</p>
              </div>
            </form>
          </div>

          <pre class="prettyprint linenums prettyprinted">
            <code class="language-markup">
&lt;div class="sv-form-group"&gt;
  &lt;label class="sv-control-label" for="userName">Your name&lt;/label&gt;
  &lt;input type="text" class="sv-form-control" id="userName"&gt;
  &lt;p class="help-block"&gt;Your parents probably gave you this name&lt;/p&gt;
&lt;/div&gt;
            </code>
          </pre>

          <a name="fields-select"></a>
          <h3>Select field <span class="sv-pull-right"><a class="scroll-top" href="javascript:;">Top</a></span></h3>
          <div class="phase-tag-alpha">Example</div>
          <div class="sv-well">
            <form class="sv-form">
              <div class="sv-form-group">
                <label class="sv-control-label" for="myOptions">Pick an option</label>
                <select class="sv-form-control" id="myOptions">
                  <option>Something</option>
                  <option>More things</option>
                  <option>Even more</option>
                </select>
              </div>
            </form>
          </div>
          <div class="sg-source">
          <pre class="prettyprint linenums prettyprinted">
            <code class="language-markup">
&lt;div class="sv-form-group"&gt;
  &lt;label class="sv-control-label" for="myOptions">Pick an option&lt;/label&gt;
  &lt;select class="sv-form-control" id="myOptions"&gt;
    &lt;option>Something&lt;/option&gt;
    &lt;option>More things&lt;/option&gt;
    &lt;option>Even more&lt;/option&gt;
  &lt;/select&gt;
&lt;/div&gt;
            </code>
          </pre>
          </div>

          <a name="fields-radio"></a>
          <h3>Radio Buttons <span class="sv-pull-right"><a class="scroll-top" href="javascript:;">Top</a></span></h3>
          <p>The main thing to keep in mind with large checkboxes and radio buttons, is that <code>.block-label</code> controls the size of the field. Excluding that class gives you a regular element.</p>
          <div class="sv-phase-tag-alpha">Example</div>
          <div class="sv-well">
            <form class="sv-form">
              <div class="sv-form-group">
                <label class="sv-radio-inline sv-block-label">
                  <input type="radio" name="optradio">Yes
                </label>
                <label class="sv-radio-inline sv-block-label">
                  <input type="radio" name="optradio">No
                </label>
                <label class="sv-radio-inline sv-block-label">
                  <input type="radio" name="optradio">Can you repeat the question?
                </label>
              </div>
            </form>
          </div>
          <div class="sg-source">
          <pre class="prettyprint linenums prettyprinted">
            <code class="language-markup">
&lt;div class="sv-form-group"&gt;
  &lt;label class="sv-radio-inline block-label"&gt;
    &lt;input type="radio" name="optradio">Yes
  &lt;/label&gt;
  &lt;label class="sv-radio-inline block-label"&gt;
    &lt;input type="radio" name="optradio"&gt;No
  &lt;/label&gt;
  &lt;label class="sv-radio-inline block-label"&gt;
    &lt;input type="radio" name="optradio"&gt;Can you repeat the question?
  &lt;/label&gt;
&lt;/div&gt;
            </code>
          </pre>
          </div>

          <a name="fields-checkbox"></a>
          <h3>Checkboxes <span class="sv-pull-right"><a class="scroll-top" href="javascript:;">Top</a></span></h3>
          <p>Just like the radio buttons, omitting the <code>block-label</code> would cause it to render standard checkboxes</p>
          <div class="phase-tag-alpha">Example</div>
          <div class="sv-well">
            <form class="sv-form">
              <div class="sv-form-group">
                <div class="sv-checkbox">
                  <label>
                    <input type="checkbox" name="fruits" value="fruits"> Watermelon
                  </label>
                </div>
              </div>

              <div class="sv-form-group">
                <div class="sv-checkbox">
                  <label class="sv-block-label">
                    <input type="checkbox" name="fruits"> Oranges
                  </label>
                </div>
              </div>

              <div class="sv-form-group">
                <div class="sv-checkbox">
                  <label class="sv-block-label">
                    <input type="checkbox" name="fruits"> Apples
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="sg-source">
          <pre class="prettyprint linenums prettyprinted">
            <code class="language-markup">
&lt;div class=&quot;form-group&quot;&gt;
  &lt;div class=&quot;checkbox&quot;&gt;
    &lt;label class=&quot;block-label&quot;&gt;
      &lt;input type=&quot;checkbox&quot; name=&quot;fruits&quot;&gt; Watermelon
    &lt;/label&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group&quot;&gt;
  &lt;div class=&quot;checkbox&quot;&gt;
    &lt;label class=&quot;block-label&quot;&gt;
      &lt;input type=&quot;checkbox&quot; name=&quot;fruits&quot;&gt; Oranges
    &lt;/label&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group&quot;&gt;
  &lt;div class=&quot;checkbox&quot;&gt;
    &lt;label class=&quot;block-label&quot;&gt;
      &lt;input type=&quot;checkbox&quot; name=&quot;fruits&quot;&gt; Apples
    &lt;/label&gt;
  &lt;/div&gt;
&lt;/div&gt;
            </code>
          </pre>
          </div>
          <a name="cond-fields"></a>
          <h3>Conditional fields <span class="sv-pull-right"><a class="scroll-top" href="javascript:;">Top</a></span></h3></h3>
          <p>Sometimes you'll only want to show a field when a specific option has been selected. GOVstrap can handle that right out of the box</p>
          <p>Just add the <code>js-togggle</code> class to the form-group holding the radio buttons. <code>data-target</code> tells js-toggle the targets id. 
          You can tell Govstrap.io which button shows the hidden field by applying <code>data-toggle="true"</code> to the radio button.</p>
          <p>Finally, the hidden field must have a class of <code>js-hidden</code>, which will hide it by default until it's ready to be shown</p>
          <div class="phase-tag-alpha">Example</div>
          <div class="well">
            <form class="sv-form">
              <div class="sv-form-group">
                <h4>Do you know their National Insurance number?</h4>
              </div>
              <div class="sv-form-group js-toggle" data-target="nin">
                <label class="sv-radio-inline block-label">
                  <input type="radio" data-toggle="true" name="hasnin">Yes
                </label>
                <label class="sv-radio-inline block-label">
                  <input type="radio" name="hasnin">No
                </label>
              </div>
              <div class="sv-form-group js-hidden panel-left">
                <label class="sv-control-label" for="nin">
                  National Insurance number
                </label>
                <input type="text" class="sv-form-control" id="nin">
              </div>
            </form>
          </div>
          <div class="sg-source">
          <pre class="prettyprint linenums prettyprinted">
            <code class="language-markup">
&lt;div class=&quot;form-group&quot;&gt;
  &lt;h4&gt;Do you know their National Insurance number?&lt;/h4&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group js-toggle&quot; data-target=&quot;nin&quot;&gt;
  &lt;label class=&quot;radio-inline block-label&quot;&gt;
    &lt;input type=&quot;radio&quot; data-toggle=&quot;true&quot; name=&quot;hasnin&quot;&gt;Yes
  &lt;/label&gt;
  &lt;label class=&quot;radio-inline block-label&quot;&gt;
    &lt;input type=&quot;radio&quot; name=&quot;hasnin&quot;&gt;No
  &lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group js-hidden panel-left&quot;&gt;
  &lt;label class=&quot;control-label&quot; for=&quot;nin&quot;&gt;
    National Insurance number
  &lt;/label&gt;
  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;nin&quot;&gt;
&lt;/div&gt;
            </code>
          </pre>
          </div>
        </div>
      </div>
    </section>

   

{% include "../partials/footer.njk" %}