// Button Sizes
// --------------------------------------------------

.sv-btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
}
.sv-btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}
.sv-btn-xs {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}

// Button sizes for circular buttons
.sv-btn-circle {
  &.sv-btn-lg {
    .circular-button-size(@btn-circle-width-lg,@font-size-base,@btn-circle-line-height);   
  }
  &.sv-btn-sm {
    .circular-button-size(@btn-circle-width-sm,@font-size-base,@btn-circle-line-height);   
  }
  &.sv-btn-xs {
    .circular-button-size(@btn-circle-width-xs,@font-size-base,@btn-circle-line-height);   
  }
}

// Block button
// --------------------------------------------------

.sv-btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.sv-btn-block + .sv-btn-block {
  margin-top: 5px;
}