//
// Forms
// --------------------------------------------------


// Normalize non-controls
//
// Restyle and baseline non-control form elements.

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: @line-height-computed;
  font-size: (@font-size-base * 1.5);
  line-height: inherit;
  color: @legend-color;
  border: 0;
  border-bottom: 1px solid @legend-border-color;
}

label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-bottom: 5px;
  font-weight: bold;
}


// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  .box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

// Set the height of file controls to match text inputs
input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  .tab-focus();
}

// Adjust output element
output {
  display: block;
  padding-top: (@padding-base-vertical + 1);
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
}


// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

.sv-form-control {
  display: block;
  width: 100%;
  height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid @input-border;
  border-radius: @input-border-radius;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();

  // Placeholder
  .placeholder();

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: @cursor-disabled;
    background-color: @input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }
}

//File input - override some of the standard form-control styles
.sv-form-control.sv-form-control-file {
    padding: 0;
    border: none;
    box-shadow: none;
}

// Search inputs in iOS
//
// This overrides the extra rounded corners on search inputs in iOS so that our
// `.form-control` class can properly style them. Note that this cannot simply
// be added to `.form-control` as it's not specific enough. For details, see
// https://github.com/twbs/bootstrap/issues/11586.

input[type="search"] {
  -webkit-appearance: none;
}


// Special styles for iOS temporal inputs
//
// In Mobile Safari, setting `display: block` on temporal inputs causes the
// text within the input to become vertically misaligned.
// As a workaround, we set a pixel line-height that matches the
// given height of the input. Since this fucks up everything else, we have to
// appropriately reset it for Internet Explorer and the size variations.

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: @input-height-base;
  // IE8+ misaligns the text within date inputs, so we reset
  line-height: @line-height-base ~"\0";

  &.sv-input-sm {
    line-height: @input-height-small;
    line-height: @line-height-small ~"\0";
  }
  &.sv-input-lg {
    line-height: @input-height-large;
    line-height: @line-height-large ~"\0";
  }
}

// IE 11 hack to reverse the iOS temporal input hack.
_:-ms-fullscreen, :root input[type="date"],
_:-ms-fullscreen, :root input[type="time"],
_:-ms-fullscreen, :root input[type="datetime-local"],
_:-ms-fullscreen, :root input[type="month"] {
  line-height: @line-height-base;

  &.sv-input-sm {
    line-height: @line-height-small;
  }
  &.sv-input-lg {
    line-height: @line-height-large;
  }
}


// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.sv-form-group {
  margin-bottom: 25px;
}

// Used to adjust spacing when we have a completely non-editable (static) form
.sv-form-static .sv-form-group {
  margin-bottom: 5px;
}

// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.sv-radio,
.sv-checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

  label {
    min-height: @line-height-computed; // Ensure the input doesn't jump when there is no text
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
  }
}
.sv-radio input[type="radio"],
.sv-radio-inline input[type="radio"],
.sv-checkbox input[type="checkbox"],
.sv-checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}

.sv-radio + .sv-radio,
.sv-checkbox + .sv-checkbox {
  margin-top: -5px; // Move up sibling radios or checkboxes for tighter spacing
}

// Radios and checkboxes on same line
.sv-radio-inline,
.sv-checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.sv-radio-inline + .sv-radio-inline,
.sv-checkbox-inline + .sv-checkbox-inline {
  margin-top: 0;
  margin-left: 10px; // space out consecutive inline controls
}

// Apply same disabled cursor tweak as for inputs
// Some special care is needed because <label>s don't inherit their parent's `cursor`.
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"] {
  &[disabled],
  &.sv-disabled,
  fieldset[disabled] & {
    cursor: @cursor-disabled;
  }
}
// These classes are used directly on <label>s
.sv-radio-inline,
.sv-checkbox-inline {
  &.sv-disabled,
  fieldset[disabled] & {
    cursor: @cursor-disabled;
  }
}
// These classes are used on elements with <label> descendants
.sv-radio,
.sv-checkbox {
  &.sv-disabled,
  fieldset[disabled] & {
    label {
      cursor: @cursor-disabled;
    }
  }
}


// Static form control text
//
// Apply class to a `p` element to make any string of text align with labels in
// a horizontal form layout.

.sv-form-control-static {
  // Size it appropriately next to real form controls
  padding-top: (@padding-base-vertical + 1);
  padding-bottom: (@padding-base-vertical + 1);
  // Remove default margin from `p`
  margin-bottom: 0;

  &.sv-input-lg,
  &.sv-input-sm {
    padding-left: 0;
    padding-right: 0;
  }
  
  //Tribal - if a field can be dynamically shown or hidden server side then fix padding when showing
  .sv-form-control {
    margin-top: -(@padding-base-vertical + 1);
    margin-bottom: -(@padding-base-vertical + 1);
  }
}

// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.

.sv-input-sm,
.sv-form-group-sm .sv-form-control {
  .input-size(@input-height-small; @padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @input-border-radius-small);
}

.sv-input-lg,
.sv-form-group-lg .sv-form-control {
  .input-size(@input-height-large; @padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @input-border-radius-large);
}


// Form control feedback states
//
// Apply contextual and semantic states to individual form controls.

.sv-has-feedback {
  // Enable absolute positioning
  position: relative;

  // Ensure icons don't overlap text
  .sv-form-control {
    padding-right: (@input-height-base * 1.25);
  }
}
// Feedback icon (requires .glyphicon classes)
.sv-form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2; // Ensure icon is above input groups
  display: block;
  width: @input-height-base;
  height: @input-height-base;
  line-height: @input-height-base;
  text-align: center;
  pointer-events: none;
}
.sv-input-lg + .sv-form-control-feedback {
  width: @input-height-large;
  height: @input-height-large;
  line-height: @input-height-large;
}
.sv-input-sm + .sv-form-control-feedback {
  width: @input-height-small;
  height: @input-height-small;
  line-height: @input-height-small;
}

// Feedback states
.sv-has-success {
  .form-control-validation(@state-success-text; @state-success-text; @state-success-bg);
}
.sv-has-warning {
  .form-control-validation(@state-warning-text; @state-warning-text; @state-warning-bg);
}
.sv-has-error {
  .form-control-validation(@state-danger-text; @state-danger-text; @state-danger-bg);
}

// Reposition feedback icon if input has visible label above
.sv-has-feedback label {

  & ~ .sv-form-control-feedback {
     top: (@line-height-computed + 5); // Height of the `label` and its margin
  }
  &.sv-sr-only ~ .sv-form-control-feedback {
     top: 0;
  }
}


// Help text
//
// Apply to any element you wish to create light text for placement immediately
// below a form control. Use for general help, formatting, or instructional text.

.sv-help-block {
  display: block; // account for any element using help-block
  margin-top: 5px;
  margin-bottom: 10px;
  color: lighten(@text-color, 25%); // lighten the text some for contrast
}


// Inline forms
//
// Make forms appear inline(-block) by adding the `.form-inline` class. Inline
// forms begin stacked on extra small (mobile) devices and then go inline when
// viewports reach <768px.
//
// Requires wrapping inputs and labels with `.form-group` for proper display of
// default HTML form controls and our custom form controls (e.g., input groups).
//
// Heads up! This is mixin-ed into `.navbar-form` in navbars.less.

.sv-form-inline {

  // Kick in the inline
  @media (min-width: @screen-sm-min) {
    // Inline-block all the things for "inline"
    .sv-form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }

    // In navbar-form, allow folks to *not* use `.form-group`
    .sv-form-control {
      display: inline-block;
      width: auto; // Prevent labels from stacking above inputs in `.form-group`
      vertical-align: middle;
    }

    // Make static controls behave like regular ones
    .sv-form-control-static {
      display: inline-block;
    }

    .sv-input-group {
      display: inline-table;
      vertical-align: middle;

      .sv-input-group-addon,
      .sv-input-group-btn,
      .sv-form-control {
        width: auto;
      }
    }

    // Input groups need that 100% width though
    .sv-input-group > .sv-form-control {
      width: 100%;
    }

    .sv-control-label {
      margin-bottom: 0;
      vertical-align: middle;
    }

    // Remove default margin on radios/checkboxes that were used for stacking, and
    // then undo the floating of radios and checkboxes to match (which also avoids
    // a bug in WebKit: https://github.com/twbs/bootstrap/issues/1969).
    .sv-radio,
    .sv-checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;

      label {
        padding-left: 0;
      }
    }
    .sv-radio input[type="radio"],
    .sv-checkbox input[type="checkbox"] {
      position: relative;
      margin-left: 0;
    }

    // Re-override the feedback icon.
    .sv-has-feedback .sv-form-control-feedback {
      top: 0;
    }
  }
}


// Horizontal forms
//
// Horizontal forms are built on grid classes and allow you to create forms with
// labels on the left and inputs on the right.

.sv-form-horizontal {

  // Consistent vertical alignment of radios and checkboxes
  //
  // Labels also get some reset styles, but that is scoped to a media query below.
  .sv-radio,
  .sv-checkbox,
  .sv-radio-inline,
  .sv-checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: (@padding-base-vertical + 1); // Default padding plus a border
  }
  // Account for padding we're adding to ensure the alignment and of help text
  // and other content below items
  .sv-radio,
  .sv-checkbox {
    min-height: (@line-height-computed + (@padding-base-vertical + 1));
  }

  // Make form groups behave like rows
  .sv-form-group {
    .make-row();
  }
  
  //style any button blocks within a form (used for things like Retrieve and Store)
  .sv-form-btns .sv-btn {
     margin-bottom:  @padding-base-vertical;     
  }

  // Reset spacing and right align labels, but scope to media queries so that
  // labels on narrow viewports stack the same as a default form example.
  @media (min-width: @screen-sm-min) {
    .sv-control-label {
      text-align: right;
      margin-bottom: 0;
      padding-top: (@padding-base-vertical + 1); // Default padding plus a border
    }
    
    //include styling for static or checkbox/radiogroup text (for when we want some text to the left of it)
    .sv-static-text,
    .sv-checkbox-text,
    .sv-radio-text {
        text-align: right;
        margin-bottom: 0;
        padding-top: (@padding-base-vertical + 1); // Default padding plus a border
    }
    
    //button blocks need different spacing on non-xs
    .sv-form-btns .sv-btn {
        margin-bottom: 0;
    }
  }
  
  //style used when label isn't suitable (e.g. when we can't put a label because the field is hidden)
  .sv-static-text {
      font-weight: bold;
      margin-bottom: 0;
  }
  
  .sv-checkbox-text,
  .sv-radio-text {
    max-width: 100%;   
    font-weight: bold;
  }

  // Validation states
  //
  // Reposition the icon because it's now within a grid column and columns have
  // `position: relative;` on them. Also accounts for the grid gutter padding.
  .sv-has-feedback .sv-form-control-feedback {
    right: (@grid-gutter-width / 2);
  }

  // Form group sizes
  //
  // Quick utility class for applying `.input-lg` and `.input-sm` styles to the
  // inputs and labels within a `.form-group`.
  .sv-form-group-lg {
    @media (min-width: @screen-sm-min) {
      .sv-control-label {
        padding-top: ((@padding-large-vertical * @line-height-large) + 1);
      }
    }
  }
  .sv-form-group-sm {
    @media (min-width: @screen-sm-min) {
      .sv-control-label {
        padding-top: (@padding-small-vertical + 1);
      }
    }
  }
}

/*use when including sv-has-feedback when also using an sv-input-group*/
.sv-has-feedback-in-input-group {
  position: relative;
}

/*if we've got an input group with feedback then we apply a special style to ensure that the positioning of the icon is correct*/
.sv-form-horizontal .sv-has-feedback .sv-has-feedback-in-input-group .sv-form-control-feedback {
  right: 0;
}

/*styles for pagination within a form*/
.sv-form-pagination, .sv-form-pagination-btn {
  text-align: right;
  margin-left: @padding-base-horizontal;
  margin-right: @padding-base-horizontal;
}

.sv-form-pagination > ul, .sv-form-pagination-btn > ul, .sv-form-pagination .sv-pagination {
  margin-bottom: 0;
}

.sv-form-pagination, .sv-form-pagination-btn {
  &.sv-form-pagination-single-page {
    .sv-form-pagination-rec-count, .sv-pagination {
      display: none; //hide record bar if there is only a single page
    }
  }
  
  @media (max-width: @screen-xs-max) {
    .sv-pagination-page {
      display: none; //hide page numbers on xs devices   
    }
  }
}

// Used for information (e.g. Showing records 1 to 10)
.sv-form-pagination-rec-count {
  text-align: right;
  margin-bottom: 0;  
}

/*used when we have a static page with a non-editable (Uniface-created) field*/
.sv-form-control-static .sv-form-control{
  margin-top: -(@padding-base-vertical + 1); // Default padding plus a border;
  margin-bottom: -(@padding-base-vertical + 1); // Default padding plus a border
}

//style the main form container
.sv-form-container {
  margin-bottom: (@padding-base-vertical * 2);
}

//style used by inline errors in places such as tables
.sv-inline-error {
  padding-left: 5px;   
}

.sv-form-group .sv-help-block {
  margin-bottom: 5px;
}