.sv-footer {
  background-color: #232323;
  padding: 40px 0 40px 0;
    address {
      color:@grey-hairlines;
  }
    h3 {
    margin-top:0;
    font-size:18px;
     color:white;
    }

    a {
    color:@interaction-blue-light;
    font-size:15px;
    }
    p {
    margin-top:20px;
    }
}

