.login-bg {
    background-image:url('@{imgUrl}login-bg.png');
    background-repeat: no-repeat;
    padding-top:40px;
    padding-left:30px;
    background-size: cover;
    background-repeat: no-repeat;
}

.uob-form-login {
   	background-color: #EBEBEB;
    //padding-top:40px;
    padding:40px 30px;
    p{color:@grey-mid;}

}


.flex-row, .flex-row > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:0 auto;
    height:100%;
}

.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
    //-webkit-flex: 2;
    //flex: 2;
}

.uob-sso {
    	border: 1px solid #D1D1D1;
    background-color: #EBEBEB;
}