.uob-panel {
    background-color:#fff;
    border: 1px solid #CAC7B9;
    &--nobackground {
        background:none;
    }
    &_section-text {
    padding: 14px 17px 14px 29px;
    }

}

// Bootstrap animated collapse/expand
.sv-panel-collapsed {
    background-color: #fff;
    border: 1px solid @grey-border;
}

.sv-panel-expanded {

}

.sv-panel-primary > .sv-panel-heading {
  color: #232323;
  /* background-color: #f7f7f7; */
  /* border-color: #f7f7f7; */
}

.sv-panel-primary > .sv-panel-heading + .sv-panel-collapsed > .sv-panel-body {
  border-top-color: red;
}

.sv-panel-collapsible > .sv-panel-heading {
    background-color: #fff;
    border: 1px solid @grey-border;
    color: @interaction-blue;
    padding: 18px 5px 18px 15px;
    border-left: 10px solid #fff;
}