</div>
<!-- / container -->
<footer class="sv-footer">
    <div class="sv-container">
        <div class="sv-row">
            <div class="sv-col-md-4 sv-col-sm-3 sv-col-sm-push-3">
                <h3>Information for...</h3>
                <ul class="sv-list-unstyled">
                    <li><a href="">New Students</a></li>
                    <li><a href="">Current Students</a></li>
                    <li><a href="">Current Staff</a></li>
                </ul>
            </div>
            <div class="sv-col-sm-3 sv-col-sm-push-3">
                <h3>Study at Bristol</h3>
                <ul class="sv-list-unstyled">
                    <li><a href="">Undergradutate study</a></li>
                    <li><a href="">Postgraduate study</a></li>
                    <li><a href="">International students</a></li>
                    <li><a href="">Accommodation</a></li>
                    <li><a href="">Students' Union</a></li>
                    <li><a href="">Sport, exercise and health</a></li>
                </ul>
            </div>
            <div class="sv-col-md-2 sv-col-sm-3 sv-col-sm-push-3">
                <ul class="sv-list-unstyled">
                    <li><a href="">Help</a></li>
                    <li><a href="">Modern Slavery statement</a></li>
                    <li><a href="">Terms and conditions</a></li>
                    <li><a href="">Privacy and cookie policy</a></li>
                </ul>

            </div>
            <div class="sv-col-sm-3 sv-col-sm-pull-9">
                <address>
                    University of Bristol <br/> Senate House<br/> Tyndall Avenue<br/> Bristol, BS8 1TH, UK.
                    <p>Tel: +44 (0)117 928 9000</p>
                    <p>© 2002–2017 <br/> University of Bristol</p>
                </address>
            </div>

        </div>
        <!-- /sv row -->
    </div>
</footer>
</body>
<script>
    {# //Grab switch button
    const button = document.querySelector('#switch');
    //Grab container element
    const container = document.querySelector('#wrapper');

    function switchContainerWidth() {

        if (container.classList.contains('sv-container')) {
            container.classList.remove('sv-container')
            container.classList.add('sv-container-fluid')
        }
        else {
            container.classList.add('sv-container')
            container.classList.remove('sv-container-fluid')
        }
    }
    button.addEventListener('click', switchContainerWidth); #}
</script>
</html>