<body>
    <a class="sv-sr-only" href="#sv-page-top">Skip navigation</a>

    <header class="sv-header-main sv-hidden-print">

        <!-- top bar -->
        <nav class="sv-navbar sv-navbar-default">
            <div class="sv-container-fluid">
                <!-- <ul class="sv-nav sv-navbar-nav">
                     <li> -->
                        <h1 class="sv-text-uppercase" style="font-size:13px; color:#b6b6b6; display:inline-block">Student Lifecycle support:
                            <span class="sv-visible-xs-inline">xtra small breakpoint</span>
                            <span class="sv-visible-sm-inline">Small Breakpoint</span>
                            <span class="sv-visible-md-inline"> medium Breakpoint</span>
                            <span class="sv-visible-lg-inline">Large breakpoint</span></h1>

                  <!--   </li>
                </ul> -->
                <ul class="sv-nav sv-navbar-nav sv-navbar-right" role="menu">
                                       <li role="menuitem" class="sv-dropdown">

                        <a href="#" class="sv-dropdown-toggle" data-sv-toggle="sv-dropdown"><span style="color:white" class="glyphicon glyphicon-user" aria-hidden="true"></span>Caroline Lonnamerson<b class="sv-caret"></b></a>
                        <ul role="menu" class="sv-dropdown-menu">
                            <li role="menuitem"><a href="#">profile</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- / container-fluid -->
        </nav>
        <!-- / topbar -->
        <!-- main navbar -->
      {% include "navigation.njk" %}
        <!-- / navbar -->
    </header>
    <a id="sv-page-top"></a>
    <div class="sv-page-content sv-container">

        {% block content %}
         {% endblock %}