<!doctype html>
<html class="no-js" lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link rel="stylesheet" href="{{ base_path }}assets/css/{{ version }}/sv.css"> 


    <link rel="stylesheet" href="{{ base_path }}assets/css/{{ version }}/sits-ui.css">
    {% block head %}

    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="../plugins/javascript/html5shiv.min.js"></script>
<script src="../plugins/javascript/respond.min.js"></script>
<![endif]-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="{{ base_path }}assets/js/plugins/jquery.js?v=910.1"></script> -->
     <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>  -->

   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>  



     
    <script src="{{ base_path }}assets/js/plugins/sv.js?v=910.1"></script>
    <script src="{{ base_path }}assets/js/settings.js?v=920.1"></script>
    <script src="{{ base_path }}assets/js/sits_ajax.js?v=920.1"></script>
    <script src="{{ base_path }}assets/js/tablesaw.min.js?v=920.1"></script>
     <script src="{{ base_path }}assets/js/plugins/datatables/jquery.datatables.min.js?v=910.1"></script>   

     <script src="{{ base_path }}assets/js/plugins/dataTables/datatables.tribal.min.js?v=920.1"></script> 
    <!-- <script src="{{ base_path }}assets/js/uob_js/uob-main.js"></script> -->
</head>