

<nav class="sv-navbar sv-navbar-default" style="min-height:80px">
      <div class="sv-container-fluid">
        <div class="sv-navbar-header">
          <button type="button" class="sv-navbar-toggle" data-sv-toggle="sv-collapse" data-sv-target=".sv-navbar-responsive-collapse">
            <span class="sv-icon-bar"></span>
            <span class="sv-icon-bar"></span>
            <span class="sv-icon-bar"></span>
          </button>
          <a href="#"><img src="{{ base_path }}assets/images/UoB_logo-white.svg" class="uob-logo" alt="University of Bristol logo"></a>
        </div>
        <div class="sv-navbar-collapse sv-collapse sv-navbar-responsive-collapse sv-navbar-right">
          <ul role="menu" class="sv-nav sv-navbar-nav">
            <!-- The Tab list field contains each page tab as a li item, child page tabs will create a new ul within the outer ul -->
            <!-- Includes VCON and CONTENT as without this we can't dynamically set styles based on break points and max tabs -->
            <li role="menuitem" class="sv-active">
<a href="siw_portal.url?9271789E71E911E7XnOes1CYU_YtFk7OFdn4v-_bS62K2YDqm22kOLxInMoS4TaDKqSukurGyY78K4q28zaGcK417sNlIbR5SkDzbR4OY0i_moKhV33qyWpbfAM" id="HOM001">Student Home</a>

</li>
<li role="menuitem">
<a href="siw_portal.url?92717F5671E911E7V9BaeWk9vem-FGTBLrQMwRDOg-62Z6ODY2eRh1-TVotozAtRPU7zRfA43Usw_qqD6D1pQO_cjT_7eLnRTUU5DwfODHA6eXr76ZNNDrDWIa0" id="GT001">Gavin's page</a>

</li>
<li role="menuitem">
<a href="siw_portal.url?9271856471E911E7sbwdLcqAEU_MWIQ4lpRGvUgkxnDwOFKvCZaZjUlS7TZEfcNPz4PDtZW71NXK944OYBVdExgwM9TA2pi10dInMbAQm6yJvOoqxGSiwQje3K0" id="SMR001">Student Marketing</a>

</li>
<li role="menuitem" class="sv-visible-xs sv-visible-md sv-visible-lg">
<a href="siw_portal.url?92718C1271E911E7-FtK2-tBMu0vJp38l5_WEU0FHi7BnhePoAu6EBkRfchpE2fXvUK4GUVMZX2GuvVScJlkzKg65JKmntw6ZSaaJXQYGbtmlCPWTZzD9JjJHwQ" id="ADM001">Admissions</a>

</li>
<li role="menuitem" class="sv-visible-xs sv-visible-md sv-visible-lg">
<a href="siw_portal.url?9271928E71E911E7QhZ4ejhGv-T7zQrYK63UrcasQDDPVqMFSK5pXA2qGq1UW8lVtrjDjTGOoBWgmTZFD62Xelb-qVvFYnE5JAbxobSFba8b6w7MJJH5QIN9_zc" id="ADM002">My Applications</a>

</li>
<li role="menuitem" class="sv-visible-xs sv-visible-lg">
<a href="siw_portal.url?9271992871E911E7KzGi91MfyMmz_bUsEa1IALj8aGaoDNiysia8CVJdOGiiwJ3BsUkEGO98eLp-h14R92siJqhiCFgq11HHb08snv601dJ6mU72NYPsNaRXmjA" id="CRT001">Curriculum</a>

</li>
<li role="menuitem" class="sv-dropdown sv-visible-xs sv-visible-lg">
<a href="javascript://FIN001" class="sv-dropdown-toggle" data-sv-toggle="sv-dropdown" aria-haspopup="true" aria-expanded="false">Finance <b class="sv-caret"></b></a>

<ul role="menu" class="sv-dropdown-menu"><li role="menuitem" class=""><a href="siw_portal.url?9271A03A71E911E7nvajM4r0tGklEirAd03AVxcTkr8BcxvzUJdvfNUEYchcn8UZnF7DLmtkTsoLyMT5APHdcPN6aC1Cka2-990eJZDaiFeT340KVjlWrHk2Yy8" id="FIN001">Finance Home</a></li>
<li role="menuitem" class="sv-visible-xs sv-visible-lg">
<a href="siw_portal.url?9271A79C71E911E7Y_OlVZ1gRh4FMuzj9diekmm1wqvgDuUP8NszZ3SXDRnbNKf3xEajJwc_j47FDwGoaKwr4hTfGlP0LQDD8XGGJdE-YEgfA9CwmN3jPf0sGtg" id="FIN901">Student Funding (Development)</a>

</li>
<li role="menuitem" class="sv-visible-xs sv-visible-lg">
<a href="siw_portal.url?9271AFE471E911E7jRpfaS3H1yWPM4emQldbZbrCugmpLJfXGFhGITYHTwU0IQbQ8Ozpe2dkMwQF2JInAYW0JONHpwg8aSLKcHCvn-MyI2t_XfqKULAxSBSPosM" id="FIN902">Student Funding (Testing)</a>

</li>
<li role="menuitem" class="sv-visible-xs sv-visible-lg">
<a href="siw_portal.url?9271B82271E911E7k6TRsgpKq3Zkosk3-BHdPhSL6drZhvA8ZgJWz03EzLFQ2rVUDRutErQ51nRoSODzn8iYxVTelNimKweTaAftTGemtbjJMoq8VDBYBrzWwKU" id="FIN911">Finance Transactions</a>

</li>
<li role="menuitem" class="sv-visible-xs sv-visible-lg">
<a href="siw_portal.url?9271C06071E911E7tPdknIyoUMhsLy4Qg0rkqjhhb_h7MmGdeiphKWCTSBC2dsUaKbfAfdp9-LEiUe0jFEZZFXqnoJvb1rL3sagwjZ-GVdAb2p4-h_DupFiCdqU" id="FIN980">System Administration</a>

</li>
<li role="menuitem" class="sv-visible-xs sv-visible-lg">
<a href="siw_portal.url?9271C8EE71E911E7dr_qS3ImB6AWKcUxvbb8rZ1Co4Wb2EjYFCRzZ0NSG7F3KLbNJRRwS8BtNQhan48d8KL99LS8V7VHJ4S44sDXuT77gVzMkTFdV65leo5YtS0" id="FIN990">Programs and Background Functions</a>

</li>

</ul>
</li>
<li role="menuitem" class="sv-visible-xs sv-visible-lg">
<a href="siw_portal.url?9271D2EE71E911E7_GxIK5NdmDjJJSRck4pJdK7dF_DTXTaDjcA8z3UlEQqc6PGc6ZbJdBQlAODAqQxt9Jcc1PxESEU_2GQ30VIjXIRPJQMjjSdYabxSOpPBCGE" id="ENR001">Enrolment</a>

</li>
<li role="menuitem" class="sv-visible-xs">
<a href="siw_portal.url?9271DC7671E911E7oa-P3Jdy_7c0R3tCny2NGyLWZXf_3yoN7TU4QL8i4pwjwgbJztJGVrRdOyng6DLx7mLkIc7wNVGXETPUph35KXOzkZWzbpk5JpXJ9rZeHQg" id="ASF001">Assessment</a>

</li>
<li role="menuitem" class="sv-visible-xs">
<a href="siw_portal.url?9271E58671E911E7IpN742pva-yXfqWqY_MCbC9mW-lF13EaGWrQe9XIzecfwVEGiBr2BhP7chvqkx6QYGqatpt_D2NhlOoSnKcm7B6hPLrSRZY0r40QkNCCjQU" id="DEV001">Developers</a>

</li>
<li role="menuitem" class="sv-visible-xs">
<a href="siw_portal.url?9271EE8271E911E7czaAc1-trm1laD8VHDWacDmyxoSRLPhNzYs9ZGt0ShPhbRrAyVDHjRQ-xaYHHk9nAHRGXmnUzbNedcUC0U0RDhD-uYqBKc6zCg0vcPrkGyA" id="HOM002">Landing page</a>

</li>

<li role="menuitem" class="sv-dropdown sv-visible-sm sv-visible-md sv-visible-lg">

  <a href="#" class="sv-dropdown-toggle" data-sv-toggle="sv-dropdown">

    <span class="glyphicon glyphicon-plus">

      <span class="sv-sr-only">+</span>

    </span>

  </a>

  <ul role="menu" class="sv-dropdown-menu">
<li role="menuitem" class="sv-visible-sm">
<a href="siw_portal.url?92718C1271E911E7-FtK2-tBMu0vJp38l5_WEU0FHi7BnhePoAu6EBkRfchpE2fXvUK4GUVMZX2GuvVScJlkzKg65JKmntw6ZSaaJXQYGbtmlCPWTZzD9JjJHwQ" id="smADM001">Admissions</a>

</li>
<li role="menuitem" class="sv-visible-sm">
<a href="siw_portal.url?9271928E71E911E7QhZ4ejhGv-T7zQrYK63UrcasQDDPVqMFSK5pXA2qGq1UW8lVtrjDjTGOoBWgmTZFD62Xelb-qVvFYnE5JAbxobSFba8b6w7MJJH5QIN9_zc" id="smADM002">My Applications</a>

</li>
<li role="menuitem" class="sv-visible-sm sv-visible-md">
<a href="siw_portal.url?9271992871E911E7KzGi91MfyMmz_bUsEa1IALj8aGaoDNiysia8CVJdOGiiwJ3BsUkEGO98eLp-h14R92siJqhiCFgq11HHb08snv601dJ6mU72NYPsNaRXmjA" id="smCRT001">Curriculum</a>

</li>
<li role="menuitem" class="sv-dropdown-submenu sv-visible-sm sv-visible-md">
<a href="javascript://FIN001" tabindex="-1" aria-haspopup="true" aria-expanded="false">Finance</a>
<ul role="menu" class="sv-dropdown-menu"><li role="menuitem" class=""><a href="siw_portal.url?9271A03A71E911E7nvajM4r0tGklEirAd03AVxcTkr8BcxvzUJdvfNUEYchcn8UZnF7DLmtkTsoLyMT5APHdcPN6aC1Cka2-990eJZDaiFeT340KVjlWrHk2Yy8" id="smFIN001">Finance Home</a></li>
<li role="menuitem" class="sv-visible-sm sv-visible-md">
<a href="siw_portal.url?9271A79C71E911E7Y_OlVZ1gRh4FMuzj9diekmm1wqvgDuUP8NszZ3SXDRnbNKf3xEajJwc_j47FDwGoaKwr4hTfGlP0LQDD8XGGJdE-YEgfA9CwmN3jPf0sGtg" id="smFIN901">Student Funding (Development)</a>

</li>
<li role="menuitem" class="sv-visible-sm sv-visible-md">
<a href="siw_portal.url?9271AFE471E911E7jRpfaS3H1yWPM4emQldbZbrCugmpLJfXGFhGITYHTwU0IQbQ8Ozpe2dkMwQF2JInAYW0JONHpwg8aSLKcHCvn-MyI2t_XfqKULAxSBSPosM" id="smFIN902">Student Funding (Testing)</a>

</li>
<li role="menuitem" class="sv-visible-sm sv-visible-md">
<a href="siw_portal.url?9271B82271E911E7k6TRsgpKq3Zkosk3-BHdPhSL6drZhvA8ZgJWz03EzLFQ2rVUDRutErQ51nRoSODzn8iYxVTelNimKweTaAftTGemtbjJMoq8VDBYBrzWwKU" id="smFIN911">Finance Transactions</a>

</li>
<li role="menuitem" class="sv-visible-sm sv-visible-md">
<a href="siw_portal.url?9271C06071E911E7tPdknIyoUMhsLy4Qg0rkqjhhb_h7MmGdeiphKWCTSBC2dsUaKbfAfdp9-LEiUe0jFEZZFXqnoJvb1rL3sagwjZ-GVdAb2p4-h_DupFiCdqU" id="smFIN980">System Administration</a>

</li>
<li role="menuitem" class="sv-visible-sm sv-visible-md">
<a href="siw_portal.url?9271C8EE71E911E7dr_qS3ImB6AWKcUxvbb8rZ1Co4Wb2EjYFCRzZ0NSG7F3KLbNJRRwS8BtNQhan48d8KL99LS8V7VHJ4S44sDXuT77gVzMkTFdV65leo5YtS0" id="smFIN990">Programs and Background Functions</a>

</li>

</ul>
</li>
<li role="menuitem" class="sv-visible-sm sv-visible-md">
<a href="siw_portal.url?9271D2EE71E911E7_GxIK5NdmDjJJSRck4pJdK7dF_DTXTaDjcA8z3UlEQqc6PGc6ZbJdBQlAODAqQxt9Jcc1PxESEU_2GQ30VIjXIRPJQMjjSdYabxSOpPBCGE" id="smENR001">Enrolment</a>

</li>
<li role="menuitem">
<a href="siw_portal.url?9271DC7671E911E7oa-P3Jdy_7c0R3tCny2NGyLWZXf_3yoN7TU4QL8i4pwjwgbJztJGVrRdOyng6DLx7mLkIc7wNVGXETPUph35KXOzkZWzbpk5JpXJ9rZeHQg" id="smASF001">Assessment</a>

</li>
<li role="menuitem">
<a href="siw_portal.url?9271E58671E911E7IpN742pva-yXfqWqY_MCbC9mW-lF13EaGWrQe9XIzecfwVEGiBr2BhP7chvqkx6QYGqatpt_D2NhlOoSnKcm7B6hPLrSRZY0r40QkNCCjQU" id="smDEV001">Developers</a>

</li>
<li role="menuitem">
<a href="siw_portal.url?9271EE8271E911E7czaAc1-trm1laD8VHDWacDmyxoSRLPhNzYs9ZGt0ShPhbRrAyVDHjRQ-xaYHHk9nAHRGXmnUzbNedcUC0U0RDhD-uYqBKc6zCg0vcPrkGyA" id="smHOM002">Landing page</a>

</li>


  </ul>

</li>

          </ul>
        </div>
      </div> <!-- / container-fluid -->
    </nav>