 {<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="../plugins/javascript/html5shiv.min.js"></script>
<script src="../plugins/javascript/respond.min.js"></script>
<![endif]-->
    <script src="../plugins/javascript/jquery.js?v=910.1"></script>
    <script src="../plugins/javascript/jquery-ui.js?v=910.1"></script>
    <script src="../plugins/javascript/sv.min.js?v=910.1"></script>
    <script src="../javascript/settings.js?v=920.1"></script>
    <script src="../javascript/sits_ajax.js?v=920.1"></script>
    <script src="../plugins/javascript/tablesaw/tablesaw.min.js?v=920.1"></script>
    <script src="../plugins/javascript/datatables/media/js/jquery.dataTables.min.js?v=910.1"></script>
    <script src="../plugins/javascript/datatables/media/js/dataTables.tribal.min.js?v=920.1"></script>
    <script src="../javascript/uob_js/uob-main.js"></script>