<body>
    <a class="sv-sr-only" href="#sv-page-top">Skip navigation</a>

    <header class="sv-header-main sv-hidden-print">

        <!-- top bar -->
        <nav class="sv-navbar sv-navbar-default">
            <div class="sv-container-fluid">
                <!-- <ul class="sv-nav sv-navbar-nav">
                     <li> -->
                        <h1 class="sv-text-uppercase" style="font-size:13px; color:#b6b6b6; display:inline-block">Student Lifecycle support:
                            <span class="sv-visible-xs-inline">xtra small breakpoint</span>
                            <span class="sv-visible-sm-inline">Small Breakpoint</span>
                            <span class="sv-visible-md-inline"> medium Breakpoint</span>
                            <span class="sv-visible-lg-inline">Large breakpoint</span></h1>

                  <!--   </li>
                </ul> -->
                <ul class="sv-nav sv-navbar-nav sv-navbar-right" role="menu">
                    <li role="menuitem"><a href="#">Student</a></li>
                    <li role="menuitem"><a href="#">Staff</a></li>
                    <li role="menuitem" class="sv-dropdown">

                        <a href="#" class="sv-dropdown-toggle" data-sv-toggle="sv-dropdown"><span style="color:white" class="glyphicon glyphicon-user" aria-hidden="true"></span>Caroline Lonnamerson<b class="sv-caret"></b></a>
                        <ul role="menu" class="sv-dropdown-menu">
                            <li role="menuitem"><a href="#">profile</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- / container-fluid -->
        </nav>
        <!-- / topbar -->
        <!-- main navbar -->
        <nav class="sv-navbar sv-navbar-default" style="min-height:80px">
            <div class="sv-container-fluid">
                <div class="sv-navbar-header">
                    <button type="button" class="sv-navbar-toggle" data-sv-toggle="sv-collapse" data-sv-target=".sv-navbar-responsive-collapse">
                    <span class="sv-icon-bar"></span>
                    <span class="sv-icon-bar"></span>
                    <span class="sv-icon-bar"></span>
                </button>
                    <a href="#"><img src="{{ base_path }}assets/images/UoB_logo-white.svg" class="uob-logo" alt="University of Bristol logo"></a>
                    <!-- <a href="#"><img src="{{ base_path }}assets/images/uob-logo-dark.png" style="width:168px" class="uob-logo"></a> -->
                </div>
                <div class="sv-navbar-collapse sv-collapse sv-navbar-responsive-collapse sv-navbar-right">

                    <ul role="menu" class="sv-nav sv-navbar-nav">
                        <!-- Code generated below is unchangeable: Produced by SITS :  <<TAB_LIST.DUMMY>> -->
                        <li role="menuitem" class="sv-active">
                            <a href="#" id="HOM001">Home</a>

                        </li>
                        <li role="menuitem">
                            <a href="#" id="HOM002">My Applications</a>

                        </li>

                        <li role="menuitem">
                            <a href="#" id="HOM002">Contact Us</a>

                        </li>
                    </ul>
                </div>

            </div> <!-- / container-fluid -->
        </nav>
        <!-- / navbar -->
    </header>
    <a id="sv-page-top"></a>
    <div class="sv-page-content sv-container">

        {% block content %}
         {% endblock %}