<!-- components.njk -->
{% set base_path = "../" %} {% include "../partials/head.njk" %}

{% block head %}

<div class="sv-page-content sv-container">
<script type="text/javascript">sits_widget_bp = {"dt":{"emptyTable":"No information available","info":"Showing _START_ to _END_ of _TOTAL_ entries","infoEmpty":"No entries to show","infoFiltered":" (filtered from _MAX_ total entries)","lengthMenu":"Show _MENU_ entries","loadingRecords":"Loading...","processing":"Processing...","search":"Search:","zeroRecords":"No matching entries found","paginate":{"first":"First","last":"Last","next":"Next","previous":"Previous"},"aria":{"sortAscending":": use to sort column ascending","sortDescending":": use to sort column descending"},"tribal":{"detailsLabelOpen":"Activate to show additional details for this row","detailsLabelClose":"Activate to hide additional details for this row","detailsLabelDataOpen":"Activate to show additional details for _DATA_","detailsLabelDataClose":"Activate to hide additional details for _DATA_"}},"ts":{"modes":["Stack","Swipe","Toggle"],"columns":"Col<span class=\"a11y-sm\">umn<\/span>s","columnBtnText":"Columns","columnsDialogError":"No eligible columns.","sort":"Sort","prevBtnText":"Show previous column on the following table","nextBtnText":"Show next column on the following table","prevBtnDisabledText":"Show previous column on the following table (not currently available)","nextBtnDisabledText":"Show next column on the following table (not currently available)","sortAscText":": use to sort column ascending","sortDescText":": use to sort column descending"},"pg":{"infoText":"Showing page {0} of {1}","infoWithRecsText":"Showing page {0} of {1} with {2} records per page","firstBtnText":"First","prevBtnText":"Previous","nextBtnText":"Next","lastBtnText":"Last","firstBtnAriaText":"Show first page","prevBtnAriaText":"Show previous page","nextBtnAriaText":"Show next page","lastBtnAriaText":"Show last page","pageBtnAriaText":"Show page {0}"},"tp":{"currentText":"Now","closeText":"Done","timeOnlyTitle":"Choose Time","timeText":"Time","hourText":"Hour","minuteText":"Minute","secondText":"Second","millisecText":"Millisecond","microsecText":"Microsecond","timezoneText":"Time Zone"},"ui":{"dialogOk":"Ok","dialogCancel":"Cancel","tabsClose":"Close","dialogClose":"Close","moreDetails":"More Details","datePickerDate":"Select a date","datePickerTime":"Select a time","datePickerDateTime":"Select a date\/time","loading":"Loading...","selectAllTitle":"Select All","selectAll":"Select All","selectNone":"Select None","invertAll":"Invert All","errorText":"Error","datePickerMonth":"Select a month","datePickerYear":"Select a year","tabsScrollLeft":"Scroll left","tabsScrollRight":"Scroll right"},"ld":{"loadTitle":"Loading","loadContent":"Loading, please wait...","processTitle":"Processing","processContent":"Processing, please wait...","saveTitle":"Saving","saveContent":"Saving, please wait..."},"to":{"sessionTitle":"Session Expiry","sessionContent":"Your session is due to expire in approximately {0} minute(s). If you would like to continue using this session, please click \"Continue\".","pageTitle":"Page Expiry","pageContent":"This page is due to expire in approximately {0} minute(s). If you would like to continue using this page, please click \"Continue\".","buttonContinue":"Continue"}};</script>
<script>sits_user_timeout = "0094F0CA7B8211E7KC-SPLjUtW60hqQr4Q9YdwiO-mWCyxRp7lwUKQkh2lyTf9yIkwszEkgSvZGAvDDX-tLKkLePAuWJHSlNuB51dA2yJh4aM9R_";</script>
<!-- body-start.hts page header include ends here -->

<!-- Start Of Extra Javascripts -->
<script type="text/javascript" src="../javascript/srs_ycls_svc.js"></script>
<script type="text/javascript" src="../javascript/siw_yacd.js"></script>
<script type="text/javascript" src="../javascript/dmu.js"></script>
<!-- End Of Extra Javascripts -->

<!-- Start Of Extra Stylesheets -->
<script type="text/javascript">
sits_include_file("../css/siw_yacd.css");
sits_include_file("../css/siw_adm_app.css");
</script>

<!-- Fix IE8 display issue of search bar-->
<!--[if lte IE 8]> <style> 
  #yacd_search{
    min-width: auto;
  }
  </style> <![endif]-->
<!-- End Of Extra Stylesheets -->

	
<form method="POST" action="SIW_YACD">


  
		
			<script>function get_server_vals(){yacd.bparray = ["Application Clearance \& Decision Entry","","","<<@SV303_01>>","Loading...","<img src=\"..\/images\/working.gif\" alt=\"Loading . . .\"> Loading . . .","Close","Error","Stage","Decision","Decision Date","Response","Response Date","Respond By","Record Locked - in transit to UCAS","No Applicant Retrieved","Processed through Applicant Transfer (ATR)","No search criteria entered.","No applicants retrieved.","No applicants found for entered criteria.","Yes","No","Existing Applications","MAS Course","Course Name","Year","Block\/Occ","Decision","In Package","Action","Current Package","Rank","Save \/ Generate","Add Course to Package","Cancel","MAS Course","Block","Occurrence","Programme","Route","Academic Year","Month","Mode of Attendance","Department","Faculty","Add Course","Add","Remove","Unknown error","A Course Application (CAP) record already exists for this applicant\/course, do you want to create a new CAP record?","Decision Category","Apply Decisions","Rank","MAS Course","Title","Year","Block\/Occurrence","Decision","Qual Status","Offer","First Element","Remaining Elements","Decision","Qual Status","Offer","Apply","Clear","Cancel","Select","Edit","Store","Select","Cancel","Search Criteria","Search Results","Add qualification","Delete Student Qualifications and Experience","Are you sure you want to delete this Student Qualifications and Experience (SQE)?","-- Select an Action --","Standard Letter (SRL) Text","Send <<SRL_TYPE>> <<SRL_SNAM>> to <<TARGET_ENT>> <<TARGET_VAL>>","Confirm Actions","Please confirm that the following actions will be carried out:","Ok","History","Elements","Standard Letter (SRL) Text","Notes","<span class=\"glyphicon glyphicon-arrow-up\"> <\/span><span class=\"sv-sr-only\"> Move PCO Up <\/span>","<span class=\"glyphicon glyphicon-arrow-down\"> <\/span> <span class=\"sv-sr-only\">Move PCO Down <\/span>","Applicant Search","£","Close","Delete","Store","Student Clearance Checks Details","Student Clearance Checks Generation","Delete Student Module Application","Are you sure you want to delete this Student Module Application (SMA)?","User Defined Fields","","","Next Step","Other Step","Documents","Upload","Select Student Clearance Checks Records to be generated","Generate and Store selected Student Clearance Checks Records","Student Clearance Checks records to Generate","Clearing Record Details","Please correct all invalid fields before storing","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","Student Module Application Details","Generate Student Module Application records","Previous Communications","New Communication","Communication","Lookup","Offer library search","Cancel","Enter search terms","Offer library search","Offer code","Name","Text","Select","Interview Details (<<MCR_NAME>> - <<IOD_NAME>>)","Store","Cancel","No interviews available for this applicant","Delete CAP Distribution Log","Are you sure you want to delete this CAP Distribution Log (CDL) record?","Sender","Action","Received by","View help","Close","Help - <<x>>","Student Transcript Record","Quals and Experience Records","Please correct invalid fields before  storing.","Please enter a Contact code.","Please enter a value","Please enter an Agent code.","Before adding a Contact, the Agent details need to be stored. Do you wish to store the current details?","Confirm Store","Existing Contact","Contact attached to other Agent, please enter another","Existing Agent Link","Agent More Details","Agent Contacts More Details","Agent Linkage Fields","Agent Linkage Details","Agent More Details","Agent Contacts","Agents","The maximum number of records has been exceeded. You may not retrieve more than {0} records, please amend your search criteria.","Maximum number of records exceeded.","Please enter a decision before entering a MARVIN offer.","Current Student Clearance Checks Records","Student Clearance Checks Records to be generated","Move student to Folder <<TO_FOLDER>> from Folder <<FROM_FOLDER>>","Information:","Warning:","Error:","Count of Applicants","Target Group","Target Details","Applicant Status","Applicant Count Overview","Legend","Legend","Target","No Decision","C-","CI","CF","U-","UI","UF","Estimated UF","","","Course Application (CAP) fields to be updated: <<UPDATE_FIELDS>>.","No applicants found for current criteria","Store Required","Records need to be stored before running an action. Do you wish to store and continue?","Cancel","Continue","Can not manually change the approved status to transferred.","Interview record can not be stored if Name, Date and Time have been left blank.","Use Standard Letter (SRL) Template","Select Template","Standard Letter User Template","Delete Student Transcript Record","Are you sure you want to delete this Student Transcript (STR) Record?","Delete Student Unit Grade Records","Are you sure you want to delete this Student Unit Grade (SQU) record?","Delete Clearance Checks Record","Are you sure you want to delete this Student Clearance Checks (SCC) Record?","Delete Research Degree Tutor Record?","Are you sure you want to delete this Research Degree Tutor (RDT) Record?","Unit Grade Details","Research Degree Tutor Details","Delete Agent Linkage","Are you sure you want to delete this Agent Linkage (AGL) record?","Delete Agent Contact","Are you sure you want to delete this Agent Contact (AGC)?","Research Degree Tutor","Action successful","Applicant cannot be modified as it has been moved to a different folder.","Calculated scores for this applicant","Item ratings for calculated score"];ycls.nkey="008AAA027B8211E74SfOyHUuEJMgECs-T7Bb9d8ljCjWmpTxONyMjyRet0G6ok20vW609IqH2sk2mTEnAFZOeKI98qKjayfU8s0bS9DDG9rlWyXYxekRt4R97cE";}</script>
			<input type="hidden" name="RUN_MODE.DUMMY.MENSYS.1" value="URL">
			<input type="hidden" name="NKEY.DUMMY.MENSYS.1" value="A278F2227B5C11E7ABXu0j10Zl5a2paQSWqi8_u0lUDkNs3L6ymmySQwL-92UcPRmvU_rwyQ6wzOaI3UsOBa89iYeFdsgot8-FWN6AJHUM9EDRdwdlbAfe-ZGZPouWWgbEV1ZY14XIyxETJ0UNn9g0y_Bz-eVpoMLV1AOkfq4AjreKDP3yVE3eLM3c0ELfoM0elIY0SjQp1TwyGNlfCSx7_LXS3RuFVx4lmGA1bZVC2JOIzPGH_99uZIP-H_eYK3cgiRjvaGepfHxMuTvPWfUC4xyt4mZYfhG1hPY2gnwHtIIe0ue2nkTriXI5891xYBV8nscwLy3zd1HQEVRA8HNx-GwQrmb0t0U_K9b9kFuaZuMXYreb2MyNsPeAE" id="nkey">
			<input type="hidden" name="TKEY.DUMMY.MENSYS.1" value="2017080716063431">
			<input type="hidden" name="ISS_CODE.DUMMY.MENSYS.1" value="0088FD88-7B82-11E7-938B-AA8DE123BE78" id="issc">
		
  <input type="hidden" name="%.DUMMY.MENSYS.1" value="FBYHC8QoCloevnM9St2pcr8mtuTxSudOQEXKFeo4na8=;new;;">

	
    

      <!-- title section  -->
          <div class="sv-page-header sv-hidden-xs">
            <h1>Application Clearance &amp; Decision Entry</h1>
            <p></p>
          </div>
          <div class="sv-page-header sv-hidden-md sv-hidden-lg sv-hidden-sm">
            <h1 class="sv-h1-small">Application Clearance &amp; Decision Entry</h1>
          </div>
      <!-- end of title section  -->
      
      <!-- tabs section for Admissions Dashboard-->
      <div class="sv-row">
        <div class="sv-col-md-12">
          <div class="sv-btn-group">



<p class="sv-btn-toolbarsv- text-center">
          
<a class="sv-btn sv-navbar-btn sv-btn-primary" href="SIW_ADM_DSH.start_url?008F1B6E7B8211E7QZeGYl77utS14dlMhKFKjFRsqo4S_B1iU7UlWvpVp8V-C3zPWbbDreb0WXjTkS95uVivulBEVTBg0cDojATwqdBihRteD8LjHgmLLj_v0_s8MBkYkKb8YIsyEJaxavQljAytOCF4iILpI0eVcvalHBDR-Cs_eiRZp23j19V2t763ncYZ8CgsFxXLnhfViTvq">Dashboard</a>



<a class="sv-btn sv-navbar-btn sv-btn-primary" href="">Applications</a>


</p>

</div>












        </div>
      </div>
      
      
      
      <!-- Head section -->
          <div id="yacd_header" style="height: 388px;"><div class="sv-row"><div class="sv-col-xs-12"><div class="sv-panel sv-panel-default sv-floating-content UATR floating_header" id="panel-ACD-HEAD" style="height: 363px;"><div class="sv-panel-body"><div class="sv-row"><div class="sv-col-xs-12"><div class="sv-form-container"><div class="sv-form-horizontal"><div class="sv-row"><div class="sv-col-xs-12"><div class="field_div UEN_NOTE"><span data-ent="UEN" data-name="UEN_NOTE.0" class="field_html">Processed through Applicant Transfer (ATR)</span></div></div><div class="sv-col-xs-12"><div class="sv-row"><div class="sv-col-xs-12 sv-col-sm-1"><div class="field_div LOAD"><span data-name="LOAD.0" class="field_html"></span></div></div></div></div><div class="sv-col-xs-12 sv-col-sm-12"><div class="field_div CUST_SRL"><span data-name="CUST_SRL.0" class="field_html"><script type="text/javascript">
function reloadApplication(){
	$("#CANCEL").click();
}
</script>

<!---=====================
		ALERTS
	  =====================---->

<div class="sv-row">
        <div class="sv-col-md-12">
        	<div class="sv-alert sv-alert-danger" role="alert">
  			<div><strong>Applicant age on entry is under 17  &nbsp; &nbsp; &nbsp; &nbsp;Check GCSE Requirements met.  &nbsp; &nbsp; &nbsp; &nbsp;</strong></div> 
			</div>
        </div>
  </div>


NEXT FOLDER:

<div class="sv-col-sm-12">
<div class="sv-table-container">

        <table class="sv-table sv-table-striped">
			<thead>
				<tr><th>Name</th>
				<th>Personal ID</th>
				<th>Course</th>
				<th>Created Date</th>	
                <th>Current Folder</th>	
                <th>App Category</th>
                <th>UCAS Choice</th>
                <th></th>		
                <th></th>
			</tr></thead>
			<tbody>
				<tr><td>Ryan Stewart Barlow (T_ams)</td>	
				<td>1106920153</td>
				<td>Medicine (MBChB)</td>
				<td>02/Oct/2013</td>
               <td>Consider For Interview</td>
                <td>H</td>
                <td>2</td>
				<td><a href="../run/SIW_YMHD.start_url?018C82FE7B8211E7q85diaIHHIjBCPyCrufjC_C0dumTC5TBJbsfO-Je97G9KWlI0239lqs3drf2VcLDwcKKlMCh0wTguUHYJuAPylzjwgwx3O9UvDBU-bhMBEdCgnRY8xWLQaSONQK0cC7gBwRhzcXI6v50Kn32bIHwC4h3dvj8_TvpvSqTtsIS58bn7OfuqoPbZ1IO2Yki-9WW3qjLESmVoYp9SUvdNo7eyVeVW6EK3iNCn8eOp3iXuWZ9ehgr7PcoRoXAS5soYBXWwEdxmnK7uWzguVeJgUhV-lyX1Gpc-HUQYGqu6bWixF0" target="_blank" class="sv-btn sv-btn-primary sv-btn-block">Rescore</a></td>
                <td><a href="../run/SIW_YMHD.start_url?018CC3187B8211E73CVUkQFcTV5rssTjDG1g0JgNL_v2KAhPQLFOVwKlVWr-SbgcRHCG8yxY_eFVgg_11hIIGTksrNa1sxpECY6EaU61B9oGiUUOhQAR5F9I6iHkZv8AqIVmWuyp6oNe_iOhKmBCxlJVOqzkTa2vThmmW4-B9z4CPcI84-qGNYFJ0X3ljtIE2C5aZcXfadUu-X5iSJKL8XVxq14u5eZQHE9ASdHzKcCxiXm8J56d3RIeX8YAj7Pnp_jWjvXHHmNavPLebs-6sI1zZgF1eC533uYoGwl9WCfEdVhiQAOTpQOS3K4" target="_blank" class="sv-btn sv-btn-primary sv-btn-block">Move Folder</a></td>
			</tr></tbody>
		</table>

</div>
</div></span></div></div><div class="sv-col-xs-12"><div class="sv-row"><div class="sv-col-xs-6"><div class="sv-row"><div class="sv-col-xs-12 sv-col-sm-6 sv-hidden-xs sv-hidden-sm sv-text-center sv-col-md-push-3"><div class="field_div OCCURRENCE sv-hidden-xs" title="<span data-name=&quot;OCCURRENCE.0&quot; class=&quot;field_html&quot;>Records 0 of 0.</span>"><span data-name="OCCURRENCE.0" class="field_html">Records 0 of 0.</span></div></div><div class="sv-col-xs-12 sv-col-sm-6 sv-col-md-pull-6 sv-col-md-3"><button type="button" name="LEFT" id="LEFT" class="sv-btn sv-btn-default sv-btn-block field_button LEFT" title="Previous" disabled="">Previous</button></div><div class="sv-col-xs-12 sv-col-sm-6 sv-col-md-3"><button type="button" name="RIGHT" id="RIGHT" class="sv-btn sv-btn-default sv-btn-block field_button RIGHT" title="Next" disabled="">Next</button></div></div></div><div class="sv-col-xs-6 sv-col-md-offset-2 sv-col-md-4"><div class="sv-row"><div class="sv-col-xs-12"><div class="sv-row"><div class="sv-col-xs-12 sv-col-sm-4"><button type="button" name="SEARCH" id="SEARCH" class="sv-btn sv-btn-default sv-btn-block field_button SEARCH" title="Search">Search</button></div><div class="sv-col-xs-12 sv-col-sm-4"><button type="button" name="CANCEL" id="CANCEL" class="sv-btn sv-btn-default sv-btn-block field_button CANCEL" title="Reload">Reload</button></div><div class="sv-col-xs-12 sv-col-sm-4"><button type="button" name="SAVE" id="SAVE" class="sv-btn sv-btn-default sv-btn-block field_button SAVE sv-btn-primary" title="Save" disabled="">Save</button></div></div></div></div></div></div></div><div class="sv-col-xs-12"><div class="sv-form-group MESSL"><label for="MESSL" title="Message Line" class="sv-col-sm-3 sv-control-label MESSL">Message Line</label><div class="sv-col-sm-9"><select name="MESSL.0" id="MESSL" class="sv-form-control field_input field_drop MESSL update_field" title="Message Line" style="display: none;"><option value="0">&nbsp;</option></select></div></div></div></div></div></div></div></div></div></div></div></div></div>
      <!-- -->
      
          <!-- Applicant search section -->
         <!-- <div id="yacd_search_overlay" class="hidden sv-floating-content"></div> -->
           <!-- class="hidden sv-floating-content" -->
      <!-- -->
      
      <!-- Tab section -->
          <div class="sv-row">
            <div class="sv-col-xs-12">
              <div id="yacd_tabs">
              <div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-UDT2 sv-panel-collapsible sv-panel-collapsed" id="panel-UDT2"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-a58d29fe-1cd7-430e-b099-60ca3ce7eaa9" aria-controls="sv-pb-df7ba87e-ca19-4cda-bec7-f0d2fb3f7b08" aria-expanded="false"><h2 class="sv-panel-title">Student/Address Details<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-df7ba87e-ca19-4cda-bec7-f0d2fb3f7b08" aria-labelledby="sv-ph-a58d29fe-1cd7-430e-b099-60ca3ce7eaa9" aria-hidden="true"><div id="ycls-tab-UDT2" data-panel="UDT2" class="ycls-tab-UDT2 UDT2"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-UDT8 sv-panel-collapsible sv-panel-collapsed" id="panel-UDT8"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-c9170aca-f7fe-461e-8cd0-c5d11d6fe399" aria-controls="sv-pb-26146168-9b53-46d7-80fe-8b0eccf1ec86" aria-expanded="false"><h2 class="sv-panel-title">Decision &amp; Folder Move Audit<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-26146168-9b53-46d7-80fe-8b0eccf1ec86" aria-labelledby="sv-ph-c9170aca-f7fe-461e-8cd0-c5d11d6fe399" aria-hidden="true"><div id="ycls-tab-UDT8" data-panel="UDT8" class="ycls-tab-UDT8 UDT8"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-UDT3 sv-panel-collapsible sv-panel-collapsed" id="panel-UDT3"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-aa23de4b-32b7-45c9-aae2-934e94519e15" aria-controls="sv-pb-810e955e-6417-44c4-8035-987495ef27ec" aria-expanded="false"><h2 class="sv-panel-title">UCAS/UTT Form Qualifications<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-810e955e-6417-44c4-8035-987495ef27ec" aria-labelledby="sv-ph-aa23de4b-32b7-45c9-aae2-934e94519e15" aria-hidden="true"><div id="ycls-tab-UDT3" data-panel="UDT3" class="ycls-tab-UDT3 UDT3"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-DOC sv-panel-collapsible sv-panel-collapsed" id="panel-DOC"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-0aa5c282-f83e-4a1d-8f23-d1baee6502d7" aria-controls="sv-pb-09cf9065-056d-4aeb-8a12-9605075f5cce" aria-expanded="false"><h2 class="sv-panel-title">Documents<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-09cf9065-056d-4aeb-8a12-9605075f5cce" aria-labelledby="sv-ph-0aa5c282-f83e-4a1d-8f23-d1baee6502d7" aria-hidden="true"><div id="ycls-tab-DOC" data-panel="DOC" class="ycls-tab-DOC DOC"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-CDL sv-panel-collapsible sv-panel-collapsed" id="panel-CDL"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-b8876dfd-b601-425b-bf58-de16bc8936e0" aria-controls="sv-pb-c2e43a06-b3e4-4430-b14b-4b7d8a7a5630" aria-expanded="false"><h2 class="sv-panel-title">Review &amp; Further Information Requests<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-c2e43a06-b3e4-4430-b14b-4b7d8a7a5630" aria-labelledby="sv-ph-b8876dfd-b601-425b-bf58-de16bc8936e0" aria-hidden="true"><div id="ycls-tab-CDL" data-panel="CDL" class="ycls-tab-CDL CDL"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-UDT10 sv-panel-collapsible sv-panel-collapsed" id="panel-UDT10"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-6d71c501-df02-4c3f-8bec-a7666e94b9f6" aria-controls="sv-pb-6e526ef7-c104-4846-88ae-7d5f0d64e302" aria-expanded="false"><h2 class="sv-panel-title">Review / Request Further Information<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-6e526ef7-c104-4846-88ae-7d5f0d64e302" aria-labelledby="sv-ph-6d71c501-df02-4c3f-8bec-a7666e94b9f6" aria-hidden="true"><div id="ycls-tab-UDT10" data-panel="UDT10" class="ycls-tab-UDT10 UDT10"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-UDT9 sv-panel-collapsible sv-panel-collapsed" id="panel-UDT9"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-bc663001-2453-41a7-9d16-34dd85499010" aria-controls="sv-pb-98b20558-739f-4bfa-828c-1eaffc82698f" aria-expanded="false"><h2 class="sv-panel-title">Communications with Applicant<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-98b20558-739f-4bfa-828c-1eaffc82698f" aria-labelledby="sv-ph-bc663001-2453-41a7-9d16-34dd85499010" aria-hidden="true"><div id="ycls-tab-UDT9" data-panel="UDT9" class="ycls-tab-UDT9 UDT9"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-COMM sv-panel-collapsible sv-panel-collapsed" id="panel-COMM"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-1f78dc24-a7d5-4103-89a2-855547dfc28e" aria-controls="sv-pb-5d8a1a5a-df98-42fd-81e6-1d8153145e7a" aria-expanded="false"><h2 class="sv-panel-title">Communications<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-5d8a1a5a-df98-42fd-81e6-1d8153145e7a" aria-labelledby="sv-ph-1f78dc24-a7d5-4103-89a2-855547dfc28e" aria-hidden="true"><div id="ycls-tab-COMM" data-panel="COMM" class="ycls-tab-COMM COMM"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-UDT6 sv-panel-collapsible sv-panel-collapsed" id="panel-UDT6"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-2f206370-4def-4179-9a0c-a6dffc6f1be2" aria-controls="sv-pb-5be5d736-ca55-4cbb-8f0c-893c60eb32ea" aria-expanded="false"><h2 class="sv-panel-title">Personal Statement<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-5be5d736-ca55-4cbb-8f0c-893c60eb32ea" aria-labelledby="sv-ph-2f206370-4def-4179-9a0c-a6dffc6f1be2" aria-hidden="true"><div id="ycls-tab-UDT6" data-panel="UDT6" class="ycls-tab-UDT6 UDT6"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-UDT5 sv-panel-collapsible sv-panel-collapsed" id="panel-UDT5"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-5f04694b-b49f-4d4a-8d5f-4a72dbbaceba" aria-controls="sv-pb-d7cb5ad4-ec11-4588-803e-f9fe5b4dc99c" aria-expanded="false"><h2 class="sv-panel-title">References<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-d7cb5ad4-ec11-4588-803e-f9fe5b4dc99c" aria-labelledby="sv-ph-5f04694b-b49f-4d4a-8d5f-4a72dbbaceba" aria-hidden="true"><div id="ycls-tab-UDT5" data-panel="UDT5" class="ycls-tab-UDT5 UDT5"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-IVIEW sv-panel-collapsible sv-panel-collapsed" id="panel-IVIEW"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-56852edb-d49f-4935-b9e7-e74f3f976475" aria-controls="sv-pb-3661732b-a1b1-4307-b08f-5392e7c3884e" aria-expanded="false"><h2 class="sv-panel-title">Interviews<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-3661732b-a1b1-4307-b08f-5392e7c3884e" aria-labelledby="sv-ph-56852edb-d49f-4935-b9e7-e74f3f976475" aria-hidden="true"><div id="ycls-tab-IVIEW" data-panel="IVIEW" class="ycls-tab-IVIEW IVIEW"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-SCC sv-panel-collapsible sv-panel-collapsed" id="panel-SCC"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-7b12b839-fcda-4d46-a949-61e919aa9d61" aria-controls="sv-pb-aaf6357c-189e-4e10-bd15-076658e47294" aria-expanded="false"><h2 class="sv-panel-title">Clearance Checks<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-aaf6357c-189e-4e10-bd15-076658e47294" aria-labelledby="sv-ph-7b12b839-fcda-4d46-a949-61e919aa9d61" aria-hidden="true"><div id="ycls-tab-SCC" data-panel="SCC" class="ycls-tab-SCC SCC"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-DEC sv-panel-collapsible sv-panel-collapsed" id="panel-DEC"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-5c511b23-f89d-44f1-a716-5049f8711465" aria-controls="sv-pb-ccb151bc-1b25-4982-8f2e-f254e2b8375d" aria-expanded="false"><h2 class="sv-panel-title">Decision<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-ccb151bc-1b25-4982-8f2e-f254e2b8375d" aria-labelledby="sv-ph-5c511b23-f89d-44f1-a716-5049f8711465" aria-hidden="true"><div id="ycls-tab-DEC" data-panel="DEC" class="ycls-tab-DEC DEC"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-UDT1 sv-panel-collapsible sv-panel-collapsed" id="panel-UDT1"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-932770cf-d020-437f-84d1-6a8613f28212" aria-controls="sv-pb-2dd11b2d-252a-46ec-bdd7-49e2d36bc4db" aria-expanded="false"><h2 class="sv-panel-title">Additional Details<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-2dd11b2d-252a-46ec-bdd7-49e2d36bc4db" aria-labelledby="sv-ph-932770cf-d020-437f-84d1-6a8613f28212" aria-hidden="true"><div id="ycls-tab-UDT1" data-panel="UDT1" class="ycls-tab-UDT1 UDT1"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-QUALS sv-panel-collapsible sv-panel-collapsed" id="panel-QUALS"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-8a73dadf-3852-40e3-91a2-f0546c429ba5" aria-controls="sv-pb-243db5a0-027f-443e-a86d-8aa81555a4a0" aria-expanded="false"><h2 class="sv-panel-title">Qualifications<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-243db5a0-027f-443e-a86d-8aa81555a4a0" aria-labelledby="sv-ph-8a73dadf-3852-40e3-91a2-f0546c429ba5" aria-hidden="true"><div id="ycls-tab-QUALS" data-panel="QUALS" class="ycls-tab-QUALS QUALS"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-UDT11 sv-panel-collapsible sv-panel-expanded" id="panel-UDT11"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-79f0e35a-511e-4183-8831-2ac06cc59efb" aria-controls="sv-pb-d8048a82-1704-44d4-84b4-3f37d814effa" aria-expanded="false"><h2 class="sv-panel-title">Scoring Results<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body" id="sv-pb-d8048a82-1704-44d4-84b4-3f37d814effa" aria-labelledby="sv-ph-79f0e35a-511e-4183-8831-2ac06cc59efb" aria-hidden="true"><div id="ycls-tab-UDT11" data-panel="UDT11" class="ycls-tab-UDT11 UDT11"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-UDT12 sv-panel-collapsible sv-panel-collapsed" id="panel-UDT12"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-69ba2475-6e5d-4efe-8f80-78042706a5aa" aria-controls="sv-pb-5cf9b65b-828a-403a-86c7-cef97a465248" aria-expanded="false"><h2 class="sv-panel-title">Enter Test Score<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-5cf9b65b-828a-403a-86c7-cef97a465248" aria-labelledby="sv-ph-69ba2475-6e5d-4efe-8f80-78042706a5aa" aria-hidden="true"><div id="ycls-tab-UDT12" data-panel="UDT12" class="ycls-tab-UDT12 UDT12"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-UDT7 sv-panel-collapsible sv-panel-collapsed" id="panel-UDT7"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-e95bdf39-be0d-4b2f-80d4-ee20a443d020" aria-controls="sv-pb-50fb8e83-1584-49b3-a405-74e6ee17763b" aria-expanded="false"><h2 class="sv-panel-title">UKVI Information<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-50fb8e83-1584-49b3-a405-74e6ee17763b" aria-labelledby="sv-ph-e95bdf39-be0d-4b2f-80d4-ee20a443d020" aria-hidden="true"><div id="ycls-tab-UDT7" data-panel="UDT7" class="ycls-tab-UDT7 UDT7"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-CLR sv-panel-collapsible sv-panel-collapsed" id="panel-CLR"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-bb486afd-a89d-4e49-9d25-e7ed93e49491" aria-controls="sv-pb-5713d22b-b36b-44b3-b7dd-89fe72f1147f" aria-expanded="false"><h2 class="sv-panel-title">Clearing<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-5713d22b-b36b-44b3-b7dd-89fe72f1147f" aria-labelledby="sv-ph-bb486afd-a89d-4e49-9d25-e7ed93e49491" aria-hidden="true"><div id="ycls-tab-CLR" data-panel="CLR" class="ycls-tab-CLR CLR"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-UDT4 sv-panel-collapsible sv-panel-collapsed" id="panel-UDT4"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-f6a24fd7-4db1-40e9-86fa-9e5272c38a80" aria-controls="sv-pb-08d0f1fa-8d31-4bcf-9c33-0e5a58787dd8" aria-expanded="false"><h2 class="sv-panel-title">Work Experience<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-08d0f1fa-8d31-4bcf-9c33-0e5a58787dd8" aria-labelledby="sv-ph-f6a24fd7-4db1-40e9-86fa-9e5272c38a80" aria-hidden="true"><div id="ycls-tab-UDT4" data-panel="UDT4" class="ycls-tab-UDT4 UDT4"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-CAPF1 sv-panel-collapsible sv-panel-collapsed" id="panel-CAPF1"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-53bd707e-e5c1-424d-9464-5d2e21480def" aria-controls="sv-pb-93f63ca7-bac7-4713-ab8e-3d1823a255d6" aria-expanded="false"><h2 class="sv-panel-title">Other Application Fields<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-93f63ca7-bac7-4713-ab8e-3d1823a255d6" aria-labelledby="sv-ph-53bd707e-e5c1-424d-9464-5d2e21480def" aria-hidden="true"><div id="ycls-tab-CAPF1" data-panel="CAPF1" class="ycls-tab-CAPF1 CAPF1"><div class="ycls-inner-content"></div></div></div></div><div class="sv-panel sv-panel-default sv-panel-primary ycls-collapsible ycls-init-collapse ycls-tab-CRA sv-panel-collapsible sv-panel-collapsed" id="panel-CRA"><div class="sv-panel-heading sv-panel-heading-action" role="heading" tabindex="0" id="sv-ph-93fc82fd-b7e0-4b43-ae71-758dbc06902f" aria-controls="sv-pb-43f315a6-daf7-45d1-9860-a70cef4b1df5" aria-expanded="false"><h2 class="sv-panel-title">Actions<span class="ui-icon sv-panel-icon ui-icon-triangle-1-n"></span></h2></div><div class="sv-panel-body sv-hide" id="sv-pb-43f315a6-daf7-45d1-9860-a70cef4b1df5" aria-labelledby="sv-ph-93fc82fd-b7e0-4b43-ae71-758dbc06902f" aria-hidden="true"><div id="ycls-tab-CRA" data-panel="CRA" class="ycls-tab-CRA CRA"><div class="ycls-inner-content"></div></div></div></div></div>
            </div>
          </div>
      <!-- -->

      <!-- Task Buttons -->
      <div class="sv-btn-container">
        <div class="sv-col-sm-offset-4 sv-col-sm-2">
          
        </div>
        <div class="sv-col-sm-2">
          
        </div>
      </div>

    <!-- end of sitspagecontent -->
    
  <input type="hidden" name="%.DUMMY_B.MENSYS.1" value="go73J9m/I4azpatX8UHBXHF7tqytPgD5BViFRTUTu2g=;new;;">

      <!-- body-end.hts page footer include starts here -->
      
      <!-- body-end.hts page footer include ends here -->

</form>


<!-- body-end.hts page header include starts here -->
  
      </div>

    {% endblock %} {% include "../partials/footer.njk" %}