<!-- index.nunjucks -->
{% set base_path = "" %}

{% include "../partials/head.njk" %}
{% include "../partials/header.njk" %}

<!-- Message and events -->
<div class="sv-container-fluid">

          <div class="sv-row">
  <div class="sv-col-md-12">
    <div class="sv-panel sv-panel-primary">
      <div class="sv-panel-heading">
        <h2 class="sv-panel-title">
          Data security and confidentiality agreement
        </h2>
      </div>
      <div class="sv-panel-body">
        <div class="sv-form-container">
          <div class="sv-form-horizontal">
            <fieldset>
              <legend>
                2. Data security and confidentiality agreement
              </legend>


          <input type="hidden" name="#.TTE.MENSYS.1-1" value="CBJDRU5SMDAxBCJDNjA=" /><input type="hidden" name="#CRC.TTE.MENSYS.1-1" value="D1D5D523" />


              <div class="sv-row">
  <div class="sv-col-sm-8">
  <p>Reasonable adjustments cannot be put in place without your permission for relevant staff to see your personal information.</p>

  <p>Access to your personal information will be limited to those who need it. For more information, click <a href="javascript:ShowData()">here.</a></p>

  <p>To discuss the benefits of disclosure and the options available, please contact Disability Services (telephone 0117 331 0444, email disability-services-advice@bristol.ac.uk) or the School Disability Coordinator(s) for your academic School(s) (<a href="http://www.bristol.ac.uk/disability-services/staff-professionals/school-disability/coordinators.html" target="_blank">see list</a>).</p>
  </div>
  <div class="sv-col-sm-4">
     <img style="width: 100%; object-fit: contain" src="../images/uob/DRS-One.jpg">
  </div>
</div>

<hr width="80%">

<div class="sv-form-group">
  <div class="sv-col-sm-offset-3 sv-col-sm-6">


              <div class="sv-checkbox"><label for="ANSWER.TTQ.MENSYS.1."><input type="checkbox" name="ANSWER.TTQ.MENSYS.1" id="ANSWER.TTQ.MENSYS.1." value="Y" checked="checked" data-webvalidation="on" data-ttqseqn="11"> I give consent for my personal information to be shared with those who have a role in my support*</label></div><input type="hidden" name="DUM_FIXT.TTQ.MENSYS.1">                           
                </div>
  <span class="sv-col-sm-4 sv-help-block" id="ANSWER.TTQ.MENSYS.1.helpblock"><span class="sv-trans-block" id="ANSWER.TTQ.MENSYS.1.transblock"></span> <span class="sv-error-block" id="ANSWER.TTQ.MENSYS.1.errorblock"></span></span>
</div>

              <script type="text/javascript" >

	function ShowData() {

		//Define Content
		var buttons = {};
		buttons["Ok"] = function() {
			sits_dialog_close(true);
			};
		
		var header = "Access to your personal information"
		var content = '<div class="sv-container-fluid"><p>Your personal information will be held for purposes as registered with the Information Commissioner under the terms of the University of Bristol’s Data Protection Registration.</p><p>If you give consent, access to your personal information, including any information given as part of this registration and uploaded as evidence, will be limited to University staff who have a role in your support. However, it may sometimes be necessary to discuss your personal information with third parties, for example educational psychologists, funding bodies (such as Student Finance England), Disabled Students’ Allowances needs assessors or providers of non-medical help (such as Randstad) or specialist equipment suppliers. </p><p>Students who would like access to their personal data held by the University can make a subject access request to the University’s Information Governance Manager. Further information on making a subject access request is available <a href="http://www.bristol.ac.uk/secretary/data-protection/subject-access" target="_blank">here.</a></p><p>Please be aware that even if consent is not given, the University has a legal obligation to provide anonymised student data (including disability data) to the Higher Education Statistics Agency (HESA) annually.</p></div>'
	
		//Show Dialogue
		sits_dialog(header, content, buttons, true, true);
	};
</script>
              <input type="hidden" name="DUM_FIXT.TTQ.MENSYS.2">                           
              		              
            
          <input type="hidden" name="#.TTQ.MENSYS.1" value="BDJDMTEIEkNFTlIwMDEEIkM2MA==" /><input type="hidden" name="#CRC.TTQ.MENSYS.1" value="D4CB2A9C" /><input type="hidden" name="#.TTQ.MENSYS.2" value="BTJDOTAwCBJDRU5SMDAxBCJDNjA=" /><input type="hidden" name="#CRC.TTQ.MENSYS.2" value="65EEAB0F" />           
        
      <input type="hidden" name="#.TTE.MENSYS.1-1" value="CBJDRU5SMDAxBCJDNjA=" /><input type="hidden" name="#CRC.TTE.MENSYS.1-1" value="D1D5D523" />
                  </fieldset>
          </div>
        </div>
      </div>
      <div class="sv-panel-footer">
        <div class="sv-btn-container"><div class="sv-col-sm-2 sv-col-sm-offset-3"><input type="submit" title="Back" value="Back" name="BACK.DUMMY.MENSYS.1" class="sv-btn sv-btn-block sv-btn-default"></div><div class="sv-col-sm-2 "><input type="submit" title="Save & Exit" value="Save & Exit" name="SAVEX.DUMMY.MENSYS.1" class="sv-btn sv-btn-block sv-btn-default"></div><div class="sv-col-sm-2 "><input type="submit" title="Next" value="Next" name="NEXT.DUMMY.MENSYS.1" class="sv-btn sv-btn-block sv-btn-primary"></div></div>
      </div>
    </div>
  </div>
</div>

</div><!-- / container -->


{% include "../partials/footer.njk" %}




