<!-- index.nunjucks -->
{% set base_path = "" %}

{% include "../partials/head.njk" %}
{% include "../partials/header.njk" %}

<!-- Message and events -->
<div class="sv-container-fluid">

  <div class="sv-row">
  <div class="sv-col-md-12">
    <div class="sv-panel sv-panel-primary">
      <div class="sv-panel-heading">
        <h2 class="sv-panel-title">
          Impacts
        </h2>
      </div>
      <div class="sv-panel-body">
        <div class="sv-form-container">
          <div class="sv-form-horizontal">
            <fieldset>
              <legend>
                 Impacts
              </legend>

          <input type="hidden" name="#.TTE.MENSYS.1-1" value="CBJDRU5SMDAxBSJDMTAw" /><input type="hidden" name="#CRC.TTE.MENSYS.1-1" value="BF1F70F0" />

              <div class="sv-row">
  <div class="sv-col-sm-8">
    <div class="sv-checkbox">
  <label>
    <input type="checkbox" value="">
    Option one is this and that&mdash;be sure to include why it's great
  </label>
</div>

<div class="sv-radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Option one is this and that&mdash;be sure to include why it's great
  </label>
</div>
<div class="sv-radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Option two can be something else and selecting it will deselect option one
  </label>
</div>
    <div class="sv-well">
            <form class="sv-form">
              <div class="sv-form-group">
                <label class="sv-control-label" for="userName">Your name</label>
                <input type="text" class="sv-form-control" id="userName" autocomplete="off">
                <p class="sv-help-block">Your parents probably gave you this name</p>
              </div>
            </form>
          </div>

          <div class="sv-well">
            <form class="sv-form">
              <div class="sv-form-group">
                <label class="sv-radio-inline sv-block-label checked">
                  <input type="radio" name="optradio">Yes
                </label>
                <label class="sv-radio-inline radio-inline block-label">
                  <input type="radio" name="optradio">No
                </label>
                <label class="sv-radio-inline block-label">
                  <input type="radio" name="optradio">Can you repeat the question?
                </label>
              </div>
            </form>
          </div>
<div class="well">
            <form class="form">
              <div class="form-group">
                <div class="checkbox">
                  <label class="block-label">
                    <input type="checkbox" name="fruits"> Watermelon
                  </label>
                </div>
              </div>

              <div class="form-group">
                <div class="checkbox">
                  <label class="block-label">
                    <input type="checkbox" name="fruits"> Oranges
                  </label>
                </div>
              </div>

              <div class="form-group">
                <div class="checkbox">
                  <label class="block-label">
                    <input type="checkbox" name="fruits"> Apples
                  </label>
                </div>
              </div>
            </form>
          </div>

  </div>
  
</div>





<div class="sv-form-group">
  <div class="sv-row">
    <label class="sv-col-sm-offset-3 sv-col-sm-6" for="ANSWER.TTQ.MENSYS.2.">Please use the box below to tell us about your disability. If you included information about your disability when you applied, this information appears below but you can edit or add to it now if you like.</label> 
  </div>
  <div class="sv-row"> 
    <div class="sv-col-sm-offset-3 sv-col-sm-6">	            
              <textarea name="ANSWER.TTQ.MENSYS.2" id="ANSWER.TTQ.MENSYS.2." cols="50" rows="5"  data-ttqseqn="90" class="sv-form-control"></textarea><input type="hidden" name="DUM_FIXT.TTQ.MENSYS.2">                           
              </div><span class="sv-col-sm-3 sv-help-block" id="ANSWER.TTQ.MENSYS.2.helpblock"><span class="sv-trans-block" id="ANSWER.TTQ.MENSYS.2.transblock"></span> <span class="sv-error-block" id="ANSWER.TTQ.MENSYS.2.errorblock"></span></span></div>		              
                            
              <br>
<div class="sv-form-group">
  <div class="sv-row">
    <div class="sv-col-sm-offset-3 sv-col-sm-6">
      <p>Please indicate the impacts of your disability:</p>
    </div>
  </div>

  <div class="sv-col-sm-offset-3 sv-col-sm-6">	            
              <input type="hidden" name="ANSWER.TTQ.MENSYS.3" value="">  <div class="sv-checkbox"><label for="ANSWER.RECPICKER.MENSYS.1-3"><input type="checkbox" name="ANSWER.RECPICKER.MENSYS.1-3" id="ANSWER.RECPICKER.MENSYS.1-3" value="01" data-ttqseqn="1">Academic skills, including note taking difficulties, slow or illegible handwriting, slow reading, reading comprehension difficulty, difficulty structuring arguments</label></div> <input type="hidden" name="%.RECPICKER.MENSYS.1-3"> <div class="sv-checkbox"><label for="ANSWER.RECPICKER.MENSYS.2-3"><input type="checkbox" name="ANSWER.RECPICKER.MENSYS.2-3" id="ANSWER.RECPICKER.MENSYS.2-3" value="02" data-ttqseqn="1">Accessing on-line resources, such as the virtual learning environment (VLE) and timetables</label></div> <input type="hidden" name="%.RECPICKER.MENSYS.2-3"> <div class="sv-checkbox"><label for="ANSWER.RECPICKER.MENSYS.3-3"><input type="checkbox" name="ANSWER.RECPICKER.MENSYS.3-3" id="ANSWER.RECPICKER.MENSYS.3-3" value="03" data-ttqseqn="1">Concentration/focus</label></div> <input type="hidden" name="%.RECPICKER.MENSYS.3-3"> <div class="sv-checkbox"><label for="ANSWER.RECPICKER.MENSYS.4-3"><input type="checkbox" name="ANSWER.RECPICKER.MENSYS.4-3" id="ANSWER.RECPICKER.MENSYS.4-3" value="04" data-ttqseqn="1">Difficulty at exam time or with completing exams</label></div> <input type="hidden" name="%.RECPICKER.MENSYS.4-3"> <div class="sv-checkbox"><label for="ANSWER.RECPICKER.MENSYS.5-3"><input type="checkbox" name="ANSWER.RECPICKER.MENSYS.5-3" id="ANSWER.RECPICKER.MENSYS.5-3" value="05" data-ttqseqn="1">Energy levels: fatigue, tiredness</label></div> <input type="hidden" name="%.RECPICKER.MENSYS.5-3"> <div class="sv-checkbox"><label for="ANSWER.RECPICKER.MENSYS.6-3"><input type="checkbox" name="ANSWER.RECPICKER.MENSYS.6-3" id="ANSWER.RECPICKER.MENSYS.6-3" value="06" data-ttqseqn="1">Group work or presentations</label></div> <input type="hidden" name="%.RECPICKER.MENSYS.6-3"> <div class="sv-checkbox"><label for="ANSWER.RECPICKER.MENSYS.7-3"><input type="checkbox" name="ANSWER.RECPICKER.MENSYS.7-3" id="ANSWER.RECPICKER.MENSYS.7-3" value="07" data-ttqseqn="1">Attendance</label></div> <input type="hidden" name="%.RECPICKER.MENSYS.7-3"> <div class="sv-checkbox"><label for="ANSWER.RECPICKER.MENSYS.8-3"><input type="checkbox" name="ANSWER.RECPICKER.MENSYS.8-3" id="ANSWER.RECPICKER.MENSYS.8-3" value="08" data-ttqseqn="1">Independent living/personal care</label></div> <input type="hidden" name="%.RECPICKER.MENSYS.8-3"> <div class="sv-checkbox"><label for="ANSWER.RECPICKER.MENSYS.9-3"><input type="checkbox" name="ANSWER.RECPICKER.MENSYS.9-3" id="ANSWER.RECPICKER.MENSYS.9-3" value="09" data-ttqseqn="1">Placements (including professional placements), field trips, study abroad</label></div> <input type="hidden" name="%.RECPICKER.MENSYS.9-3"> <div class="sv-checkbox"><label for="ANSWER.RECPICKER.MENSYS.10-3"><input type="checkbox" name="ANSWER.RECPICKER.MENSYS.10-3" id="ANSWER.RECPICKER.MENSYS.10-3" value="10" data-ttqseqn="1">Self-direction: time management, meeting deadlines, orientation, prioritising, remembering things</label></div> <input type="hidden" name="%.RECPICKER.MENSYS.10-3"> <div class="sv-checkbox"><label for="ANSWER.RECPICKER.MENSYS.11-3"><input type="checkbox" name="ANSWER.RECPICKER.MENSYS.11-3" id="ANSWER.RECPICKER.MENSYS.11-3" value="11" data-ttqseqn="1">Sociability/interactions with others/living in community</label></div> <input type="hidden" name="%.RECPICKER.MENSYS.11-3"><input type="hidden" name="DUM_FIXT.TTQ.MENSYS.3">                           
               </div>
  <span class="sv-col-sm-3 sv-help-block" id="ANSWER.TTQ.MENSYS.3helpblock"><span class="sv-trans-block" id="ANSWER.TTQ.MENSYS.3transblock"></span> <span class="sv-error-block" id="ANSWER.TTQ.MENSYS.3errorblock"></span></span>
</div>		              
            
          <input type="hidden" name="#.TTQ.MENSYS.1" value="BTJDOTAwCBJDRU5SMDAxBSJDMTAw" /><input type="hidden" name="#CRC.TTQ.MENSYS.1" value="E4F164E4" /><input type="hidden" name="#.TTQ.MENSYS.2" value="BDJDOTAIEkNFTlIwMDEFIkMxMDA=" /><input type="hidden" name="#CRC.TTQ.MENSYS.2" value="0001B603" /><input type="hidden" name="#.TTQ.MENSYS.3" value="AzJDMQgSQ0VOUjAwMQUiQzEwMA==" /><input type="hidden" name="#CRC.TTQ.MENSYS.3" value="21295B47" />           
        
      <input type="hidden" name="#.TTE.MENSYS.1-1" value="CBJDRU5SMDAxBSJDMTAw" /><input type="hidden" name="#CRC.TTE.MENSYS.1-1" value="BF1F70F0" />
                  </fieldset>
          </div>
        </div>
      </div>
      <div class="sv-panel-footer">
        <div class="sv-btn-container"><div class="sv-col-sm-2 sv-col-sm-offset-3"><input type="submit" title="Back" value="Back" name="BACK.DUMMY.MENSYS.1" class="sv-btn sv-btn-block sv-btn-default"></div><div class="sv-col-sm-2 "><input type="submit" title="Save & Exit" value="Save & Exit" name="SAVEX.DUMMY.MENSYS.1" class="sv-btn sv-btn-block sv-btn-default"></div><div class="sv-col-sm-2 "><input type="submit" title="Next" value="Next" name="NEXT.DUMMY.MENSYS.1" class="sv-btn sv-btn-block sv-btn-primary"></div></div>
      </div>
    </div>
  </div>
</div>

</div><!-- / container -->


{% include "../partials/footer.njk" %}




