{% set base_path = "" %}

{% include "../partials/head.njk" %}
{% include "../partials/header.njk" %}
      
			<!-- title section  -->
			<div class="sv-page-header sv-hidden-xs">
				<h1>Edit My addresses</h1>
				<p>Please amend your address details as required.</p>
			</div>
			<div class="sv-page-header sv-hidden-md sv-hidden-lg sv-hidden-sm">
				<h1 class="sv-h1-small">Edit My addresses</h1>
			</div>
			<!-- end of title section  -->
      
			<!-- data section  -->
			<input name="%.DUMMY.MENSYS.1" type="hidden">
				 
					<!-- hidden fields -->
					<input name="ADD_AENT.ADD.MENSYS.1" type="hidden" value="MST">
					<input name="ADD_ADID.ADD.MENSYS.1" type="hidden" value="GT17004">
					<input name="ADD_SEQN.ADD.MENSYS.1" type="hidden" value=""> 
					<input name="DUM_LATI.ADD.MENSYS.1" type="hidden" value=""> 
					<input name="DUM_LONG.ADD.MENSYS.1" type="hidden" value="">                         
					<!--end of hidden fields --> 
					<div class="sv-row">
						<div class="sv-col-md-12">		
					    <div class="sv-panel sv-panel-primary">							
							  <div class="sv-panel-heading">
  					      <h2 class="sv-panel-title">Current </h2>
	  					  </div>  
		  				  <div class="sv-panel-body">
			  				  <span class="sv-form-additional-info sv-help-block sv-small">
									  Define your  'Current '
							  </span>
								<div class="sv-form-container">
									<div class="sv-form-horizontal">
										<fieldset>
										  <legend>Current </legend>
											<!--
											<div class="sv-form-group">
												<label for="ADD_NAM1.ADD.MENSYS" class="sv-col-sm-3 sv-control-label"></label>
 												<div class="sv-col-sm-4">
														<input type="hidden" name="ADD_NAM1.ADD.MENSYS.1" value="" id="ADD_NAM1.ADD.MENSYS" class="sv-form-control" />
												</div>
												<span class="sv-col-sm-4  sv-help-block">
													<span class="sv-trans-block"></span>
													<span class="sv-error-block"></span>
												</span>
											</div>                      
											-->
											<!--
										  <div class="sv-form-group">
												<label for="ADD_NAM2.ADD.MENSYS" class="sv-col-sm-3 sv-control-label"></label>
  											<div class="sv-col-sm-4">
														<input type="hidden" name="ADD_NAM2.ADD.MENSYS.1" value="" id="ADD_NAM2.ADD.MENSYS" class="sv-form-control" />
												</div>
												<span class="sv-col-sm-4  sv-help-block">
													<span class="sv-trans-block"></span>
													<span class="sv-error-block"></span>
												</span>
											</div>                      
											-->
											<!--                        
											<div class="sv-form-group">
												<label for="ADD_RADC.ADD.MENSYS" class="sv-col-sm-3 sv-control-label">
                        </label>
												<div class="sv-col-sm-4">
													<div class="sv-input-group">
  													<input type="hidden" name="ADD_RADC.ADD.MENSYS.1" value="" id="ADD_RADC.ADD.MENSYS" class="sv-form-control" />
														<span class="sv-input-group-btn">
															
														</span>
													</div>
												</div>
												<span class="sv-help-block">
													<span class="sv-trans-block">
<script type="text/javascript" src="../javascript/translationajax.js"></script>
<script type="text/javascript">sits_attach_event(window,"load",function(){InstallAjaxT(document.getElementById("ADD_RADC.ADD.MENSYS"),"","")})</script>
<input type="hidden" id="ADD_RADC.ADD.MENSYSinputs" value="AB14746A412811E7xjcNJxFypFXbB43svpxgpgHYKLcVd313aClj3jpPru4rv1_JeKje9SC_Z2cZn6jldfECZcxGTiJ8h4toF3-5Y2jcgHpdZX026gkbl-nfC6gxZjvS2JumJijCJCu2VwElwA_H4oge7tK_cn8sAu3FtQ"><span class="bginside" id="ADD_RADC.ADD.MENSYStrans"></span>
 </span>
													<span class="sv-error-block">
   													                                                        
                          </span>
												</span>
											</div>
										  <script type="text/javascript">	   
                        function add_radc_dl(){
							            var fld = document.getElementById("ADD_RADC.ADD.MENSYS");
							            InstallAjax(null,fld,null,null);
							            SetupCall(fld.name,"INCNAME=Y","MENSYS","RAD","","RAD_CODE","RAD_CODE;RAD_NAME","-1");
							          }
							          sits_attach_event(window,"load",add_radc_dl);
											</script>                                                  
											-->                     
											
											<div class="sv-form-group">
												<label class="sv-col-sm-3 sv-control-label" for="ADD_PCOD.ADD.MENSYS">Postcode</label>
												<div class="sv-col-sm-4">
													<div class="sv-input-group">
														<input name="ADD_PCOD.ADD.MENSYS.1" class="sv-form-control" id="ADD_PCOD.ADD.MENSYS" type="text" value="">
														<span class="sv-input-group-btn">
															<input name="USE_POSTCODE.ADD.MENSYS.1" class="sv-btn sv-btn-default" id="pcod" type="submit" value="Get Address">
														</span>
													</div>
												</div>
												<span class="sv-col-sm-4  sv-help-block">
													<span class="sv-trans-block"></span>
													<span class="sv-error-block"></span>
												</span>
											</div>
												
												
											<div class="sv-form-group">
												<label class="sv-col-sm-3 sv-control-label" for="ADD_ADD1.ADD.MENSYS">Address Line 1</label>
												<div class="sv-col-sm-4">
													<input name="ADD_ADD1.ADD.MENSYS.1" class="sv-form-control" id="ADD_ADD1.ADD.MENSYS" type="text" maxlength="50" value="">
												</div>
												<span class="sv-col-sm-4 sv-help-block">
													<span class="sv-trans-block"></span>
													<span class="sv-error-block"></span>
												</span>
											</div>
											
											
											<div class="sv-form-group">
												<label class="sv-col-sm-3 sv-control-label" for="ADD_ADD2.ADD.MENSYS">Address Line 2</label>
												<div class="sv-col-sm-4">
													<input name="ADD_ADD2.ADD.MENSYS.1" class="sv-form-control" id="ADD_ADD2.ADD.MENSYS" type="text" maxlength="50" value="">
												</div>
												<span class="sv-col-sm-5 sv-help-block">
													<span class="sv-trans-block"></span>
													<span class="sv-error-block"></span>
												</span>
											</div>
											                                          
											
											<div class="sv-form-group">
												<label class="sv-col-sm-3 sv-control-label" for="ADD_ADD3.ADD.MENSYS">Address Line 3</label>
												<div class="sv-col-sm-4">
													<input name="ADD_ADD3.ADD.MENSYS.1" class="sv-form-control" id="ADD_ADD3.ADD.MENSYS" type="text" maxlength="50" value="">
												</div>
												<span class="sv-col-sm-5 sv-help-block">
													<span class="sv-trans-block"></span>
													<span class="sv-error-block"></span>
												</span>
											</div>
											
											                                                                
											<div class="sv-form-group">
												<label class="sv-col-sm-3 sv-control-label" for="ADD_ADD4.ADD.MENSYS">Address Line 4</label>
												<div class="sv-col-sm-4">
													<input name="ADD_ADD4.ADD.MENSYS.1" class="sv-form-control" id="ADD_ADD4.ADD.MENSYS" type="text" maxlength="50" value="">
												</div>
												<span class="sv-col-sm-5 sv-help-block">
													<span class="sv-trans-block"></span>
													<span class="sv-error-block"></span>
												</span>
											</div>
											
											<!--                                          
											<div class="sv-form-group">
												<label for="ADD_ADD5.ADD.MENSYS" class="sv-col-sm-3 sv-control-label"></label>
												<div class="sv-col-sm-4">
													<input type="hidden" name="ADD_ADD5.ADD.MENSYS.1" value="" id="ADD_ADD5.ADD.MENSYS" maxlength="50" class="sv-form-control" />
												</div>
												<span class="sv-col-sm-5 sv-help-block">
													<span class="sv-trans-block"></span>
													<span class="sv-error-block"></span>
												</span>
											</div>
											-->
											
											<div class="sv-form-group">
													<label class="sv-col-sm-3 sv-control-label" for="ADD_CODC.ADD.MENSYS">Country</label>
													<div class="sv-col-sm-4">
														<select name="ADD_CODC.ADD.MENSYS.1" class="sv-form-control" id="ADD_CODC.ADD.MENSYS">
<option selected="selected" value="">
<option value="K+G"></option>
<option value="602">Afghanistan</option>
<option value="XQ">Africa, not otherwise specified</option>
<option value="853">Aland Islands</option>
<option value="603">Albania</option>
<option value="604">Algeria</option>
<option value="854">American Samoa</option>
<option value="605">Andorra</option>
<option value="606">Angola</option>
<option value="824">Anguilla</option>
<option value="XX">Antartica &amp; Oceania, not otherwise specified</option>
<option value="607">Antigua and Barbuda</option>
<option value="608">Argentina</option>
<option value="836">Armenia</option>
<option value="855">Aruba</option>
<option value="AW">Aruba</option>
<option value="XS">Asia (Except Middle East), not otherwise specified</option>
<option value="609">Australia</option>
<option value="610">Austria</option>
<option value="837">Azerbaijan</option>
<option value="611">Bahamas</option>
<option value="612">Bahrain</option>
<option value="787">Bangladesh</option>
<option value="613">Barbados</option>
<option value="838">Belarus</option>
<option value="614">Belgium</option>
<option value="668">Belize</option>
<option value="640">Benin</option>
<option value="615">Bermuda</option>
<option value="616">Bhutan</option>
<option value="617">Bolivia</option>
<option value="887">Bonaire, Sint Eustatius and Saba</option>
<option value="848">Bosnia and Herzegovina</option>
<option value="618">Botswana</option>
<option value="619">Brazil</option>
<option value="801">British Antarctic Territory</option>
<option value="829">British Indian Ocean Territory</option>
<option value="776">British Virgin Islands</option>
<option value="620">Brunei</option>
<option value="621">Bulgaria</option>
<option value="769">Burkina Faso</option>
<option value="622">Burma</option>
<option value="623">Burundi</option>
<option value="624">Cambodia</option>
<option value="KH">Cambodia</option>
<option value="625">Cameroon</option>
<option value="626">Canada</option>
<option value="856">Canary Islands</option>
<option value="IC">Canary Islands</option>
<option value="788">Cape Verde</option>
<option value="XW">Caribbean not Otherwise Specified</option>
<option value="789">Cayman Islands</option>
<option value="627">Central African Republic</option>
<option value="XU">Central America, not otherwise specified</option>
<option value="629">Chad</option>
<option value="630">Chile</option>
<option value="631">China</option>
<option value="857">Christmas Island</option>
<option value="CX">Christmas Island</option>
<option value="858">Cocos (Keeling) Islands</option>
<option value="CC">Cocos (Keeling) Islands</option>
<option value="632">Colombia</option>
<option value="804">Comoros</option>
<option value="633">Congo (Democratic Republic)</option>
<option value="634">Congo (Peoples Republic)</option>
<option value="859">Cook Islands</option>
<option value="CK">Cook Islands</option>
<option value="635">Costa Rica</option>
<option value="834">Croatia</option>
<option value="636">Cuba</option>
<option value="885">Curacao</option>
<option value="882">Cyprus (European Union)</option>
<option value="XA">Cyprus (European Union)</option>
<option value="883">Cyprus (Non-European Union)</option>
<option value="XB">Cyprus (Non-European Union)</option>
<option value="638">Cyprus (Not otherwise specified)</option>
<option value="XC">Cyprus Not Otherwise Specified</option>
<option value="849">Czech Republic</option>
<option value="641">Denmark</option>
<option value="749">Djibouti</option>
<option value="642">Dominica</option>
<option value="643">Dominican Republic</option>
<option value="XE">EU - Not known</option>
<option value="786">East Timor (Timor-Leste)</option>
<option value="645">Ecuador</option>
<option value="768">Egypt</option>
<option value="646">El Salvador</option>
<option value="5826">England</option>
<option value="XF">England</option>
<option value="790">Equatorial Guinea</option>
<option value="851">Eritrea</option>
<option value="831">Estonia</option>
<option value="648">Ethiopia</option>
<option value="XP">Europe Not Otherwise Specified</option>
<option value="649">Falkland Islands</option>
<option value="865">Faroe Islands</option>
<option value="650">Fiji</option>
<option value="651">Finland</option>
<option value="653">France</option>
<option value="791">French Guiana</option>
<option value="822">French Polynesia</option>
<option value="792">French West Indies</option>
<option value="654">Gabon</option>
<option value="655">Gambia</option>
<option value="847">Georgia</option>
<option value="656">Germany</option>
<option value="658">Ghana</option>
<option value="659">Gibraltar</option>
<option value="661">Greece</option>
<option value="828">Greenland</option>
<option value="GL">Greenland</option>
<option value="662">Grenada</option>
<option value="867">Guadeloupe</option>
<option value="GP">Guadeloupe</option>
<option value="GU">Guam</option>
<option value="663">Guatemala</option>
<option value="664">Guinea</option>
<option value="802">Guinea Bissau</option>
<option value="665">Guyana</option>
<option value="666">Haiti</option>
<option value="667">Honduras</option>
<option value="669">Hong Kong</option>
<option value="670">Hungary</option>
<option value="671">Iceland</option>
<option value="672">India</option>
<option value="673">Indonesia</option>
<option value="674">Iran</option>
<option value="675">Iraq</option>
<option value="676">Ireland</option>
<option value="677">Israel</option>
<option value="678">Italy</option>
<option value="679">Ivory Coast</option>
<option value="680">Jamaica</option>
<option value="681">Japan</option>
<option value="682">Jordan</option>
<option value="839">Kazakhstan</option>
<option value="683">Kenya</option>
<option value="660">Kiribati</option>
<option value="KI">Kiribati</option>
<option value="684">Korea (South)</option>
<option value="685">Korea DRY (North)</option>
<option value="881">Kosovo</option>
<option value="686">Kuwait</option>
<option value="840">Kyrgyzstan</option>
<option value="687">Lao PDR</option>
<option value="832">Latvia</option>
<option value="688">Lebanon</option>
<option value="690">Lesotho</option>
<option value="691">Liberia</option>
<option value="692">Libyan AR</option>
<option value="827">Liechtenstein</option>
<option value="833">Lithuania</option>
<option value="693">Luxembourg</option>
<option value="694">Macao</option>
<option value="852">Macedonia</option>
<option value="695">Madagascar</option>
<option value="696">Malawi</option>
<option value="698">Malaysia</option>
<option value="793">Maldive Islands</option>
<option value="699">Mali</option>
<option value="700">Malta</option>
<option value="861">Marshall Islands</option>
<option value="869">Martinique</option>
<option value="701">Mauritania</option>
<option value="702">Mauritius</option>
<option value="821">Mayotte</option>
<option value="703">Mexico</option>
<option value="862">Micronesia</option>
<option value="XR">Middle East, Not Otherwise Specified</option>
<option value="841">Moldova</option>
<option value="825">Monaco</option>
<option value="704">Mongolia</option>
<option value="864">Montenegro</option>
<option value="705">Montserrat</option>
<option value="706">Morocco</option>
<option value="707">Mozambique</option>
<option value="798">Namibia</option>
<option value="805">Nauru</option>
<option value="709">Nepal</option>
<option value="710">Netherlands</option>
<option value="637">Netherlands Antilles</option>
<option value="711">New Caledonia</option>
<option value="712">New Guinea</option>
<option value="714">New Zealand</option>
<option value="715">Nicaragua</option>
<option value="716">Niger</option>
<option value="717">Nigeria</option>
<option value="871">Niue</option>
<option value="NU">Niue</option>
<option value="XN">Non-EU - Not known</option>
<option value="872">Norfolk Island</option>
<option value="NF">Norfolk Island</option>
<option value="XT">North America, Not Otherwise Specified</option>
<option value="XG">Northern Ireland</option>
<option value="873">Northern Mariana Islands</option>
<option value="718">Norway</option>
<option value="782">Not Known</option>
<option value="708">Oman</option>
<option value="721">Pakistan</option>
<option value="874">Palau</option>
<option value="870">Palestine</option>
<option value="722">Panama</option>
<option value="723">Papua New Guinea</option>
<option value="724">Paraguay</option>
<option value="725">Peru</option>
<option value="726">Philippines</option>
<option value="823">Pitcairn Islands</option>
<option value="727">Poland</option>
<option value="728">Portugal</option>
<option value="730">Puerto Rico</option>
<option value="731">Qatar</option>
<option value="795">Reunion</option>
<option value="733">Romania</option>
<option value="842">Russia</option>
<option value="734">Rwanda</option>
<option value="741">Samoa</option>
<option value="826">San Marino</option>
<option value="803">Sao Tome and Principe</option>
<option value="743">Saudi Arabia</option>
<option value="XH">Scotland</option>
<option value="785">Senegal</option>
<option value="780">Serbia</option>
<option value="744">Seychelles</option>
<option value="745">Sierra Leone</option>
<option value="746">Singapore</option>
<option value="886">Sint Maarten (Dutch Part)</option>
<option value="850">Slovakia</option>
<option value="835">Slovenia</option>
<option value="747">Solomon Islands</option>
<option value="748">Somalia</option>
<option value="750">South Africa</option>
<option value="XV">South America, Not Otherwise Specified</option>
<option value="830">South Georgia and South Sandwich Islands</option>
<option value="884">South Sudan</option>
<option value="751">Spain</option>
<option value="628">Sri Lanka</option>
<option value="735">St Helena</option>
<option value="737">St Lucia</option>
<option value="875">St Pierre And Miquelon</option>
<option value="PM">St Pierre and Miquelon</option>
<option value="738">St Vincent</option>
<option value="736">St. Kitts-Nevis</option>
<option value="783">Stateless</option>
<option value="752">Sudan</option>
<option value="753">Surinam</option>
<option value="876">Svalbard And Jan Mayen</option>
<option value="SJ">Svalbard and Jan Mayen</option>
<option value="754">Swaziland</option>
<option value="755">Sweden</option>
<option value="756">Switzerland</option>
<option value="757">Syria</option>
<option value="652">Taiwan</option>
<option value="843">Tajikistan</option>
<option value="759">Tanzania</option>
<option value="760">Thailand</option>
<option value="762">Togo</option>
<option value="877">Tokelau</option>
<option value="TK">Tokelau</option>
<option value="784">Tonga</option>
<option value="763">Trinidad and Tobago</option>
<option value="765">Tunisia</option>
<option value="766">Turkey</option>
<option value="844">Turkmenistan</option>
<option value="799">Turks and Caicos Islands</option>
<option value="647">Tuvalu</option>
<option value="796">US Trust Territories</option>
<option value="772">USSR (not otherwise specified)</option>
<option value="767">Uganda</option>
<option value="845">Ukraine</option>
<option value="998">Under Investigation (Overseas)</option>
<option value="999">Under Investigation (UK)</option>
<option value="764">United Arab Emirates</option>
<option value="771">United States of America</option>
<option value="770">Uruguay</option>
<option value="846">Uzbekistan</option>
<option value="713">Vanuatu</option>
<option value="878">Vatican City</option>
<option value="773">Venezuela</option>
<option value="774">Vietnam</option>
<option value="800">Virgin Islands (US)</option>
<option value="879">Wallis &amp; Futuna</option>
<option value="W&amp;F">Wallis and Futuna</option>
<option value="WF">Wallis and Futuna</option>
<option value="PS">West Bank (incl. East Jerusalem) and Gaza Strip</option>
<option value="880">Western Sahara</option>
<option value="EH">Western Sahara</option>
<option value="601">Yemen</option>
<option value="781">Zambia</option>
<option value="732">Zimbabwe</option>
</select>
													</div>
													<span class="sv-col-sm-5 sv-help-block">
														<span class="sv-trans-block"></span>
														<span class="sv-error-block"></span>
													</span>
												</div>
												
												                                          
												<div class="sv-form-group">
													<label class="sv-col-sm-3 sv-control-label" for="ADD_TELN.ADD.MENSYS">Telephone number 1</label>
													<div class="sv-col-sm-4">
														<input name="ADD_TELN.ADD.MENSYS.1" class="sv-form-control" id="ADD_TELN.ADD.MENSYS" type="text" maxlength="20" value="">
													</div>
													<span class="sv-col-sm-5 sv-help-block">
														<span class="sv-trans-block"></span>
														<span class="sv-error-block"></span>
													</span>
												</div>
												                                          
												

												<div class="sv-form-group">
													<label class="sv-col-sm-3 sv-control-label" for="ADD_TEL2.ADD.MENSYS">Telephone number 2</label>
													<div class="sv-col-sm-4">
														<input name="ADD_TEL2.ADD.MENSYS.1" class="sv-form-control" id="ADD_TEL2.ADD.MENSYS" type="text" maxlength="20" value="">
													</div>
													<span class="sv-col-sm-5 sv-help-block">
														<span class="sv-trans-block"></span>
														<span class="sv-error-block"></span>
													</span>
												</div>
												                                          
												                                                                

												<div class="sv-form-group">
													<label class="sv-col-sm-3 sv-control-label" for="ADD_TEL3.ADD.MENSYS">Telephone number 3</label>
													<div class="sv-col-sm-4">
														<input name="ADD_TEL3.ADD.MENSYS.1" class="sv-form-control" id="ADD_TEL3.ADD.MENSYS" type="text" maxlength="20" value="">
													</div>
													<span class="sv-col-sm-5 sv-help-block">
														<span class="sv-trans-block"></span>
														<span class="sv-error-block"></span>
													</span>
												</div>
												
												
												
												<div class="sv-form-group">
													<label class="sv-col-sm-3 sv-control-label" for="ADD_FAXN.ADD.MENSYS">Fax number</label>
													<div class="sv-col-sm-4">
														<input name="ADD_FAXN.ADD.MENSYS.1" class="sv-form-control" id="ADD_FAXN.ADD.MENSYS" type="text" maxlength="20" value="">
													</div>
													<span class="sv-col-sm-5 sv-help-block">
														<span class="sv-trans-block"></span>
														<span class="sv-error-block"></span>
													</span>
												</div>
												
												

												<div class="sv-form-group">
													<label class="sv-col-sm-3 sv-control-label" for="ADD_EMAD.ADD.MENSYS">E-mail address</label>
													<div class="sv-col-sm-4">
														<input name="ADD_EMAD.ADD.MENSYS.1" class="sv-form-control" id="ADD_EMAD.ADD.MENSYS" onblur="validateEmail(this.id)" type="text" maxlength="255" value="">
													</div>
													<span class="sv-col-sm-5 sv-help-block">
														<span class="sv-trans-block"></span>
														<span class="sv-error-block"></span>
													</span>
												</div>
												
												
												
												<div class="sv-form-group">
													<label class="sv-col-sm-3 sv-control-label" for="ADD_ALTE.ADD.MENSYS">Alternate Email</label>
													<div class="sv-col-sm-4">
														<input name="ADD_ALTE.ADD.MENSYS.1" class="sv-form-control" id="ADD_ALTE.ADD.MENSYS" onblur="validateEmail(this.id)" type="text" maxlength="255" value="">
													</div>
													<span class="sv-col-sm-5 sv-help-block">
														<span class="sv-trans-block"></span>
														<span class="sv-error-block"></span>
													</span>
												</div>
												
												
												
												<div class="sv-form-group">
													<label class="sv-col-sm-3 sv-control-label" for="ADD_BEGD.ADD.MENSYS">Start date</label>
													<div class="sv-col-sm-4">
														<div class="sv-input-group">
															<input name="ADD_BEGD.ADD.MENSYS.1" class="sv-form-control hasDatepicker" id="ADD_BEGD.ADD.MENSYS" type="text" maxlength="50" value="">
															<span class="sv-input-group-addon">
																
															<img tabindex="0" title="Select a date" class="ui-datepicker-trigger" role="button" alt="Select a date" src="../images/si_calendar.gif"></span>
														</div>
													</div>
													<span class="sv-col-sm-5 sv-help-block">
														<span class="sv-trans-block"></span>
														<span class="sv-error-block"></span>
													</span>
												</div>
												
												
												
												<div class="sv-form-group">
													<label class="sv-col-sm-3 sv-control-label" for="ADD_ENDD.ADD.MENSYS">End date</label>
													<div class="sv-col-sm-4">
														<div class="sv-input-group">
															<input name="ADD_ENDD.ADD.MENSYS.1" class="sv-form-control hasDatepicker" id="ADD_ENDD.ADD.MENSYS" type="text" maxlength="50" value="">
															<span class="sv-input-group-addon">
																<script type="text/javascript">
sits_attach_event(window,"load",function() {
sits_date_picker("#ADD_BEGD\\.ADD\\.MENSYS");
sits_date_picker("#ADD_ENDD\\.ADD\\.MENSYS");
});
</script>
															<img tabindex="0" title="Select a date" class="ui-datepicker-trigger" role="button" alt="Select a date" src="../images/si_calendar.gif"></span>
														</div>
													</div>
													<span class="sv-col-sm-5 sv-help-block">
														<span class="sv-trans-block"></span>
														<span class="sv-error-block"></span>
													</span>
												</div>
												
												
												
												<div class="sv-form-group">
													<div class="sv-col-sm-4 sv-col-sm-offset-3">
														<div class="sv-checkbox">
															<label class="sv-control-label" for="ADD_TEMP.ADD.MENSYS">
																<input name="#CB.ADD_TEMP.ADD.MENSYS.1" type="hidden"><input name="ADD_TEMP.ADD.MENSYS.1" id="ADD_TEMP.ADD.MENSYS" type="checkbox" value="1">
																Temporary address
															</label>
														</div>
													</div>
													<span class="sv-col-sm-5 sv-help-block">
														<span class="sv-trans-block"></span>
														<span class="sv-error-block"></span>
													</span>
												</div>
												
												<!--
												
												<div class="sv-form-group">
													<label for="ADD_TTAC.ADD.MENSYS" class="sv-col-sm-3 sv-control-label"></label>
													<div class="sv-col-sm-4">
														<input type="hidden" name="ADD_TTAC.ADD.MENSYS.1" value="" id="ADD_TTAC.ADD.MENSYS" class="sv-form-control" />
													</div>
													<span class="sv-col-sm-5 sv-help-block">
														<span class="sv-trans-block"></span>
														<span class="sv-error-block"></span>
													</span>
												</div>
												-->
												

												<div class="sv-form-group">
													<label class="sv-col-sm-3 sv-control-label" for="ADD_LATI.ADD.MENSYS">Latitude</label>
													<div class="sv-col-sm-4">
														<input name="ADD_LATI.ADD.MENSYS.1" class="sv-form-control" id="ADD_LATI.ADD.MENSYS" type="text" maxlength="50" value="">
													</div>
													<span class="sv-col-sm-5 sv-help-block">
														<span class="sv-trans-block"></span>
														<span class="sv-error-block"></span>
													</span>
												</div>
												
												
												
												<div class="sv-form-group">
													<label class="sv-col-sm-3 sv-control-label" for="ADD_LONG.ADD.MENSYS">Longitude</label>
													<div class="sv-col-sm-4">
														<input name="ADD_LONG.ADD.MENSYS.1" class="sv-form-control" id="ADD_LONG.ADD.MENSYS" type="text" maxlength="50" value="">
													</div>
													<span class="sv-col-sm-5 sv-help-block">
														<span class="sv-trans-block"></span>
														<span class="sv-error-block"></span>
													</span>
												</div>
												
												
					              <div class="sv-form-group">
						              <div class="sv-col-sm-offset-3 sv-col-sm-2">
					                  
						              </div>	
					                 <span class="sv-col-sm-5 sv-help-block">
				                     <span class="sv-trans-block"></span>
                             <span class="sv-error-block"></span>
	    		                 </span>
				                 </div>			
                         
											</fieldset>
										</div>
									</div>
								</div>
								<div class="sv-panel-footer">
									<div class="sv-btn-container">
										<div class="sv-col-sm-offset-4 sv-col-sm-2">
											
										</div>
										<div class="sv-col-sm-2">
											<input name="STORE.ADD.MENSYS.1" class="sv-btn sv-btn-default sv-btn-block sv-btn-primary" type="submit" value="Store">
										</div>
									</div>
								</div>								
							</div>
						</div>
					</div>
					<!-- JSON Object for inline error messaging -->
										
				
		
			<p class="sitspagehelp" id="sitspagehelp"></p>
			         
		 <!-- DUMMY.MENSYS -->

{% include "../partials/footer.njk" %}
