<!-- unitreg.njk -->
{% set base_path = "" %} {% include "../partials/head.njk" %} {% include "../partials/student-header.njk" %}


           <link rel="stylesheet" href="{{ base_path }}assets/css/{{ version }}/jstree.css">
        
        <!-- Header -->
        <div class="sv-page-header sv-hidden-xs">
          <h1>Admissions Dashboard</h1>
          <p>
            
          </p>
        </div>
        <div class="sv-page-header sv-hidden-md sv-hidden-lg sv-hidden-sm">
          <h1 class="sv-h1-small">Admissions Dashboard</h1>
        </div>
        
        <!-- main content of page starts here -->      
        <!-- tabs section -->
        <div class="sv-row">
          <div class="sv-col-md-12">
            <div class="sv-btn-group">



<p class="sv-btn-toolbarsv- text-center">
          
<a class="sv-btn sv-navbar-btn sv-btn-primary" href="SIW_ADM_DSH.start_url?00FF1E2A704A11E73Weh7rXL7n8pmiQECGluzhELPI3VBl3YU-kd58McsYjyLMPoUgilzCSVa0i1XLTDnB7cf28yKuXELvuw1HVw3rfQQSqYFOxtDZ4oIIapFG0wAm4z98xvy7tVEndPi_hvrgIJ9o4RmqI9MYZVrPy5uIK56cBKFkYdjd4vRwFv35O2oFReSKoH_g4s2kjKFAtS12vdHRffe8DaopERwwcWVJ0hMwJW99SZuiqqidDZwrUIwgDbtjKVRhQFvad0LaTU">Dashboard</a>


</p>

</div>












          </div>
        </div>
          

          <!-- Tree section -->
          <div id="apptable" class="sv-row" style="
    width: 1400px;
">
            <div class="sv-col-md-12">
              <div class="sv-panel sv-panel-primary">
                <!-- Main Header -->
                <div class="sv-panel-heading">
                  <div class="sv-row">
                    <div class="sv-col-md-6">
                      <h2 class="sv-panel-title">
                      Applications:
                      Accounting
                      </h2>
                    </div>
                    <div class="sv-col-md-offset-5 sv-col-md-1">
                      <h2 class="sv-panel-title">
                      Total:
                      <span id="totcount">36</span>
                      </h2>
                    </div>
                  </div>
                </div>
                
                <div class="sv-row">
                  <!-- Main Section -->
                  <div class="sv-col-md-3">
                    <div class="sv-row">
                      <div class="sv-col-md-12">
                      
                        <!-- Tree Widget -->
                        <div id="treecell" class="jstree jstree-0 jstree-focused jstree-classic" style="
    width: 100%;
"><ul class="jstree-wholerow-real"><li id="node000001" node="D" data-dskc="ACCOUNTING_001" data-name="Scoring" data-movi="Y" data-movo="Y" data-frank="1" data-webe="D" class="jstree-open"><span class="jstree-wholerow-span" style="width:0px;">&nbsp;</span><ins class="jstree-icon" tabindex="0" title="Expand">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon" style="background: url(&quot;../plugins/css/jstree/desk.gif&quot;) center center no-repeat;">&nbsp;</ins>Scoring</a><ul><li id="node000002" node="F" data-folc="ACCOUNTING_001_01A" data-dskc="ACCOUNTING_001" data-name="To Be Scored" data-totl="5" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class="jstree-clicked"><ins class="jstree-icon">&nbsp;</ins>To Be Scored (5)</a><img id="node000002icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;To Be Scored (5)" tabindex="0" class="moveicon" style="display: none;"></li><li id="node000003" node="F" data-folc="ACCOUNTING_001_01B" data-dskc="ACCOUNTING_001" data-name="Not Passed Academics Exceptions" data-totl="25" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Not Passed Academics Exceptions (25)</a><img id="node000003icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Not Passed Academics Exceptions (25)" tabindex="0" class="moveicon" style="display: none;"></li><li id="node000004" node="F" data-folc="ACCOUNTING_001_01C" data-dskc="ACCOUNTING_001" data-name="Passed Academics Exceptions" data-totl="3" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Passed Academics Exceptions (3)</a><img id="node000004icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Passed Academics Exceptions (3)" tabindex="0" class="moveicon" style="display: none;"></li><li id="node000005" node="F" data-folc="ACCOUNTING_001_01D" data-dskc="ACCOUNTING_001" data-name="To Be Unsuccessful" data-totl="3" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>To Be Unsuccessful (3)</a><img id="node000005icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;To Be Unsuccessful (3)" tabindex="0" class="moveicon" style="display: none;"></li><li id="node000006" node="F" data-folc="ACCOUNTING_001_01E" data-dskc="ACCOUNTING_001" data-name="Scoring Errors" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf jstree-last ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Scoring Errors</a><img id="node000006icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Scoring Errors" tabindex="0" class="moveicon" style="display: none;"></li></ul></li><li id="node000007" node="D" data-dskc="ACCOUNTING_002" data-name="Further Info/Referral" data-movi="Y" data-movo="Y" data-frank="2" data-webe="D" class="jstree-open" style="
    line-height: 1.6em;
"><span class="jstree-wholerow-span" style="width:0px;">&nbsp;</span><ins class="jstree-icon" tabindex="0" title="Expand">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon" style="background: url(&quot;../plugins/css/jstree/desk.gif&quot;) center center no-repeat;">&nbsp;</ins>Further Info/Referral</a><ul><li id="node000008" node="F" data-folc="ACCOUNTING_002_02A" data-dskc="ACCOUNTING_002" data-name="Further Information - Applicant" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Further Information - Applicant</a><img id="node000008icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Further Information - Applicant" tabindex="0" class="moveicon" style="display: none;"></li><li id="node000009" node="F" data-folc="ACCOUNTING_002_02B" data-dskc="ACCOUNTING_002" data-name="Further Information - Staff" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf jstree-last ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Further Information - Staff</a><img id="node000009icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Further Information - Staff" tabindex="0" class="moveicon" style="display: none;"></li></ul></li><li id="node000010" node="D" data-dskc="ACCOUNTING_003" data-name="Additional Scoring" data-movi="Y" data-movo="Y" data-frank="3" data-webe="D" class="jstree-open"><span class="jstree-wholerow-span" style="width:0px;">&nbsp;</span><ins class="jstree-icon" tabindex="0" title="Expand">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon" style="background: url(&quot;../plugins/css/jstree/desk.gif&quot;) center center no-repeat;">&nbsp;</ins>Additional Scoring</a><ul><li id="node000011" node="F" data-folc="ACCOUNTING_003_03A" data-dskc="ACCOUNTING_003" data-name="Test Required" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Test Required</a><img id="node000011icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Test Required" tabindex="0" class="moveicon" style="display: none;"></li><li id="node000012" node="F" data-folc="ACCOUNTING_003_03B" data-dskc="ACCOUNTING_003" data-name="Personal Statement to Score" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf jstree-last ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Personal Statement to Score</a><img id="node000012icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Personal Statement to Score" tabindex="0" class="moveicon" style="display: none;"></li></ul></li><li id="node000013" node="D" data-dskc="ACCOUNTING_004" data-name="Interview" data-movi="Y" data-movo="Y" data-frank="4" data-webe="D" class="jstree-open"><span class="jstree-wholerow-span" style="width:0px;">&nbsp;</span><ins class="jstree-icon" tabindex="0" title="Expand">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon" style="background: url(&quot;../plugins/css/jstree/desk.gif&quot;) center center no-repeat;">&nbsp;</ins>Interview</a><ul><li id="node000014" node="F" data-folc="ACCOUNTING_004_04A" data-dskc="ACCOUNTING_004" data-name="Consider For Interview" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Consider For Interview</a><img id="node000014icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Consider For Interview" tabindex="0" class="moveicon" style="display: none;"></li><li id="node000015" node="F" data-folc="ACCOUNTING_004_04B" data-dskc="ACCOUNTING_004" data-name="Invited For Interview" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Invited For Interview</a><img id="node000015icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Invited For Interview" tabindex="0" class="moveicon" style="display: none;"></li><li id="node000016" node="F" data-folc="ACCOUNTING_004_04C" data-dskc="ACCOUNTING_004" data-name="Interview Attended" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf jstree-last ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Interview Attended</a><img id="node000016icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Interview Attended" tabindex="0" class="moveicon" style="display: none;"></li></ul></li><li id="node000017" node="D" data-dskc="ACCOUNTING_005" data-name="Decision" data-movi="Y" data-movo="Y" data-frank="5" data-webe="D" class="jstree-open"><span class="jstree-wholerow-span" style="width:0px;">&nbsp;</span><ins class="jstree-icon" tabindex="0" title="Expand">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon" style="background: url(&quot;../plugins/css/jstree/desk.gif&quot;) center center no-repeat;">&nbsp;</ins>Decision</a><ul><li id="node000018" node="F" data-folc="ACCOUNTING_005_05A" data-dskc="ACCOUNTING_005" data-name="Suitability for Decision/Pre-Offer Checks" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class="" style="
    white-space: normal;
"><ins class="jstree-icon">&nbsp;</ins>Suitability for Decision/Pre-Offer Checks</a><img id="node000018icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Suitability for Decision/Pre-Offer Checks" tabindex="0" class="moveicon" style="display: none;"></li><li id="node000019" node="F" data-folc="ACCOUNTING_005_05B" data-dskc="ACCOUNTING_005" data-name="Offer Pending" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf jstree-last ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Offer Pending</a><img id="node000019icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Offer Pending" tabindex="0" class="moveicon" style="display: none;"></li></ul></li><li id="node000020" node="D" data-dskc="ACCOUNTING_006" data-name="Applicant outcome" data-movi="Y" data-movo="Y" data-frank="6" data-webe="D" class="jstree-last jstree-open"><span class="jstree-wholerow-span" style="width:0px;">&nbsp;</span><ins class="jstree-icon" tabindex="0" title="Expand">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon" style="background: url(&quot;../plugins/css/jstree/desk.gif&quot;) center center no-repeat;">&nbsp;</ins>Applicant outcome</a><ul><li id="node000021" node="F" data-folc="ACCOUNTING_006_06A" data-dskc="ACCOUNTING_006" data-name="Unsuccessful" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Unsuccessful</a><img id="node000021icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Unsuccessful" tabindex="0" class="moveicon" style="display: none;"></li><li id="node000022" node="F" data-folc="ACCOUNTING_006_06B" data-dskc="ACCOUNTING_006" data-name="Declined" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Declined</a><img id="node000022icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Declined" tabindex="0" class="moveicon" style="display: none;"></li><li id="node000023" node="F" data-folc="ACCOUNTING_006_06C" data-dskc="ACCOUNTING_006" data-name="Withdrawn" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Withdrawn</a><img id="node000023icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Withdrawn" tabindex="0" class="moveicon" style="display: none;"></li><li id="node000024" node="F" data-folc="ACCOUNTING_006_06D" data-dskc="ACCOUNTING_006" data-name="Awaiting Offer Response" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Awaiting Offer Response</a><img id="node000024icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Awaiting Offer Response" tabindex="0" class="moveicon" style="display: none;"></li><li id="node000025" node="F" data-folc="ACCOUNTING_006_06E" data-dskc="ACCOUNTING_006" data-name="Conditional Firm" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Conditional Firm</a><img id="node000025icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Conditional Firm" tabindex="0" class="moveicon" style="display: none;"></li><li id="node000026" node="F" data-folc="ACCOUNTING_006_06F" data-dskc="ACCOUNTING_006" data-name="Conditional Insurance" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Conditional Insurance</a><img id="node000026icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Conditional Insurance" tabindex="0" class="moveicon" style="display: none;"></li><li id="node000027" node="F" data-folc="ACCOUNTING_006_06G" data-dskc="ACCOUNTING_006" data-name="Unconditional Firm" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Unconditional Firm</a><img id="node000027icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Unconditional Firm" tabindex="0" class="moveicon" style="display: none;"></li><li id="node000028" node="F" data-folc="ACCOUNTING_006_06H" data-dskc="ACCOUNTING_006" data-name="Unconditional Insurance" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf jstree-last ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Unconditional Insurance</a><img id="node000028icon" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-move.gif" alt="Move to&nbsp;Unconditional Insurance" tabindex="0" class="moveicon" style="display: none;"></li></ul></li></ul><div class="jstree-wholerow" style="top: -504px;"><ul class=""><li id="node000001copy" node="D" data-dskc="ACCOUNTING_001" data-name="Scoring" data-movi="Y" data-movo="Y" data-frank="1" data-webe="D" class="jstree-open"><span class="jstree-wholerow-span" style="width:0px;">&nbsp;</span><ins class="jstree-icon" tabindex="0" title="Expand">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon" style="background: url(&quot;../plugins/css/jstree/desk.gif&quot;) center center no-repeat;">&nbsp;</ins>Scoring</a><ul><li id="node000002copy" node="F" data-folc="ACCOUNTING_001_01A" data-dskc="ACCOUNTING_001" data-name="To Be Scored" data-totl="5" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class="jstree-clicked"><ins class="jstree-icon">&nbsp;</ins>To Be Scored (5)</a></li><li id="node000003copy" node="F" data-folc="ACCOUNTING_001_01B" data-dskc="ACCOUNTING_001" data-name="Not Passed Academics Exceptions" data-totl="25" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Not Passed Academics Exceptions (25)</a></li><li id="node000004copy" node="F" data-folc="ACCOUNTING_001_01C" data-dskc="ACCOUNTING_001" data-name="Passed Academics Exceptions" data-totl="3" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Passed Academics Exceptions (3)</a></li><li id="node000005copy" node="F" data-folc="ACCOUNTING_001_01D" data-dskc="ACCOUNTING_001" data-name="To Be Unsuccessful" data-totl="3" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>To Be Unsuccessful (3)</a></li><li id="node000006copy" node="F" data-folc="ACCOUNTING_001_01E" data-dskc="ACCOUNTING_001" data-name="Scoring Errors" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf jstree-last ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Scoring Errors</a></li></ul></li><li id="node000007copy" node="D" data-dskc="ACCOUNTING_002" data-name="Further Info/Referral" data-movi="Y" data-movo="Y" data-frank="2" data-webe="D" class="jstree-open"><span class="jstree-wholerow-span" style="width:0px;">&nbsp;</span><ins class="jstree-icon" tabindex="0" title="Expand">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon" style="background: url(&quot;../plugins/css/jstree/desk.gif&quot;) center center no-repeat;">&nbsp;</ins>Further Info/Referral</a><ul><li id="node000008copy" node="F" data-folc="ACCOUNTING_002_02A" data-dskc="ACCOUNTING_002" data-name="Further Information - Applicant" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Further Information - Applicant</a></li><li id="node000009copy" node="F" data-folc="ACCOUNTING_002_02B" data-dskc="ACCOUNTING_002" data-name="Further Information - Staff" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf jstree-last ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Further Information - Staff</a></li></ul></li><li id="node000010copy" node="D" data-dskc="ACCOUNTING_003" data-name="Additional Scoring" data-movi="Y" data-movo="Y" data-frank="3" data-webe="D" class="jstree-open"><span class="jstree-wholerow-span" style="width:0px;">&nbsp;</span><ins class="jstree-icon" tabindex="0" title="Expand">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon" style="background: url(&quot;../plugins/css/jstree/desk.gif&quot;) center center no-repeat;">&nbsp;</ins>Additional Scoring</a><ul><li id="node000011copy" node="F" data-folc="ACCOUNTING_003_03A" data-dskc="ACCOUNTING_003" data-name="Test Required" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Test Required</a></li><li id="node000012copy" node="F" data-folc="ACCOUNTING_003_03B" data-dskc="ACCOUNTING_003" data-name="Personal Statement to Score" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf jstree-last ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Personal Statement to Score</a></li></ul></li><li id="node000013copy" node="D" data-dskc="ACCOUNTING_004" data-name="Interview" data-movi="Y" data-movo="Y" data-frank="4" data-webe="D" class="jstree-open"><span class="jstree-wholerow-span" style="width:0px;">&nbsp;</span><ins class="jstree-icon" tabindex="0" title="Expand">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon" style="background: url(&quot;../plugins/css/jstree/desk.gif&quot;) center center no-repeat;">&nbsp;</ins>Interview</a><ul><li id="node000014copy" node="F" data-folc="ACCOUNTING_004_04A" data-dskc="ACCOUNTING_004" data-name="Consider For Interview" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Consider For Interview</a></li><li id="node000015copy" node="F" data-folc="ACCOUNTING_004_04B" data-dskc="ACCOUNTING_004" data-name="Invited For Interview" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Invited For Interview</a></li><li id="node000016copy" node="F" data-folc="ACCOUNTING_004_04C" data-dskc="ACCOUNTING_004" data-name="Interview Attended" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf jstree-last ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Interview Attended</a></li></ul></li><li id="node000017copy" node="D" data-dskc="ACCOUNTING_005" data-name="Decision" data-movi="Y" data-movo="Y" data-frank="5" data-webe="D" class="jstree-open"><span class="jstree-wholerow-span" style="width:0px;">&nbsp;</span><ins class="jstree-icon" tabindex="0" title="Expand">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon" style="background: url(&quot;../plugins/css/jstree/desk.gif&quot;) center center no-repeat;">&nbsp;</ins>Decision</a><ul><li id="node000018copy" node="F" data-folc="ACCOUNTING_005_05A" data-dskc="ACCOUNTING_005" data-name="Suitability for Decision/Pre-Offer Checks" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Suitability for Decision/Pre-Offer Checks</a></li><li id="node000019copy" node="F" data-folc="ACCOUNTING_005_05B" data-dskc="ACCOUNTING_005" data-name="Offer Pending" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf jstree-last ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Offer Pending</a></li></ul></li><li id="node000020copy" node="D" data-dskc="ACCOUNTING_006" data-name="Applicant outcome" data-movi="Y" data-movo="Y" data-frank="6" data-webe="D" class="jstree-last jstree-open"><span class="jstree-wholerow-span" style="width:0px;">&nbsp;</span><ins class="jstree-icon" tabindex="0" title="Expand">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon" style="background: url(&quot;../plugins/css/jstree/desk.gif&quot;) center center no-repeat;">&nbsp;</ins>Applicant outcome</a><ul><li id="node000021copy" node="F" data-folc="ACCOUNTING_006_06A" data-dskc="ACCOUNTING_006" data-name="Unsuccessful" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Unsuccessful</a></li><li id="node000022copy" node="F" data-folc="ACCOUNTING_006_06B" data-dskc="ACCOUNTING_006" data-name="Declined" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Declined</a></li><li id="node000023copy" node="F" data-folc="ACCOUNTING_006_06C" data-dskc="ACCOUNTING_006" data-name="Withdrawn" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Withdrawn</a></li><li id="node000024copy" node="F" data-folc="ACCOUNTING_006_06D" data-dskc="ACCOUNTING_006" data-name="Awaiting Offer Response" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Awaiting Offer Response</a></li><li id="node000025copy" node="F" data-folc="ACCOUNTING_006_06E" data-dskc="ACCOUNTING_006" data-name="Conditional Firm" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Conditional Firm</a></li><li id="node000026copy" node="F" data-folc="ACCOUNTING_006_06F" data-dskc="ACCOUNTING_006" data-name="Conditional Insurance" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Conditional Insurance</a></li><li id="node000027copy" node="F" data-folc="ACCOUNTING_006_06G" data-dskc="ACCOUNTING_006" data-name="Unconditional Firm" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Unconditional Firm</a></li><li id="node000028copy" node="F" data-folc="ACCOUNTING_006_06H" data-dskc="ACCOUNTING_006" data-name="Unconditional Insurance" data-totl="0" data-imgc="" data-img1="" class="jstree-leaf jstree-last ui-droppable"><span class="jstree-wholerow-span" style="width:18px;">&nbsp;</span><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Unconditional Insurance</a></li></ul></li></ul></div></div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="sv-col-md-9">
                    <div class="sv-row">
                      <div class="sv-col-md-12">
                      
                        <!-- Main Table Section -->
                        <div class="sv-row">
                          <div class="sv-col-md-7">
                            <span id="foldspan">Scoring &gt; To Be Scored (5)</span>
                            <div id="progress" style="display: none;"></div>
                          </div>
                          <div class="sv-col-md-2">
                            <input type="checkbox" id="ignorefilter" value="Y" onclick="return ft_ignore_filter()">
                            <label for="ignorefilter">Ignore filter?</label>
                          </div>
                          <div class="sv-col-md-2">
                            <input type="button" id="showfilter" value="Filter" onclick="return ft_show_filter()" class="sv-btn sv-btn-default">
                            <img id="fltrimg" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/arrow-closed.png" alt="Toggle">
                          </div>
                          <div class="sv-row">
                            <div class="sv-col-md-12">
                          <div id="fltrcell" style="display: none;">
                            <div id="fltrdiv"><div class="sv-form-container">
<div class="sv-form-horizontal">

  <fieldset style="margin-bottom:20px;">
    <h3>Filter options</h3>

      <div class="sv-form-group">
          <label for="STU_CODE.STU.SRS" class="sv-col-md-3 sv-control-label">Student number</label>
        <div class="sv-col-md-5">
          <input type="text" maxlength="50" id="STU_CODE.STU.SRS" name="STU_CODE.STU.SRS" class="sv-form-control">
        </div>
      </div> 

      <div class="sv-form-group">
          <label for="STU_FNM1.STU.SRS" class="sv-col-md-3 sv-control-label">First Name</label>
        <div class="sv-col-md-5">
          <input type="text" maxlength="50" id="STU_FNM1.STU.SRS" name="STU_FNM1.STU.SRS" class="sv-form-control">
        </div>
      </div> 

      <div class="sv-form-group">
          <label for="STU_SURN.STU.SRS" class="sv-col-md-3 sv-control-label">Surname</label>
        <div class="sv-col-md-5">
          <input type="text" maxlength="50" id="STU_SURN.STU.SRS" name="STU_SURN.STU.SRS" class="sv-form-control">
        </div>
      </div>

      <div class="sv-form-group">
          <label for="STU_DOB.STU.SRS" class="sv-col-md-3 sv-control-label">Date of Birth</label>
        <div class="sv-col-md-5">
	<div class="sv-input-group">
             <input type="text" maxlength="50" id="STU_DOB.STU.SRS" name="STU_DOB.STU.SRS" class="sv-form-control hasDatepicker">
	  <span class="sv-input-group-addon"><img class="ui-datepicker-trigger" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/si_calendar.gif" alt="Select a date" title="Select a date" role="button" tabindex="0"></span>
	</div>
        </div>
      </div> 

      <div class="sv-form-group">
          <label for="CAP_CRTD.CAP.SRS" class="sv-col-md-3 sv-control-label">Application Date</label>
        <div class="sv-col-md-5">
	<div class="sv-input-group">
             <input type="text" maxlength="50" id="CAP_CRTD.CAP.SRS" name="CAP_CRTD.CAP.SRS" class="sv-form-control hasDatepicker">
	  <span class="sv-input-group-addon"><img class="ui-datepicker-trigger" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/si_calendar.gif" alt="Select a date" title="Select a date" role="button" tabindex="0"></span>
	</div>
        </div>
      </div> 


      <div class="sv-form-group">
          <label for="CAP_INTD.CAP.SRS" class="sv-col-md-3 sv-control-label">Interview Date</label>
        <div class="sv-col-md-5">
	<div class="sv-input-group">
             <input type="text" maxlength="50" id="CAP_INTD.CAP.SRS" name="CAP_INTD.CAP.SRS" class="sv-form-control hasDatepicker">
	  <span class="sv-input-group-addon"><img class="ui-datepicker-trigger" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/si_calendar.gif" alt="Select a date" title="Select a date" role="button" tabindex="0"></span>
	</div>
        </div>
      </div> 


      <div class="sv-form-group">
          <label for="CAP_RBDD.CAP.SRS" class="sv-col-md-3 sv-control-label">RBD Date</label>
        <div class="sv-col-md-5">
	<div class="sv-input-group">
             <input type="text" maxlength="50" id="CAP_RBDD.CAP.SRS" name="CAP_RBDD.CAP.SRS" class="sv-form-control hasDatepicker">
	  <span class="sv-input-group-addon"><img class="ui-datepicker-trigger" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/si_calendar.gif" alt="Select a date" title="Select a date" role="button" tabindex="0"></span>
	</div>
        </div>
      </div> 


      <div class="sv-form-group">
          <label for="CAP_DECD.CAP.SRS" class="sv-col-md-3 sv-control-label">Decision Date</label>
        <div class="sv-col-md-5">
	<div class="sv-input-group">
             <input type="text" maxlength="50" id="CAP_DECD.CAP.SRS" name="CAP_DECD.CAP.SRS" class="sv-form-control hasDatepicker">
	  <span class="sv-input-group-addon"><img class="ui-datepicker-trigger" src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/si_calendar.gif" alt="Select a date" title="Select a date" role="button" tabindex="0"></span>
	</div>
        </div>
      </div> 

       <div class="sv-form-group">
          <label for="CAP_MCRC.CAP.SRS" class="sv-col-md-3 sv-control-label">Course</label>
        <div class="sv-col-md-5">
          <select id="CAP_MCRC.CAP.SRS" name="CAP_MCRC.CAP.SRS" class="sv-form-control">
              <option value="">Select</option>
<option value="FINA001AA001">Accounting and Finance (BSc)</option>
<option value="FINA001AA002">Accounting and Finance (BSc)</option>
<option value="FINA002AA001">Accounting and Management (BSc)</option>
<option value="FINA002AA002">Accounting and Management (BSc)</option>
<option value="ECOS005AA001">Economics and Accounting (BSc)</option>
<option value="ECOS005AA002">Economics and Accounting (BSc)</option>

          </select>
        </div>
      </div> 


       <div class="sv-form-group">
          <label for="STU_CODC.STU.SRS" class="sv-col-md-3 sv-control-label">Country of Domicile</label>
        <div class="sv-col-md-5">
          <select id="STU_CODC.STU.SRS" name="STU_CODC.STU.SRS" class="sv-form-control">
              <option value="">Select</option>
<option value="602">Afghanistan</option>
<option value="853">Aland Islands</option>
<option value="603">Albania</option>
<option value="604">Algeria</option>
<option value="854">American Samoa</option>
<option value="605">Andorra</option>
<option value="606">Angola</option>
<option value="824">Anguilla</option>
<option value="607">Antigua and Barbuda</option>
<option value="608">Argentina</option>
<option value="836">Armenia</option>
<option value="855">Aruba</option>
<option value="609">Australia</option>
<option value="610">Austria</option>
<option value="837">Azerbaijan</option>
<option value="611">Bahamas</option>
<option value="612">Bahrain</option>
<option value="787">Bangladesh</option>
<option value="613">Barbados</option>
<option value="838">Belarus</option>
<option value="614">Belgium</option>
<option value="668">Belize</option>
<option value="640">Benin</option>
<option value="615">Bermuda</option>
<option value="616">Bhutan</option>
<option value="617">Bolivia</option>
<option value="887">Bonaire, Sint Eustatius and Saba</option>
<option value="848">Bosnia and Herzegovina</option>
<option value="618">Botswana</option>
<option value="619">Brazil</option>
<option value="801">British Antarctic Territory</option>
<option value="829">British Indian Ocean Territory</option>
<option value="776">British Virgin Islands</option>
<option value="620">Brunei Darussalam</option>
<option value="621">Bulgaria</option>
<option value="769">Burkina Faso</option>
<option value="622">Burma</option>
<option value="623">Burundi</option>
<option value="624">Cambodia</option>
<option value="625">Cameroon</option>
<option value="626">Canada</option>
<option value="856">Canary Islands</option>
<option value="788">Cape Verde</option>
<option value="789">Cayman Islands</option>
<option value="627">Central African Republic</option>
<option value="629">Chad</option>
<option value="630">Chile</option>
<option value="631">China</option>
<option value="857">Christmas Island</option>
<option value="858">Cocos (Keeling) Islands</option>
<option value="632">Colombia</option>
<option value="804">Comoros</option>
<option value="633">Congo (Democratic Republic)</option>
<option value="634">Congo (Peoples Republic)</option>
<option value="859">Cook Islands</option>
<option value="635">Costa Rica</option>
<option value="834">Croatia</option>
<option value="636">Cuba</option>
<option value="885">Curacao</option>
<option value="882">Cyprus (European Union)</option>
<option value="883">Cyprus (Non-European Union)</option>
<option value="638">Cyprus (Not otherwise specified)</option>
<option value="849">Czech Republic</option>
<option value="641">Denmark</option>
<option value="749">Djibouti</option>
<option value="642">Dominica</option>
<option value="643">Dominican Republic</option>
<option value="786">East Timor (Timor-Leste)</option>
<option value="645">Ecuador</option>
<option value="768">Egypt</option>
<option value="646">El Salvador</option>
<option value="790">Equatorial Guinea</option>
<option value="851">Eritrea</option>
<option value="831">Estonia</option>
<option value="648">Ethiopia</option>
<option value="649">Falkland Islands</option>
<option value="865">Faroe Islands</option>
<option value="650">Fiji</option>
<option value="651">Finland</option>
<option value="653">France</option>
<option value="791">French Guiana</option>
<option value="822">French Polynesia</option>
<option value="792">French West Indies</option>
<option value="654">Gabon</option>
<option value="655">Gambia</option>
<option value="847">Georgia</option>
<option value="656">Germany</option>
<option value="658">Ghana</option>
<option value="659">Gibraltar</option>
<option value="661">Greece</option>
<option value="828">Greenland</option>
<option value="662">Grenada</option>
<option value="867">Guadeloupe</option>
<option value="663">Guatemala</option>
<option value="664">Guinea</option>
<option value="802">Guinea-Bissau</option>
<option value="665">Guyana</option>
<option value="666">Haiti</option>
<option value="667">Honduras</option>
<option value="669">Hong Kong</option>
<option value="670">Hungary</option>
<option value="671">Iceland</option>
<option value="672">India</option>
<option value="673">Indonesia</option>
<option value="674">Iran</option>
<option value="675">Iraq</option>
<option value="676">Ireland (Republic)</option>
<option value="677">Israel</option>
<option value="678">Italy</option>
<option value="679">Ivory Coast</option>
<option value="680">Jamaica</option>
<option value="681">Japan</option>
<option value="682">Jordan</option>
<option value="839">Kazakhstan</option>
<option value="683">Kenya</option>
<option value="660">Kiribati</option>
<option value="684">Korea (South)</option>
<option value="685">Korea DRY (North)</option>
<option value="881">Kosovo</option>
<option value="686">Kuwait</option>
<option value="840">Kyrgyzstan</option>
<option value="687">Lao PDR</option>
<option value="832">Latvia</option>
<option value="688">Lebanon</option>
<option value="690">Lesotho</option>
<option value="691">Liberia</option>
<option value="692">Libyan AR</option>
<option value="827">Liechtenstein</option>
<option value="833">Lithuania</option>
<option value="693">Luxembourg</option>
<option value="694">Macao</option>
<option value="852">Macedonia</option>
<option value="695">Madagascar</option>
<option value="696">Malawi</option>
<option value="698">Malaysia</option>
<option value="793">Maldive Islands</option>
<option value="699">Mali</option>
<option value="700">Malta</option>
<option value="861">Marshall Islands</option>
<option value="869">Martinique</option>
<option value="701">Mauritania</option>
<option value="702">Mauritius</option>
<option value="821">Mayotte</option>
<option value="703">Mexico</option>
<option value="862">Micronesia</option>
<option value="841">Moldova</option>
<option value="825">Monaco</option>
<option value="704">Mongolia</option>
<option value="864">Montenegro</option>
<option value="705">Montserrat</option>
<option value="706">Morocco</option>
<option value="707">Mozambique</option>
<option value="798">Namibia</option>
<option value="805">Nauru</option>
<option value="709">Nepal</option>
<option value="710">Netherlands</option>
<option value="637">Netherlands Antilles</option>
<option value="711">New Caledonia</option>
<option value="712">New Guinea</option>
<option value="714">New Zealand</option>
<option value="715">Nicaragua</option>
<option value="716">Niger</option>
<option value="717">Nigeria</option>
<option value="871">Niue</option>
<option value="999">No Information Provided (Home)</option>
<option value="872">Norfolk Island</option>
<option value="873">Northern Mariana Islands</option>
<option value="718">Norway</option>
<option value="782">Not Known</option>
<option value="708">Oman</option>
<option value="721">Pakistan</option>
<option value="874">Palau</option>
<option value="870">Palestine</option>
<option value="722">Panama</option>
<option value="723">Papua New Guinea</option>
<option value="724">Paraguay</option>
<option value="725">Peru</option>
<option value="726">Philippines</option>
<option value="823">Pitcairn Islands</option>
<option value="727">Poland</option>
<option value="728">Portugal</option>
<option value="730">Puerto Rico</option>
<option value="731">Qatar</option>
<option value="795">Reunion</option>
<option value="733">Romania</option>
<option value="842">Russia</option>
<option value="734">Rwanda</option>
<option value="741">Samoa</option>
<option value="826">San Marino</option>
<option value="803">Sao Tome and Principe</option>
<option value="743">Saudi Arabia</option>
<option value="785">Senegal</option>
<option value="780">Serbia</option>
<option value="744">Seychelles</option>
<option value="745">Sierra Leone</option>
<option value="746">Singapore</option>
<option value="886">Sint Maarten (Dutch Part)</option>
<option value="850">Slovakia</option>
<option value="835">Slovenia</option>
<option value="747">Solomon Islands</option>
<option value="748">Somalia</option>
<option value="750">South Africa</option>
<option value="830">South Georgia and the South Sandwich Islands</option>
<option value="884">South Sudan</option>
<option value="751">Spain</option>
<option value="628">Sri Lanka</option>
<option value="735">St Helena</option>
<option value="736">St Kitts and Nevis</option>
<option value="737">St Lucia</option>
<option value="875">St Pierre and Miquelon</option>
<option value="738">St Vincent</option>
<option value="783">Stateless</option>
<option value="752">Sudan</option>
<option value="753">Suriname</option>
<option value="876">Svalbard and Jan Mayen</option>
<option value="754">Swaziland</option>
<option value="755">Sweden</option>
<option value="756">Switzerland</option>
<option value="757">Syria</option>
<option value="652">Taiwan</option>
<option value="843">Tajikistan</option>
<option value="759">Tanzania</option>
<option value="760">Thailand</option>
<option value="762">Togo</option>
<option value="877">Tokelau</option>
<option value="784">Tonga</option>
<option value="763">Trinidad and Tobago</option>
<option value="765">Tunisia</option>
<option value="766">Turkey</option>
<option value="844">Turkmenistan</option>
<option value="799">Turks and Caicos Islands</option>
<option value="647">Tuvalu</option>
<option value="796">US Trust Territories</option>
<option value="772">USSR (not otherwise specified)</option>
<option value="767">Uganda</option>
<option value="845">Ukraine</option>
<option value="764">United Arab Emirates</option>
<option value="2826">United Kingdom</option>
<option value="771">United States of America</option>
<option value="770">Uruguay</option>
<option value="846">Uzbekistan</option>
<option value="713">Vanuatu</option>
<option value="878">Vatican City</option>
<option value="773">Venezuela</option>
<option value="774">Vietnam</option>
<option value="800">Virgin Islands (US)</option>
<option value="879">Wallis and Futuna</option>
<option value="880">Western Sahara</option>
<option value="601">Yemen</option>
<option value="781">Zambia</option>
<option value="732">Zimbabwe</option>

          </select>
        </div>
      </div> 


       <div class="sv-form-group">
          <label for="CAP_AYRC.CAP.SRS" class="sv-col-md-3 sv-control-label">Year of Entry</label>
        <div class="sv-col-md-5">
          <select id="CAP_AYRC.CAP.SRS" name="CAP_AYRC.CAP.SRS" class="sv-form-control">
              <option value="">Select</option>






<option value="2017/18">2017/18</option>
<option value="2018/19">2018/19</option>
<option value="2019/20">2019/20</option>
<option value="2020/21">2020/21</option>
<option value="2021/22">2021/22</option>

          </select>
        </div>
      </div> 


      <div class="sv-form-group">
          <label for="CAP_DEC1.CAP.SRS" class="sv-col-md-3 sv-control-label">Offer Type</label>
        <div class="sv-col-md-5">
          <select id="CAP_DEC1.CAP.SRS" name="CAP_DEC1.CAP.SRS" class="sv-form-control">
              <option value="">Select</option>
 <option value="C">Conditional Offer</option>
 <option value="L">Waiting List - Conditional Offer</option>
 <option value="R">Reject</option>
 <option value="U">Unconditional Offer</option>
 <option value="W">Waiting List - Unconditional Offer</option>

          </select>
        </div>
      </div> 

       <div class="sv-form-group">
          <label for="CAP_FSTC.CAP.SRS" class="sv-col-md-3 sv-control-label">Fee Status</label>
        <div class="sv-col-md-5">
          <select id="CAP_FSTC.CAP.SRS" name="CAP_FSTC.CAP.SRS" class="sv-form-control">
              <option value="">Select</option>
<option value="CIO">Channel Islands/ Isle of Man</option>
<option value="EXC">Erasmus Exchange</option>
<option value="H">Home</option>
<option value="OXC">Non Erasmus Exchange</option>
<option value="O">Overseas</option>
<option value="STA">Study Abroad</option>
<option value="U">Undetermined Fee Status</option>

          </select>
        </div>
      </div> 


      <div class="sv-form-group">
          <label for="CAP_MTHC.CAP.SRS" class="sv-col-md-3 sv-control-label">Start month</label>
        <div class="sv-col-md-5">
          <select id="CAP_MTHC.CAP.SRS" name="CAP_MTHC.CAP.SRS" class="sv-form-control">
              <option value="">Select</option>
 <option value="01">January Term 2</option>
 <option value="02">February</option>
 <option value="03">March</option>
 <option value="04">April Term 3</option>
 <option value="05">May</option>
 <option value="06">June</option>
 <option value="07">July</option>
 <option value="08">August</option>
 <option value="09">September Term 1</option>
 <option value="10">October</option>
 <option value="11">November</option>
 <option value="12">December</option>

          </select>
        </div>
      </div> 


      <div class="sv-form-group">
          <label for="CAP_RLYN.CAP.SRS" class="sv-col-md-3 sv-control-label">On Hold</label>
        <div class="sv-col-md-5">
          <select id="CAP_RLYN.CAP.SRS" name="CAP_RLYN.CAP.SRS" class="sv-form-control">
              <option value="">Select</option>
<option value="N">LOCKED</option>
<option value="Y">UNLOCKED</option>
          </select>
        </div>
      </div> 


      <div class="sv-form-group">
          <label for="APF_UDF1.APF.SRS" class="sv-col-md-3 sv-control-label">Aspiring School</label>
        <div class="sv-col-md-5">
          <input type="text" maxlength="50" id="APF_UDF1.APF.SRS" name="APF_UDF1.APF.SRS" class="sv-form-control">
        </div>
      </div> 


      <div class="sv-form-group">
          <label for="CAP_AGOE.CAP.SRS" class="sv-col-md-3 sv-control-label">Age on entry</label>
        <div class="sv-col-md-5">
          <input type="text" maxlength="50" id="CAP_AGOE.CAP.SRS" name="CAP_AGOE.CAP.SRS" class="sv-form-control">
        </div>
      </div> 


      <div class="sv-form-group">
          <label for="CAP_BLOK.CAP.SRS" class="sv-col-md-3 sv-control-label">Point of Entry</label>
        <div class="sv-col-md-5">
          <input type="text" maxlength="50" id="CAP_BLOK.CAP.SRS" name="CAP_BLOK.CAP.SRS" class="sv-form-control">
        </div>
      </div> 


      <div class="sv-btn-container">
          <div class="sv-btn-container sv-btn-container-inline">
	     <input type="button" id="clearfilter" value="Clear values" onclick="return ft_clear_filter()" class="sv-col-xs-12 sv-col-sm-2 sv-btn sv-btn-default">
                <input type="button" id="resetfilter" value="Remove filter" onclick="return ft_reset_filter()" class="sv-col-xs-12 sv-col-sm-2 sv-btn sv-btn-default">
                <input type="button" id="applyfilter" value="Apply filter" onclick="return ft_apply_filter()" class="sv-col-xs-12 sv-col-sm-2 sv-btn sv-btn-default">
          </div>
      </div>

  </fieldset>
</div>
</div>


<script type="text/javascript">
  sits_date_picker(sits_get_object("CAP_CRTD.CAP.SRS"));
  sits_date_picker(sits_get_object("STU_DOB.STU.SRS"));
  sits_date_picker(sits_get_object("CAP_INTD.CAP.SRS"));
  sits_date_picker(sits_get_object("CAP_RBDD.CAP.SRS"));
  sits_date_picker(sits_get_object("CAP_DECD.CAP.SRS"));
</script></div>
                          </div>
                          </div>
                          </div>
                        </div>
                        <div class="sv-row">
                          <div class="sv-col-md-12">
                          <div id="datadiv" class="sv-table-container" style="height: 520px;">
                            <!-- Table -->
                            <table id="datatable" class="sv-table" title="Data">
                              <tbody role="listbox">
                                <tr id="headrow"><th class="chkcell">&nbsp;</th><th data-seqn="1" data-indx="0" tabindex="0" class="sortable" data-sort="">UCAS<br>ID<span id="srt1" class="sortspan">&nbsp;</span></th><th data-seqn="3" data-indx="1" tabindex="0" class="sortable" data-sort="">Name<span id="srt3" class="sortspan">&nbsp;</span></th><th data-seqn="4" data-indx="2" tabindex="0" class="sortable" data-sort="">Course<br>Code<span id="srt4" class="sortspan">&nbsp;</span></th><th data-seqn="6" data-indx="3" tabindex="0" class="sortable" data-sort="">Application<br>Date<span id="srt6" class="sortspan">&nbsp;</span></th><th data-seqn="7" data-indx="4" tabindex="0" class="sortable" data-sort="">Fee<br>Status<span id="srt7" class="sortspan">&nbsp;</span></th><th data-seqn="8" data-indx="5" tabindex="0" class="sortable" data-sort="">Aspiring<br>School<span id="srt8" class="sortspan">&nbsp;</span></th><th data-seqn="9" data-indx="6" tabindex="0" class="sortable" data-sort="">WP<span id="srt9" class="sortspan">&nbsp;</span></th><th data-seqn="10" data-indx="7" tabindex="0" class="sortable" data-sort="">M/Cs<span id="srt10" class="sortspan">&nbsp;</span></th><th data-seqn="11" data-indx="8" tabindex="0" class="sortable" data-sort="">Folder<br>Move<br>Date<span id="srt11" class="sortspan">&nbsp;</span></th><th data-seqn="12" data-indx="9" tabindex="0" class="sortable" data-sort="">Point<br>of<br>Entry<span id="srt12" class="sortspan">&nbsp;</span></th></tr><tr class="normalrow ui-draggable ui-draggable-handle" tabindex="0" role="option" aria-selected="false" id="381ABFF5-6EE5-4091-A543-3DCFADED6B31"><td rowspan="1" class="checkbox"><img src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/AppIcon.png" alt="Application" class="appicon"></td><td><a href="javascript://View" class="ft_view_link" title="Main Admissions Undergraduate Style">1078880088</a></td><td><a href="javascript://View" class="ft_view_link" title="Main Admissions Undergraduate Style">MILLS       AV</a></td><td>NN43</td><td>14/01/13</td><td></td><td></td><td></td><td></td><td>16/05/17</td><td>1</td></tr><tr class="normalrow ui-draggable ui-draggable-handle" tabindex="0" role="option" aria-selected="false" id="980F808B-A03E-404E-9668-E4A206C844FC"><td rowspan="1" class="checkbox"><img src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/AppIcon.png" alt="Application" class="appicon"></td><td><a href="javascript://View" class="ft_view_link" title="Main Admissions Undergraduate Style">1093969384</a></td><td><a href="javascript://View" class="ft_view_link" title="Main Admissions Undergraduate Style">POPELYUK    N</a></td><td>NN43</td><td>13/11/13</td><td></td><td></td><td></td><td></td><td>02/05/17</td><td>1</td></tr><tr class="normalrow ui-draggable ui-draggable-handle" tabindex="0" role="option" aria-selected="false" id="378EE970-9850-49C2-8C70-77D5529C1E41"><td rowspan="1" class="checkbox"><img src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/AppIcon.png" alt="Application" class="appicon"></td><td><a href="javascript://View" class="ft_view_link" title="Main Admissions Undergraduate Style">1188095969</a></td><td><a href="javascript://View" class="ft_view_link" title="Main Admissions Undergraduate Style">PEARSON-BUNTY</a></td><td>NN43</td><td>07/01/16</td><td></td><td></td><td></td><td></td><td>15/05/17</td><td>1</td></tr><tr class="normalrow ui-draggable ui-draggable-handle" tabindex="0" role="option" aria-selected="false" id="6146E1CC-FDBE-4A4A-8B77-2A073D2FBA23"><td rowspan="1" class="checkbox"><img src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/AppIcon.png" alt="Application" class="appicon"></td><td><a href="javascript://View" class="ft_view_link" title="Main Admissions Undergraduate Style">1223743268</a></td><td><a href="javascript://View" class="ft_view_link" title="Main Admissions Undergraduate Style">MACKENZIE   L</a></td><td>NN43</td><td>26/08/16</td><td></td><td></td><td></td><td></td><td>03/05/17</td><td>1</td></tr><tr class="normalrow ui-draggable ui-draggable-handle" tabindex="0" role="option" aria-selected="false" id="96196ECE-E771-4D31-B3CD-65AE2FEC6B43"><td rowspan="1" class="checkbox"><img src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/AppIcon.png" alt="Application" class="appicon"></td><td><a href="javascript://View" class="ft_view_link" title="Main Admissions Undergraduate Style">1165952863</a></td><td><a href="javascript://View" class="ft_view_link" title="Main Admissions Undergraduate Style">HALL        A</a></td><td>NN43</td><td>11/01/16</td><td></td><td></td><td></td><td></td><td>15/05/17</td><td>1</td></tr><tr id="busyrow" style="display: none;">
                                  <td id="busycellone" colspan="1">&nbsp;</td>
                                  <td id="busycelltwo" colspan="10"><img src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/working.gif" alt="Loading"></td>
                                </tr>
                                <tr id="zerorow" style="display: none;">
                                  <td id="zerocellone" colspan="1">&nbsp;</td>
                                  <td id="zerocelltwo" colspan="10">This folder has no records</td>
                                </tr>
                              </tbody>
                            </table>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    
                    <div class="sv-btn-container">
                      <div class="sv-col-md-2">
                        <input type="button" id="slctall" value="Select all" onclick="return ft_select_app(true)" class="sv-btn sv-btn-block sv-btn-default">
                      </div>
                      <div class="sv-col-md-2">
                        <input type="button" id="slctnon" value="Clear all" onclick="return ft_select_app(false)" class="sv-btn sv-btn-block sv-btn-default">
                      </div>
<!--
                      <div class="sv-col-md-offset-4 sv-col-md-2">
                        <input type="button" id="bulkinv" value="Send Invites" onclick="return ft_bulk_inv()" class="sv-btn sv-btn-block sv-btn-default">
                      </div>
                      <div class="sv-col-md-2">
                        <input type="button" id="bulksrl" value="Send Message" onclick="return ft_bulk_srl()" class="sv-btn sv-btn-block sv-btn-default">
                      </div>
-->
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>



<!-- 080217 Hidden by Tim Howarth (Tribal) as not being used by Bristol
 -->          
        <!-- Linked courses -->
<!-- 080217 Hidden by Tim Howarth (Tribal) as not being used by Bristol
          <div id="pcgtable" class="sv-row">
            <div class="sv-col-md-12">
              <div class="sv-panel sv-panel-primary">
 -->
                <!-- Header -->
<!-- 080217 Hidden by Tim Howarth (Tribal) as not being used by Bristol
                <div class="sv-panel-heading">
                  <h2 class="sv-panel-title">
                    <x-subst type="html" name="BP059.DUMMY_B.MENSYS"></x-subst>
                  </h2>
                </div>
                <x-subst type="html" name="LINKS.DUMMY.MENSYS"></x-subst>
              </div>
            </div>
          </div>
-->
     

      <!--Page footer section-->
      
      <!--End of Page footer section-->
    </form>
    <div id="preload_images" style="display:none">
      <img src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/working.gif" alt="Working">
      <img src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/up.gif" alt="Up">
      <img src="https://dev.sls.bristol.ac.uk/urd/sits.urd/images/down.gif" alt="Down">
      <img src="../plugins/css/jstree/d.png" alt="Dpng">
      <img src="../plugins/css/jstree/desk.gif" alt="Desk">
      <img src="../plugins/css/jstree/throbber.gif" alt="Throbber">
      <img src="../plugins/css/jstree/dot_for_ie.gif" alt="IEdot">
    </div>


      </div>
{% include "../partials/footer.njk" %}