<!-- index.nunjucks -->
{% set base_path = "" %}

{% include "../partials/head.njk" %}
{% include "../partials/header.njk" %}

<!--  Message -->

 <div class="sv-row">
     <div class="sv-col-lg-12">
         <div class="uob-alert-msg">
        <h2>MB ChB Medicine (A100)  Sept 2018 Entry</h2>
        <p>Action Required</p>
        </div><!-- /alert msg -->
     </div>
     <div><!--- /alert message row -->

<!-- Message and events -->
<div class="sv-container-fluid">
<div class="sv-row">
    <div class="sv-col-sm-6 sv-col-lg-8 sv-col-md-8">
        <h2>Recent messages</h2>
        <div class="uob-inbox">
            <ul class="uob-inbox_msg-list">
                <li class="blue_dot"><p><a href="#" class="uob-inbox_subject">Action required : Book an interview</a></p><p class="uob-inbox_date">
            </ul>
        </div><!-- /Inbox -->
        <!-- Inbox -->
        <!-- Split column with images -->
        <div class="sv-row">
            <div class="sv-col-lg-6 sv-col-md-6">
                <img class="sv-img-responsive" src="http://placehold.it/359x356">

            </div>
            <div class="sv-col-lg-6 sv-col-md-6">
                 <img class="sv-img-responsive" src="http://placehold.it/359x356">
            </div><!-- / split image row -->
        </div><!-- /row  -->
        <div class="sv-row" style="margin-top:20px">
            <div class="sv-col-lg-12 sv-col-md-12">
                <!-- Wide image -->
               <img class="sv-img-responsive" src="http://placehold.it/754x471">
            </div><!-- /sv-col-lg-12-->
        </div><!-- /row -->
</div><!-- /sv-col-lg-8 -->
    <div class="sv-col-sm-6 sv-col-lg-4 sv-col-md-4">
        <h2>Your events</h2>

        <div class="uob-panel uob-panel--nobackground  uob-panel_section-text">
            <p>You haven’t signed up for any events yet</p>
        </div>


        <h2>Other Events</h2>
            <div class="uob-panel">
            <div class="">
            <img class="sv-img-responsive" src="assets/images/church.png">
            </div>

            <div class="uob-card">
                <div class="uob-panel_section-text">
            <h3><a href="#">University Open Days</a></h3>
            <p>Our open days offer you the perfect opportunity to find out all you need to know about the University of Bristol.</p>
            </div><!-- / uob-panel_section -->
            </div><!-- /uob card -->

            <div class="uob-card">
                  <div class="uob-panel_section-text">
            <h3><a href="#">Campus Tours</a></h3>
            <p>If you are unable to make an open day, visit the University at a time that is convenient for you with our student-led campus tours or self-guided walking tour.</p>
                    </div><!-- / uob-panel_section -->
            </div><!-- /uob card -->

            <div class="uob-card">
                    <div class="uob-panel_section-text">
            <h3><a href="#">Open Afternoons</a></h3>
            <p>The University holds open afternoons in the Autumn term as another opportunity to visit if you cannot attend an open day.</p>
            </div><!-- / uob-panel_section -->
            </div>

        <!-- Divider -->
        </div><!-- /Uob panel -->
    </div><!-- /sv-col-lg-4 -->
</div><!-- /row -->
</div><!-- / container -->


{% include "../partials/footer.njk" %}
