<!-- index.nunjucks -->
{% set base_path = "" %}

{% include "../partials/head.njk" %}
{# {% include "../partials/header.njk" %} #}
<style>
  html {
	height:100%;
}

.sv-container, .sv-row, body {
	height:100%; min-height: 100%;
}
.cover {
  background-size:cover;
}

.vh100 {
  min-height: 100vh;
}
</style>


<!-- Message and events -->
<div class="sv-container">
  <div class="sv-row">
    <div class="flex-row1 login-bg sv-col-sm-6 sv-col-lg-8 sv-col-md-8 cover vh100">
       <a href="#"><img src="{{ base_path }}assets/images/UoB_logo-white.svg" class="uob-logo uob-logo--login" alt="University of Bristol logo"></a>
      <h1 class="uob-large-heading uob-white-text">Student Lifecycle Support</h1>
    </div><!-- /loginbg -->
  

    <div class="sv-col-sm-6 sv-col-lg-4 sv-col-md-4 uob-form-login vh100">
      <div class="sv-row">
        <div class="sv-col-sm-12">
          <form class="sv-form">
            <div class="sv-form-group">
              <label class="sv-control-label" for="userName">Username</label>
              <input type="text" class="sv-form-control" id="userName" autocomplete="off">
            </div>
            <div class="sv-form-group">
              <label for="exampleInputPassword">Password</label>
             
              <input type="password" class="sv-form-control" id="exampleInputPassword" placeholder="Password" autocomplete="off">
            </div>
             <div class="sv-form-group uob-login-href">
                <x-subst type="html" name="FORGOTTEN_BUTTON.DUMMY.MENSYS">
                  <a href="#" class="uob-login-href" id="">Forgotten your password?</a>
                </x-subst>
              </div>
            <button type="submit" class="sv-btn sv-btn-primary">Sign in</button>
           </form>
         
        </div>
     

        <div class="sv-col-sm-12">
          <h2>About SLS</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultricies varius urna, quis rutrum risus imperdiet vel.</p>
          <p>In aliquet magna et arcu malesuada commodo. Nullam accumsan ex eget lacus ultricies malesuada. Pellentesque nec lorem ultricies mi ullamcorper accumsan et id risus.</p>
        </div>


        <div class="sv-col-sm-12 uob-sso">
If you have a Single Sign-In account <a href="">sign in here</a>.

        </div>




        <div>

          <!-- Divider -->
        </div>
        </div><!-- /row -->
        <!-- /Uob panel -->
      </div>
      <!-- /sv-col-lg-4 -->
    </div>
    <!-- /row -->
  </div>
  <!-- / container -->


  {# {% include "../partials/footer.njk" %} #}
