{% set base_path = "" %}

{% include "../partials/head.njk" %}
{% include "../partials/header.njk" %}
    <div class="sv-page-header sv-hidden-xs">
      <h1 id="sitsportalpagetitle">Admissions</h1>
      <p id="sitsportalpagedesc"></p>
    </div>
    <div class="sv-page-header sv-hidden-md sv-hidden-lg sv-hidden-sm">
      <h1 class="sv-h1-small">Admissions</h1>
    </div>
<!-- end of portal page heading section  -->

    <!-- Two Column Grid Layout -->
    <div class="sv-row">
      <div class="sv-col-md-6">
        <!-- 1st Column -->
        <div class="sv-row">
          <div class="sv-col-md-12">


            <!-- Start of Container ADM00101-->
            <div class="sv-panel sv-panel-primary" style="">
              <div class="sv-panel-heading" style="">
                <div class="sv-row">
                  <div class="sv-col-xs-12">
                    <h2 class="sv-panel-title">Application Processing</h2>
                  </div>
                </div>
              </div><!-- End of Panel Heading -->
              <!-- Hidden section html is here -->
              <div id="CON_ADM00101_TITLE" style="display:none">Application Processing</div>
              <div id="CON_ADM00101_TEXT" style="display:none">


              </div> <!-- End of hidden help -->


              <div class="sv-list-group sv-portal-2-col" data-sv-portal-multiplier="2">
                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_ADM_DSH.start_url?FF1E50986DF211E7QOqBJRokUjVv1YQ5u_dJ2BecOtNDxmtfewMmmAxuf-XguX_lymuWzlr89f_cc00-HQAtWclUlEOD_pevKOE501Am8TFhG3utyMSM13GtEAOlyJSTCgU0Kqkj_gSEc-vkEn7I8uq9uaAOPkSQpQSvIQ9xgHLmN8f6q2MNFaPh61knsoO7hCo5e2Lel6mLrUx7" target="_self"> Undergraduate Applications </a>

                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_YACD.start_url?FF1E91DE6DF211E7Q8dh58R_pkwqG2Aq25i0eMn5KeBBuVn2WKuPx-cbyR-95bLLVdndrTPezyuGkHTIOCx8YqBZhu84B16hohVmGTGpSv5oF2MGNUuhu3AnJX_b9MuA3PEecwvqNMDq1j--jrpyRGvoOjgZOodws3hpUKSKNOhAdNijs2RRu1dgelA" target="_self"> Application forms </a>

                  <a class="sv-list-group-item sv-list-group-item-overflow" href="../run/SIW_POD.start_url?FF1ED3386DF211E7BPS3AvVU_lh4fDEXZc33iy0ffghq8ykqFwmq0vzInYuqL8rO4voQJYoLz7ynoiJLFJulE--OsHyVa8lChbfeNl2ffqLu53OD9d39eglB1BmdTfel0QF-qCF_ENlk0qF6gYqh89rbMfQg4RnkhluKbQBWb6Kyyacp4AWBGenQFNy_PVmf6L-yr_RDipp8P19j" target="_self">Application Retrieve (current applications)</a>

                  <a class="sv-list-group-item sv-list-group-item-overflow" href="../run/SIW_POD.start_url?FF1F121C6DF211E78z01vNplK6He3WQI2U36SDenOhRhWbWHvHSxTbk97wu_FQSwHJSPXr_cN3ajaTE95bCgUxYUg-Hq4zwoamRMXdGm6UxWGP21H5zy6NK3Qrv8wAq81LKTj8Zu5j7hOCqFqGI7A0-oCOpdPNXLDN80EL41sI0Fnf1yFm1XBTkTn5QQlKmJPg5AHxcUJHdmioCk" target="_self">Application Retrieve (inc historic applications)</a>

                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_YMHD.start_url?FF1F51506DF211E7mOAAsTQaA1gCSOhPkvI5WvoPihXhT4LT47MpH9SiJ0qrYishLt9QuQbVg-bv3Yf9E6VqlGIyr5MT5l78JI2PNaUNkIGQVqBgGPgQKzpbD_M6KyAPW8fG563gqX8gjYYR2en8-4JY78yBRPUMYKPJvO2CkXtVw1mGvRQIJ-MjgZUS8hQh6L7NKsP-nIIu7eojpEmUza_UGD2_QTJrDVmeVwNuff2vW1JGJtC6wt6PeR38DJeYfM0hUUBNpsvSzZZeoOgxbE9_XJ0FX1ARHiywliWufvwOO_15dG5fcCSknc935IVz8Fwty_rtZNPvGu1l" target="_self"> Test Fee Status Questionnaire (log in as 1780031) </a>

                  <a class="sv-list-group-item sv-list-group-item-overflow" href="../run/SIW_POD.start_url?FF1F8BAC6DF211E7kypHw4SPjDOpQyT5fG8D53w4lhNKXnQjil11dm_A8PpDNHbMMMqRaQZWjQVm45w68CirG-U_Hi2XVQMl1Gu4V5zat8OaEc9oqle09G5A7Zrj1R-yrb-MgO_4urzwm2t4iA55-6bCUp6j2sgdIV3zR1eir7MUI402ZpeUzW5kx0zDjrp8vLNJBYHaVR-LiA0Q" target="_self">Assess Fee Status Questionnaire (staff)</a>

              </div>


            </div>
            <!-- End of container ADM00101 -->



            <!-- Start of Container ADM00102-->
            <div class="sv-panel sv-panel-primary" style="">
              <div class="sv-panel-heading" style="">
                <div class="sv-row">
                  <div class="sv-col-xs-12">
                    <h2 class="sv-panel-title">Attribute Management</h2>
                  </div>
                </div>
              </div><!-- End of Panel Heading -->
              <!-- Hidden section html is here -->
              <div id="CON_ADM00102_TITLE" style="display:none">Attribute Management</div>
              <div id="CON_ADM00102_TEXT" style="display:none">


              </div> <!-- End of hidden help -->


              <div class="sv-list-group sv-portal-2-col" data-sv-portal-multiplier="2">
                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_DMX.start_url?FF1B48086DF211E7Yw7NFEMe2BCTEwSNNNC3CShWaOonAOgfsNLtH89joaxi6V8aklOvNceukjeuS0qfvX47D7kihgwvk7vriFf4mce-UwQnDza_Ed3BB97ryuM4ycYpt-txYD-yDeZVCymqgLdjtr3aM8VEu7ISFsHoMDofTcAJMFz5SzXkCNquSHZ5yP2Q3wXK5LcRVSPtgjNr0XmjqAaL3GEPK6PW27-OEvEPHTNeaXQoAgPzPtZXZWs" target="_self"> Admissions Courses/Programmes </a>

                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_OLB.start_url?FF1B84126DF211E7YUYGkB7T_OvFm2HE_9OJoqPF4qHMrJUD4ZnEFJ4Yf1-2kUWItli2OvkxrWzVey8-h2b1tp-G2SdFAYJ0Xx3sEZ3OasVkiCbyxy94wnocQ9S8MINbUgWTsdGsLV9o3DSgTag4B9i8aYWTMFvqCP3m_Q" target="_self"> Offer Library Maintenance </a>

                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_DMX.start_url?FF1BC1346DF211E7cZ7vlnGVOYYZzsXwX37Vga_cajS5NtXbuhfUMG49NTo2R1JJ62aTkk-0J6Um0Jsvs_j-zhhXaTyf_5Ny0yXQ6C3_WhDMJB3_aNKxBlNeF01OkGxh_F1cpNwmrrCMf0YpLzRszzoJlpSr31ksI-n2JfxVrnScUzGuDZHHdHiUh4dQIlI8A5SXps-_286Ib0ZsoQ2XAxiHXCvau2tFKxy1xXxBCLxTfOyr8dCbnYEdWy0" target="_self"> UMA Maintenance </a>

                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_DMX.start_url?FF1C00406DF211E7PbwH659G7KZJUJD-7k4IV0UMMGJI4x6gn7ZPqsIKCPNbAB3WuWMR8Qn1QYYTcxsKJmQxBoxsbyPE7aF5hhdW_mXpp_zAe39UEjqxK5lGgtzGep5I6RPjK-sTt9HiF9V0TNG-75YfXdbtP0i8fTMRme98M44Pcp83TRGtWazRHmNDKeAJiMPEiT7Zp41j9_CnHOU0jMF-9QJSQ4H2AD7k5jCYwoOBPMK8jR5oV_Rz24A" target="_self"> UMG Maintenance </a>

              </div>


            </div>
            <!-- End of container ADM00102 -->


          </div>
        </div>
      </div><!-- end of 1st column -->

      <!-- 2nd Column -->
      <div class="sv-col-md-6">
        <div class="sv-row">
          <div class="sv-col-md-12">


            <!-- Start of Container ADM00103-->
            <div class="sv-panel sv-panel-primary" style="">
              <div class="sv-panel-heading" style="">
                <div class="sv-row">
                  <div class="sv-col-xs-12">
                    <h2 class="sv-panel-title">Duplicate Matching</h2>
                  </div>
                </div>
              </div><!-- End of Panel Heading -->
              <!-- Hidden section html is here -->
              <div id="CON_ADM00103_TITLE" style="display:none">Duplicate Matching</div>
              <div id="CON_ADM00103_TEXT" style="display:none">


              </div> <!-- End of hidden help -->


              <div class="sv-list-group sv-portal-2-col" data-sv-portal-multiplier="2">
                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_XDUP.start_url?FF1DC9B66DF211E767d1QIEU1x0TbuPr8JVKrSD10kudRfgkHmlRa7znC603k2Y1351KOqvM3ipADXi9ptGiLfVZmYIGS-4_TKP3mlg59N6ql4JVSecLhcClSPqbITSCkxUYPhgoKU6AhsRVomvlW6vow4hFb-GRzafXDA" target="_self"> Duplicate Matching </a>

              </div>


            </div>
            <!-- End of container ADM00103 -->



            <!-- Start of Container ADM00104-->
            <div class="sv-panel sv-panel-primary" style="">
              <div class="sv-panel-heading" style="">
                <div class="sv-row">
                  <div class="sv-col-xs-12">
                    <h2 class="sv-panel-title">Interview Management</h2>
                  </div>
                </div>
              </div><!-- End of Panel Heading -->
              <!-- Hidden section html is here -->
              <div id="CON_ADM00104_TITLE" style="display:none">Interview Management</div>
              <div id="CON_ADM00104_TEXT" style="display:none">


              </div> <!-- End of hidden help -->


              <div class="sv-list-group sv-portal-2-col" data-sv-portal-multiplier="2">
                  <a class="sv-list-group-item sv-list-group-item-overflow" href="../run/SIW_POD.start_url?FF20CFBC6DF211E7P-UR6qBL5YPw-XXnZt_E-RWjaT6HRPlnX8kEVBIiDoHkJtGOs1CgBFaB1-ff_CdwL8RDqewtONAljTBasEZkGXq2rffNPj--P_bmNIQWrgfNEbrklK3GDO0Ydru0-WsW-z1j3edi7nbABPVteGdmb_a503qZOiNxCjN-t2e3jEsTaUuuQGuA8obAr8umou8n" target="_self">Interview Decisions</a>

              </div>


            </div>
            <!-- End of container ADM00104 -->



            <!-- Start of Container ADM00105-->
            <div class="sv-panel sv-panel-primary" style="">
              <div class="sv-panel-heading" style="">
                <div class="sv-row">
                  <div class="sv-col-xs-12">
                    <h2 class="sv-panel-title">CSV File Upload</h2>
                  </div>
                </div>
              </div><!-- End of Panel Heading -->
              <!-- Hidden section html is here -->
              <div id="CON_ADM00105_TITLE" style="display:none">CSV File Upload</div>
              <div id="CON_ADM00105_TEXT" style="display:none">


              </div> <!-- End of hidden help -->


              <div class="sv-list-group sv-portal-2-col" data-sv-portal-multiplier="2">
                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_YMHD.start_url?FF2045606DF211E745osa0_MkiAPwCB_Wl5Qr0y_nMmo-HGljPXHrWNLkMWkSmENKX84kJ9uJGfPuqk0OOuO8JZUDc_N_XxVhWbsrZs0QE73oeZrqxux4jypiEDpx9jIZU5EvY379ynkJON0pfq7Hs8eeoLaFLZXVSRpW6LsZjJNX77G0XSEAoJ50Ngtm0c3dQcaGiCnWbuv0WHQqpshw5bCI87mJFB01HciJw" target="_self"> CSV File Upload </a>

              </div>


            </div>
            <!-- End of container ADM00105 -->



            <!-- Start of Container ADM00106-->
            <div class="sv-panel sv-panel-primary" style="">
              <div class="sv-panel-heading" style="">
                <div class="sv-row">
                  <div class="sv-col-xs-12">
                    <h2 class="sv-panel-title">Development</h2>
                  </div>
                </div>
              </div><!-- End of Panel Heading -->
              <!-- Hidden section html is here -->
              <div id="CON_ADM00106_TITLE" style="display:none">Development</div>
              <div id="CON_ADM00106_TEXT" style="display:none">


              </div> <!-- End of hidden help -->


              <div class="sv-list-group sv-portal-2-col" data-sv-portal-multiplier="2">
                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_YMHD.start_url?FF1CFBD06DF211E7YJ5AVrSHx3z3rrtT-A0ipgLO0vZdRgY2pnEr73KOl1mT4tFUKeTVQUq5BUnaDZ4mvI0xukbl5rffVcsKJOM0yU-4lhujGVgaWxfu6hapvoeSlwoybjzL0f5gsI3uZlW-c2EiVhEw-XoICmxWsERjpW0SNmWtnd5YtdpDQStg1a6mFKeKYJl31Dy_OvfYC6OMFli42_4B7d0E0WYzcPHSaA" target="_self"> Data Migration - Update UDFIs for an Individual </a>

                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_YMHD.start_url?FF1D36D66DF211E76fEHMuKc0jwTMhkQIIZGzM111tvps8PTrNr00Ek53TDrwWj5bKA-qXaTAAv56oOrHLtWGVoBzKW0nNuxvVVe1OSBsj7UC-jvTOB2aqyWK2DlPLhVh9W_scaTgqDitBA_TaxBKCMryVRy07IEBylnGztXhBAk-UHd2pGyxBne5yerNeoLot53mjGtUZPI5JdJkQOAF7swOzvTUOVi2aSIEg" target="_self"> Task Generation &amp; Activation </a>

              </div>


            </div>
            <!-- End of container ADM00106 -->

<div class="sv-list-group-item">
                  <p>Barcode SRL (MST.BARCODETEST)</p>
<p>Web Font</p>
<p class="barcode" style="font-size:48px">*1780020166550377*</p>
<p>Local Font</p>
<p style="font-family:'free 3 of 9 regular'; font-size:48px">*1780020166550377*</p>
<br>
<a href="../run/SIW_YGSL.start_url?5ED472B86DFA11E7Q5korehWut_iBZCCW_v3jWR8QiOHEQsFTwAfbFISesBoRa7D9ogE_KrGJZd1oDpkZd97Bcxr_Z28lgvy_77xkbxtl6vNkSvA2LFAUsMXNbr1H5QzoHB_ZIm2WBngInFLge1olBqphdWicDasRZA9OKw9NxZWDgrGZgaipdHRhiExDsWiqZBEt5Cj_awHF3WBfBu-BqkdE9t8_5jhWS2exQ">Download</a> pdf version
                </div>
          </div><!-- end of column -->
        </div><!-- end of column row -->
      </div></div>
     
{% include "../partials/footer.njk" %}