<!-- components.njk -->
{% set base_path = "../" %} {% include "../partials/head.njk" %} {% block head %}
<link rel="stylesheet" href="{{ base_path }}css/bootstrap.docs.css"> {% endblock %} {% include "../partials/header.njk" %} {% block content %}
<div class="sv-container bs-docs-container">
    <div class="sv-row">

        <div class="sv-col-12">
            <h1 class="sv-page-header">Bootstrap styles</h1>

        </div>
    </div>



    <div class="sv-row">
        <div class="sv-col-md-3" role="complementary">

            <nav class="bs-docs-sidebar hidden-print hidden-sm hidden-xs affix-top">
                <ul class="nav bs-docs-sidenav">
                    <li> <a href="#glyphicons">Forms</a>

                    </li>
                    <li> <a href="#dropdowns">Typography</a>

                    </li>
                    <li> <a href="#btn-groups">Button</a>

                    </li>
                    <li> <a href="#btn-dropdowns">Labels</a>

                    </li>

                    <li><a href="#responsive-embed">Responsive embed</a></li>
                    <li><a href="#wells">Wells</a></li>
                </ul> <a href="#top" class="back-to-top"> Back to top </a> <a href="#" class="bs-docs-theme-toggle" role="button"> Preview theme </a> </nav>
        </div>

        <!-- / nav -->









        <div class="sv-col-md-9" role="main">

            <div class="bs-docs-section">
                <h1 class="page-header" id="forms">
                    <a class="anchorjs-link " href="#forms" aria-label="Anchor link for: forms" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Forms</h1>
                <h2 id="forms-example">
                    <a class="anchorjs-link " href="#forms-example" aria-label="Anchor link for: forms example" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Basic example</h2>
                <p>Individual form controls automatically receive some global styling. All textual <code>&lt;input&gt;</code>, <code>&lt;textarea&gt;</code>, and <code>&lt;select&gt;</code> elements with <code>.form-control</code> are set to <code>width: 100%;</code>                    by default. Wrap labels and controls in <code>.form-group</code> for optimum spacing.</p>
                <div class="bs-example" data-example-id="basic-forms">
                    <form lpformnum="1">
                        <div class="sv-form-group"> <label for="exampleInputEmail1">Email address</label> <input type="email" class="sv-form-control" id="exampleInputEmail1" placeholder="Email" autocomplete="off"> </div>
                        <div class="sv-form-group"> <label for="exampleInputPassword1">Password</label>

                            <input type="password" class="sv-form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off"> </div>
                        <div class="sv-form-group">
                            <p class="sv-help-block">Example block-level help text here.</p>
                        </div>
                        <div class="sv-checkbox"> <label> <input type="checkbox"> Check me out </label> </div> <button type="submit" class="sv-btn sv-btn-primary">Submit</button> </form>
                </div>
                <div class="sv-zero-clipboard"><span class="sv-btn-clipboard">Copy</span></div>
                <figure class="sv-highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;form&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"exampleInputEmail1"</span><span class="nt">&gt;</span>Email address<span class="nt">&lt;/label&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"email"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">id=</span><span class="s">"exampleInputEmail1"</span> <span class="na">placeholder=</span><span class="s">"Email"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"exampleInputPassword1"</span><span class="nt">&gt;</span>Password<span class="nt">&lt;/label&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"password"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">id=</span><span class="s">"exampleInputPassword1"</span> <span class="na">placeholder=</span><span class="s">"Password"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>

    <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"help-block"</span><span class="nt">&gt;</span>Example block-level help text here.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"checkbox"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;label&gt;</span>
      <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span><span class="nt">&gt;</span> Check me out
    <span class="nt">&lt;/label&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">class=</span><span class="s">"sv-btn sv-btn-primary"</span><span class="nt">&gt;</span>Submit<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;/form&gt;</span></code></pre></figure>
                <div class="bs-callout bs-callout-warning" id="callout-formgroup-inputgroup">
                    <h4>Don't mix form groups with input groups</h4>
                    <p>Do not mix form groups directly with <a href="/components/#input-groups">input groups</a>. Instead, nest the input group inside of the form group.</p>
                </div>











                <h3 id="checkboxes-and-radios">
                    <a class="anchorjs-link " href="#checkboxes-and-radios" aria-label="Anchor link for: checkboxes and radios" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Checkboxes and radios</h3>
                <p>Checkboxes are for selecting one or several options in a list, while radios are for selecting one option from many.</p>
                <p>Disabled checkboxes and radios are supported, but to provide a "not-allowed" cursor on hover of the parent <code>&lt;label&gt;</code>, you'll need to add the <code>.disabled</code> class to the parent <code>.radio</code>, <code>.radio-inline</code>,
                    <code>.checkbox</code>, or <code>.checkbox-inline</code>.</p>
                <h4 id="default-stacked">
                    <a class="anchorjs-link " href="#default-stacked" aria-label="Anchor link for: default stacked" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Default (stacked)</h4>
                <div class="bs-example" data-example-id="block-checkboxes-radios">
                    <form lpformnum="4">
                        <div class="sv-checkbox"> <label> <input type="checkbox" value=""> Option one is this and that—be sure to include why it's great </label> </div>
                        <div class="sv-checkbox disabled"> <label> <input type="checkbox" value="" disabled=""> Option two is disabled </label> </div> <br>
                        <div class="sv-radio"> <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> Option one is this and that—be sure to include why it's great </label> </div>
                        <div class="sv-radio"> <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Option two can be something else and selecting it will deselect option one </label> </div>
                        <div class="sv-radio disabled"> <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled=""> Option three is disabled </label> </div>
                    </form>
                </div>
                <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div>
                <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"sv-checkbox"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;label&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"sv-checkbox"</span> <span class="na">value=</span><span class="s">""</span><span class="nt">&gt;</span>
    Option one is this and that<span class="ni">&amp;mdash;</span>be sure to include why it's great
  <span class="nt">&lt;/label&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"checkbox disabled"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;label&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"sv-checkbox"</span> <span class="na">value=</span><span class="s">""</span> <span class="na">disabled</span><span class="nt">&gt;</span>
    Option two is disabled
  <span class="nt">&lt;/label&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"sv-radio"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;label&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"sv-radio"</span> <span class="na">name=</span><span class="s">"optionsRadios"</span> <span class="na">id=</span><span class="s">"optionsRadios1"</span> <span class="na">value=</span><span class="s">"option1"</span> <span class="na">checked</span><span class="nt">&gt;</span>
    Option one is this and that<span class="ni">&amp;mdash;</span>be sure to include why it's great
  <span class="nt">&lt;/label&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"radio"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;label&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"sv-radio"</span> <span class="na">name=</span><span class="s">"optionsRadios"</span> <span class="na">id=</span><span class="s">"optionsRadios2"</span> <span class="na">value=</span><span class="s">"option2"</span><span class="nt">&gt;</span>
    Option two can be something else and selecting it will deselect option one
  <span class="nt">&lt;/label&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"sv-radio disabled"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;label&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"sv-radio"</span> <span class="na">name=</span><span class="s">"optionsRadios"</span> <span class="na">id=</span><span class="s">"optionsRadios3"</span> <span class="na">value=</span><span class="s">"option3"</span> <span class="na">disabled</span><span class="nt">&gt;</span>
    Option three is disabled
  <span class="nt">&lt;/label&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>












                <h2 id="forms-help-text">
                    <a class="anchorjs-link " href="#forms-help-text" aria-label="Anchor link for: forms help text" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Help text</h2>
                <p>Block level help text for form controls.</p>
                <div class="bs-callout bs-callout-info" id="callout-help-text-accessibility">
                    <h4>Associating help text with form controls</h4>
                    <p>Help text should be explicitly associated with the form control it relates to using the <code>aria-describedby</code> attribute. This will ensure that assistive technologies – such as screen readers – will announce this help text when
                        the user focuses or enters the control.</p>
                </div>
                <div class="bs-example" data-example-id="simple-help-text">
                    <form lpformnum="13">
                        <div class="sv-form-group"> <label for="inputHelpBlock">Input with help text</label> <input id="inputHelpBlock" class="sv-form-control" aria-describedby="helpBlock"> </div> <span class="help-block" id="helpBlock">A block of help text that breaks onto a new line and may extend beyond one line.</span>                        </form>
                </div>
                <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div>
                <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">"sr-only"</span> <span class="na">for=</span><span class="s">"inputHelpBlock"</span>Input with help text<span class="nt">&lt;/label&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">id=</span><span class="s">"inputHelpBlock"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">aria-describedby=</span><span class="s">"helpBlock"</span><span class="nt">&gt;</span>
...
<span class="nt">&lt;span</span> <span class="na">id=</span><span class="s">"helpBlock"</span> <span class="na">class=</span><span class="s">"help-block"</span><span class="nt">&gt;</span>A block of help text that breaks onto a new line and may extend beyond one line.<span class="nt">&lt;/span&gt;</span></code></pre></figure>
            </div>

            <h2>Buttons</h2>

            <button class="sv-btn sv-btn-primary">Primary action</button>
            <button class="sv-btn sv-btn-default">Secondary action</button>
            <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div>
            <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"sv-btn sv-btn-primary"</span><span class="nt">&gt;</span><span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"sv-btn sv-btn-default"</span><span class="nt">&gt;</span><span class="nt">&lt;/button&gt;</span></code></pre></figure>


        </div>
        <!-- / col 9 -->
    </div>
    {% endblock %} {% include "../partials/footer.njk" %}