<!-- unitreg.njk -->
{% set base_path = "" %} {% include "../partials/head.njk" %} {% include "../partials/student-header.njk" %}


<!-- Portal Page Heading section  -->
    <div class="sv-page-header sv-hidden-xs">
      <h1 id="sitsportalpagetitle">Assessment &amp; Feedback</h1>
      <p id="sitsportalpagedesc"></p>
    </div>
    <div class="sv-page-header sv-hidden-md sv-hidden-lg sv-hidden-sm">
      <h1 class="sv-h1-small">Assessment &amp; Feedback</h1>
    </div>
<!-- end of portal page heading section  -->

    <!-- Two Column Grid Layout -->
    <div class="sv-row">
      <div class="sv-col-md-6">
        <!-- 1st Column -->
        <div class="sv-row">
          <div class="sv-col-md-12">


            <!-- Start of Container ASF00101-->
            <div class="sv-panel sv-panel-primary" style="">
              <div class="sv-panel-heading" style="">
                <div class="sv-row">
                  <div class="sv-col-xs-12">
                    <h2 class="sv-panel-title">Assessment</h2>
                  </div>
                </div>
              </div><!-- End of Panel Heading -->
              <!-- Hidden section html is here -->
              <div id="CON_ASF00101_TITLE" style="display:none">Assessment</div>
              <div id="CON_ASF00101_TEXT" style="display:none">


              </div> <!-- End of hidden help -->


<div class="sv-tiled-container"><div class="sv-row"><div class="sv-col-xs-12"><div class="sv-col-sm-4 sv-col-xs-6 sv-tiled-col"><a href="SIW_MME.start_url?3AEEE8F06E1E11E7kugblvvgdFrCAZhP8gqm9e2F-2oCjPkBOsmaqjB8_Z_s5r_8d1qfHLpfKgDDjGip2hLzPsU-CUlMla3H_oRfR9WqbiSCija-YQqi3Y9yUb20EgOsCLiQQfFoYgBD_d5qQ8lnB44PY--d6-KuBRKtmPgDEQkn9oZPJGvVJIzDNbo" target="_self"><div class="sv-tiled-cop sv-tiled-cop-d"><span class="tiled-icon-large sv-hidden-xs glyphicon glyphicon-tasks"></span><span class="sv-visible-xs tiled-icon-small glyphicon glyphicon-tasks"></span><br><div class="sv-tiled-link-text">Mark Entry</div></div></a></div><div class="sv-col-sm-4 sv-col-xs-6 sv-tiled-col"><a href="SIW_MME.start_url?3AEF2CC06E1E11E71AQedLWIChDm8IEUhUc3tSu-6awLBARCvx5zzKuTI0aj31PlLDiePQaPd0ONxdAO8xthkvBBmEHbDyTkZ3UIuPBHuGck7UJAo9PvB_l9avVaQ0CBYlbVEeUXSAz3T0mPzY6NO20suxc3QYsmYhiPmrvemjtR59zFkDiKCNGgbbSjgiNJbHa98ofASAnAEuAnrNE0nTS7WyuTK7oz-X_mkKfUJnj69DPVcXP9X9uaR45edk6HzIFuCbTNVFnA5PwiL7MsSmMSxFUoshfItVJ6R6rDI3zQnwwPBb8UQk874N93pyEDFuvE1PC5E2soyjpnkN5RZkgIZnyK2ZwPirLuzQ" target="_self"><div class="sv-tiled-cop sv-tiled-cop-d"><span class="tiled-icon-large sv-hidden-xs glyphicon glyphicon-tasks"></span><span class="sv-visible-xs tiled-icon-small glyphicon glyphicon-tasks"></span><br><div class="sv-tiled-link-text">Mark Entry (All Options)</div></div></a></div><div class="sv-col-sm-4 sv-col-xs-6 sv-tiled-col"><a href="SIW_XSAL1.start_url?3AEF81026E1E11E7aLFhUwwE_z_b4wxp6YdHQK2ozgIx6OEioTYP_brgHuS6mYGcys8MtKM_4xLJK_eyNSPO69Rxm0wS2blXHKOaVkqA678y0Aemdo1EYfMteymhQd6WJn9sL8EXiTvjHxJd8BTeSNVCmjwe88W8dbBknA" target="_self"><div class="sv-tiled-cop sv-tiled-cop-c"><span class="tiled-icon-large sv-hidden-xs glyphicon glyphicon-check"></span><span class="sv-visible-xs tiled-icon-small glyphicon glyphicon-check"></span><br><div class="sv-tiled-link-text">Assessment Logging by Barcode</div></div></a></div><div class="sv-col-sm-4 sv-col-xs-6 sv-tiled-col"><a href="SIW_YMHD.start_url?3AF17DB86E1E11E7YufRGTSjfeSSz3p75eaLNX-t2u7s7UuWc8OMaIgafvqjp33jxIOuMq8RroTreczSyLzOOD86GX05v6ANbaM-nRXiVLN8dsOapPWnddoyhqdBWas54xFsGhGd2XT0YRvgP_B2duIcRw3VyMJPDt9Sj5vMIegq7fM8hvE0lSMXmEAD2T3d8S4Q6uFUpHMi7oXoTXASSCdwTBFBNfUpFGgNcK4ruIO_HZW_0c3m9Kb4JKQ" target="_self"><div class="sv-tiled-cop sv-tiled-cop-a"><span class="tiled-icon-large sv-hidden-xs glyphicon glyphicon-flag"></span><span class="sv-visible-xs tiled-icon-small glyphicon glyphicon-flag"></span><br><div class="sv-tiled-link-text">Assessment Data Maintenance</div></div></a></div></div></div></div>

            </div>
            <!-- End of container ASF00101 -->



            <!-- Start of Container ASF00105-->
            <div class="sv-panel sv-panel-primary" style="">
              <div class="sv-panel-heading" style="">
                <div class="sv-row">
                  <div class="sv-col-xs-12">
                    <h2 class="sv-panel-title">External Examiners Management (Taught)</h2>
                  </div>
                </div>
              </div><!-- End of Panel Heading -->
              <!-- Hidden section html is here -->
              <div id="CON_ASF00105_TITLE" style="display:none">External Examiners Management (Taught)</div>
              <div id="CON_ASF00105_TEXT" style="display:none">


              </div> <!-- End of hidden help -->


              <div class="sv-list-group sv-portal-2-col" data-sv-portal-multiplier="2">
                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_YMHD.start_url?3AF9D04E6E1E11E7tHpbwoRC1TkDn06xmbXFpgvsMZBbApBMwwn-lvnWKjXn7pMHbLBzNvbB0lh_ckovGHXtMGoAdp3Ro_LibZOWSaMGxQygFXiW521-7oqmnc6hNnPQqSkau3AN8xpR081DZ7fb-2TWQeNuTMf7DoGQtgMpgM5IkO77r4CLbDmrqz4uVrzGCoVdylpcOBfizpUTXjI8kKbSoQbyxAqXE5Ox8_YPTQta3sijk8oTzjCVXGk" target="_self"> Send Nomination form </a>

                <div class="sv-list-group-item">
                  Complete Response form
                </div>
              </div>


            </div>
            <!-- End of container ASF00105 -->



            <!-- Start of Container ASF00107-->
            <div class="sv-panel sv-panel-primary" style="">
              <div class="sv-panel-heading" style="">
                <div class="sv-row">
                  <div class="sv-col-xs-12">
                    <h2 class="sv-panel-title">External Examiner's View</h2>
                  </div>
                </div>
              </div><!-- End of Panel Heading -->
              <!-- Hidden section html is here -->
              <div id="CON_ASF00107_TITLE" style="display:none">External Examiner's View</div>
              <div id="CON_ASF00107_TEXT" style="display:none">


              </div> <!-- End of hidden help -->


              <div class="sv-list-group sv-portal-2-col" data-sv-portal-multiplier="2">
                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_YMHD.start_url?3AF90CE06E1E11E7cBbAOsyFFPx1pestFBaoh5xZqdp4NmEQSeEPxhyWr55a_trq6k3CNTczZrEjfvMbuy4P30fxvb7ruZB0I3JHQlOEYIzrsofyV1VKOB3q0qypY8M-W-XtCk1KdQkHgH4BEg6ryyq6DRtfOfyvyX4LuBRbAWC3YBi06gbk-6o54kzltOUv3mhljZMa9TWaY4pST4If_oZJwNQrhAqCN-ycJFSqpqwpbBZ1zXHmPBVIsjg" target="_self"> Submit Annual Report </a>

              </div>


            </div>
            <!-- End of container ASF00107 -->


          </div>
        </div>
      </div><!-- end of 1st column -->

      <!-- 2nd Column -->
      <div class="sv-col-md-6">
        <div class="sv-row">
          <div class="sv-col-md-12">


            <!-- Start of Container ASF00102-->
            <div class="sv-panel sv-panel-primary" style="">
              <div class="sv-panel-heading" style="">
                <div class="sv-row">
                  <div class="sv-col-xs-12">
                    <h2 class="sv-panel-title">Progression</h2>
                  </div>
                </div>
              </div><!-- End of Panel Heading -->
              <!-- Hidden section html is here -->
              <div id="CON_ASF00102_TITLE" style="display:none">Progression</div>
              <div id="CON_ASF00102_TEXT" style="display:none">


              </div> <!-- End of hidden help -->


<div class="sv-tiled-container"><div class="sv-row"><div class="sv-col-xs-12"><div class="sv-col-sm-4 sv-col-xs-6 sv-tiled-col"><a href="SIW_CSP1.start_url?3AF242A26E1E11E7Cw35rdKaqEX9WZgeGLZt_4w0kCIH2ZvwEPojCcO9vks5eYE-i-9JZpfXVrD6qkqChr1gPDaPlP9s1gmbL05X57hf3WukuUJwIX6RfLAEbNXA_inLAAT781xklCac0L-X1XyC7nlZqvJRzI8mgdHoWg" target="_self"><div class="sv-tiled-cop sv-tiled-cop-b"><span class="tiled-icon-large sv-hidden-xs glyphicon glyphicon-pencil"></span><span class="sv-visible-xs tiled-icon-small glyphicon glyphicon-pencil"></span><br><div class="sv-tiled-link-text">Progression Calculation - Step 1</div></div></a></div><div class="sv-col-sm-4 sv-col-xs-6 sv-tiled-col"><a href="SIW_CSP1_1.start_url?3AF2838E6E1E11E7EUP5qFjiCLtJqUA8VMEFxnXT8NQe7g9qUY9-Q2ivWrrH3iuZY83pNdffQjs5zM8Nmz4H1th0c1saOtXjLNl7SgBM-6W3nAg6038bG9NkG7lqYZen_XcF09xrXNQzPx20IejZRcgLP15u80bV3vtWIw" target="_self"><div class="sv-tiled-cop sv-tiled-cop-e"><span class="tiled-icon-large sv-hidden-xs glyphicon glyphicon-plus"></span><span class="sv-visible-xs tiled-icon-small glyphicon glyphicon-plus"></span><br><div class="sv-tiled-link-text">Progression Calculation - Step 2</div></div></a></div><div class="sv-col-sm-4 sv-col-xs-6 sv-tiled-col"><a href="SIW_CSP2.start_url?3AF2C2906E1E11E7yzxchc9p78o7tWbRiagF0CkOLai1Km6RPUlh9g4QRc3O3XjcM_007v1yztck4vTLeYXDbGPz_vuZ9rjr0KzJNFUK8hmZxucNiqq0okLRp_gehA-WiW5Gy_mXv3Y1NVBwwNPAcdgtCWeb8tBYbFa4AA" target="_self"><div class="sv-tiled-cop sv-tiled-cop-f"><span class="tiled-icon-large sv-hidden-xs glyphicon glyphicon-ok"></span><span class="sv-visible-xs tiled-icon-small glyphicon glyphicon-ok"></span><br><div class="sv-tiled-link-text">Progression Confirmation</div></div></a></div></div></div></div>

            </div>
            <!-- End of container ASF00102 -->



            <!-- Start of Container ASF00106-->
            <div class="sv-panel sv-panel-primary" style="">
              <div class="sv-panel-heading" style="">
                <div class="sv-row">
                  <div class="sv-col-xs-12">
                    <h2 class="sv-panel-title">Useful Links</h2>
                  </div>
                </div>
              </div><!-- End of Panel Heading -->
              <!-- Hidden section html is here -->
              <div id="CON_ASF00106_TITLE" style="display:none">Useful Links</div>
              <div id="CON_ASF00106_TEXT" style="display:none">


              </div> <!-- End of hidden help -->


              <div class="sv-list-group sv-portal-2-col" data-sv-portal-multiplier="2">
                <div class="sv-list-group-item">
                  <a href="https://enquiry-dev.sls.bristol.ac.uk/sid/aspx_helpdesk/helpcalls.aspx?ESDMenuBarParam=AllTeamSummary&amp;USER=1880020&amp;HASH=lzh2vhR2zmJbTsF-f47kjRSzPq6Ngr_1aEF9hFhr1-g&amp;IV=3ADF4B526E1E11E7" target="_new">Open SID</a>
                </div>
                <div class="sv-list-group-item">
                  <a href="https://www.mysits.com/mysits/sits910/910manuals/index.asp" target="_blank">SITS Manuals</a>
                </div>
                <div class="sv-list-group-item">
                  <a href="https://enquiry-dev.sls.bristol.ac.uk/sid/faqs/home.aspx?ESDMenuBarParam=AllTeamSummary&amp;USER=1880020&amp;HASH=SdcB2-gvgiB2airW9c-WtuReRI_5aghoczn-eQX5jWM&amp;IV=3AECC7B46E1E11E7" target="_new">I have a question</a>
                </div>
                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_YMHD.start_url?3AEDB2786E1E11E7fIdAAFvNVcLjGbPnfiaB4AXMCtwWlM_5KVCOQAKGUx-suzU_hFQ6_E7G8BmR2oVkh8m-yL-jqgrpGBH-an-ei7SbKSwJHeY7PGnCnOMHEjqyovwFcWVUkZRr9Ez2Hd_gfAkQ0lryhFgFxi30L4HiruGD-tODg8XTvToPYKu9Kci9KcQrYFKO9LZF79xoQxIEFumhcYsrsdwz81WqZffWhg" target="_self"> Mark Entry -  Task-enabled </a>

              </div>


            </div>
            <!-- End of container ASF00106 -->



            <!-- Start of Container ASF00108-->
            <div class="sv-panel sv-panel-primary" style="">
              <div class="sv-panel-heading" style="">
                <div class="sv-row">
                  <div class="sv-col-xs-12">
                    <h2 class="sv-panel-title">Research Management</h2>
                  </div>
                </div>
              </div><!-- End of Panel Heading -->
              <!-- Hidden section html is here -->
              <div id="CON_ASF00108_TITLE" style="display:none">Research Management</div>
              <div id="CON_ASF00108_TEXT" style="display:none">


              </div> <!-- End of hidden help -->


              <div class="sv-list-group sv-portal-2-col" data-sv-portal-multiplier="2">
                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_RSH_RDS.start_url?3AF374886E1E11E7qgQYhJZjIj7r96isCpQBDJyzw6AbRa3YSCCKzP7oqY1WTIPMid_E2qW46YHDDTwMNNNatH0c-EOB9gSggBXYhpUrZhYim-DeBzFeT7uyXEjS9U3g4NmdXj-pQo3tAb32DzbJBtNCj-FGh3WeBr4ra_CipOYbNwIxKEKtecPQB_jLAlfuXX7ekuQ0J0PNcRee1bnylBgbikDw-TyYffpbpQ" target="_self"> View Research Student Details </a>

                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_RQA.start_url?3AF3B3B26E1E11E7e11dPHM4xDf1qMNIP0qZH599g2i_KpBm2E49RD5U5-2x_QGMhwOPw-BDFBNS6rmCu9rKOaTfxnv9PgqWtQNm53JAQOQinEKAEtOsXxoB3ft-_DHmCZnxY2Rn8FDDRId2R1upzmhrjnAJEm3VhXI03nA_tmsPlL1nzEEG9ZYJQYocX1zbGD_egQyR5IgjUCPHmFatx5CqubtBZucUGC24dA" target="_self"> Research Questions and Answers </a>

                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_YMHD.start_url?3AF3FA2A6E1E11E7K3nr4xaoknqDZt9cXF4W4Fd3-PdPFAk_S-_Wht472sawSyzmfNU7qooxly4-6CD3jTvIGaauU2pUHuz0OjnIJ1u1S8BMXZBJznErHo-UciTsTHrez4E0agINF8R9BN9cP-n30WDyDTmEEqcfjrjxv0ZlPOJ91setvmTDbsG1a0EUQyVQLeXmNGnAB_yMYFIdyGl0MRNUamC2IHAVC4OSLg" target="_self"> APM-Monitoring the progress of students’ reviews </a>

                  <a class="sv-list-group-item sv-list-group-item-overflow" href="SIW_YMHD.start_url?3AF43D466E1E11E78KpxJkiyZEoFcLBGhAAUdgNB0VVESuoiqS4MBafKmTgnOS0_V4FODlTHqSf010VVQ9EVK0jwicz26GCWboEXWlXYSfJcjfmrbIWHNJ24fY4VnSMcPyJDBT73dWOtLL04jjwEc9iYDVLywxOQGCSacnzBbfrvoP-z2dnhUp_jfezMlCC-8QJgkPuGs37vcQ5lZIk9KjjGlgD8Tq1x6U15ZQ" target="_self"> APM-Review forms </a>

              </div>


            </div>
            <!-- End of container ASF00108 -->


          </div><!-- end of column -->
        </div><!-- end of column row -->

      </div><!-- end of last column -->
    </div><!-- end of outer container -->
 


{% include "../partials/footer.njk" %}