// Tabs
// -------------------------
//@ui-tabs-default-border: @grey-border;
//@ui-tabs-default-color: @ui-link-color;
//@ui-tabs-active-border: @grey-border;
//@ui-tabs-active-bg: @ui-white;
//@ui-tabs-active-color: @ui-gray-dark;
//@ui-tabs-hover-bg: #f5f5f5;