// Core varibles used for jquery widgets

@ui-widget-content-border: @grey-border;
@ui-widget-content-bg: #fff;
@ui-widget-content-color: #000;

@ui-widget-header-border: @panel-primary-border;
@ui-widget-header-bg: #fff; //#e9e9e9;
@ui-widget-header-color:#000; //@panel-primary-text;
@ui-widget-header-link-color: @interaction-blue; //@ui-gray-darker;

@ui-widget-footer-border: @panel-inner-border;
@ui-widget-footer-bg: @panel-footer-bg;

@ui-widget-overlay-bg: @ui-gray-light; //used for modal dialog overlay

@ui-state-default-border: #cccccc;
@ui-state-default-bg: #e9e9e9; //@ui-white;
@ui-state-default-color: #000; //@ui-gray-dark;
@ui-state-default-link-color: @interaction-blue;

@ui-state-active-border: @ui-state-hover-border;
@ui-state-active-bg: @interaction-blue; //@ui-state-hover-bg;
@ui-state-active-color: #000; //@ui-state-hover-color;
@ui-state-active-link-color: #000;//@ui-state-hover-link-color;

@ui-state-alternate-bg: @table-bg-accent; //used for table row striping in jqGrid

@ui-state-highlight-border: #bce8f1;
@ui-state-highlight-bg: #d9edf7;
@ui-state-highlight-color: #3a87ad;
@ui-state-highlight-link-color: #2d6987;

@ui-state-error-border: #eed3d7;
@ui-state-error-bg: #f2dede;
@ui-state-error-color: #b94a48;
@ui-state-error-link-color: #953b39;
@ui-state-error-text-color: #953b39;

//// Datepicker
// -------------------------
@ui-datepicker-border: @ui-btn-primary-border;
@ui-datepicker-header-bg: @interaction-blue; //@table-bg-hover;
@ui-datepicker-header-color: @ui-gray;
@ui-datepicker-today-bg: @ui-brand-info;
@ui-datepicker-today-color: @ui-white;
@ui-datepicker-default-color:@ui-gray;
@ui-datepicker-active-bg: @ui-state-active-bg;
@ui-datepicker-active-color: #fff; //@ui-state-active-color;
@ui-datepicker-highlight-bg: @ui-state-highlight-bg;
@ui-datepicker-highlight-color: @ui-state-highlight-color;
@ui-datepicker-hover-bg: @ui-btn-primary-bg;
@ui-datepicker-hover-color: @ui-btn-primary-color;
