/*jQuery UI menu*/
.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
	.ui-menu{
		position: absolute;
	}
}

.ui-menu{
	.ui-menu-item {
	    position: relative;
		padding: 0.4em 0;
		cursor: pointer;
		min-height: 0; /* support: IE7 */
		/* support: IE10, see #8844 */
		list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);

		&.ui-state-focus, &.ui-state-active, &.ui-widget-content{
			font-weight: bold;
			display: block;
			white-space: nowrap;
		}

		&.ui-state-active, &.ui-widget-content {
			background-color: @ui-menu-item-a-active-bg;
			border-color: @ui-menu-item-a-active-border;
			color: @ui-menu-item-a-active-color;
			border: none;
		}

		&.ui-state-focus {
			background-color: @ui-menu-item-a-focus-bg;
			border-color: @ui-menu-item-a-focus-border;
			color: @ui-menu-item-a-focus-color;
		}
	}
	.ui-menu-divider {
		margin: 5px 0;
		height: 0;
		font-size: 0;
		line-height: 0;
		border-width: 1px 0 0 0;
	}
}

/* icon support */
.ui-menu-icons {
	position: relative;
	.ui-menu-item {
		padding-left: 2em;
	}
}

.ui-menu{
	width: 200px;
	/* left-aligned */
	.ui-icon {
		position: absolute;
		top: 0;
		bottom: 0;
		left: .2em;
		margin: auto 0;
	}

	/* right-aligned */
	.ui-menu-icon {
		left: auto;
		right: 0;
	}
}
