/* Misc visuals
----------------------------------*/

/* Corner radius */

.ui-corner-all {
	border-radius: @border-radius-base;
}

.ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border-top-left-radius: @border-radius-base;
}

.ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: @border-radius-base;
}

.ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	border-bottom-left-radius: @border-radius-base;
}

.ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: @border-radius-base;
}


/* Overlays */

.ui-widget-overlay {
    background-color: @ui-widget-overlay-bg;
	.ui-opacity(.9);
}

.ui-widget-shadow {
	margin: -8px 0 0 -8px;
	padding: 8px;
	background-color: @ui-widget-overlay-bg;
	.ui-opacity(.9);
	border-radius: 8px ;
}
