/*-------UOB AMENDMENTS--------
 Changes by Ben J 2016
 CSS moved to LESS - AB (Tribal) 13/01/2016
*/

/* BASICS */

/* body {
      background: #efede9;
}
--- AB Added to LESS
*/

/*--- TYPOGRAPHY--- */
/* body {
    font-family: 'Open Sans', sans-serif;
}
--- Added to LESS
*/

/* h1, h2, h3, h4, h5, h6, .sv-h1, .sv-h2, .sv-h3, .sv-h4, .sv-h5, .sv-h6 {
    font-weight: bold
    }
--- Added to LESS
*/

/* Page title (.sv-h1-small changes in LESS) */
#sitsportalpagetitle, {
    font-family: "Libre Baskerville",Georgia,sans-serif;
    color: #1c7698
    }

#sitsportalpagetitle {
     letter-spacing: -1px;
    }

/* commented out by TM on 03/04/2017*/

/* Border under page title */
/*.sv-page-header:after {
    content: "";
    width: 100%;
    display: block;
    background: #dedcd2;
    height: 4px;
    position: relative;
    top: 6px;
  } */

/* Reducing the size of headings in panels  */
/* .sv-panel h2 {
    font-size: 24px;
    }
--- Added to LESS Variables */

a:not(.sv-btn),
a.sv-list-group-item:hover,
a.sv-list-group-item:focus,
a.sv-list-group-item {
    text-decoration: underline;
    color: #0F7CA4
    }
/* --- Exlcude styling for sv-btn class */

/* ---HEADER--- */

 .uob-logo {
     width: 120px;
 }



/* site title */
/* Changes by Ben J 07/04/2017 */
.uob-site-title {
  width: 100%;
  margin: 15px 0 0 0;
  border-left: 1px solid rgba(255,255,255,0.25);
  padding-left:0;
    }

.uob-site-title h1 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    }



/* added by Ben J 07/04/2017 */
h2.uob-site-subtitle {
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
  margin: 2px 0 0 0;
}


/* Logged in status box */
/* .sv-header-text  {
    background: rgba(255,255,255,0.15);
    padding: 10px 15px;
    color: #fff;
    font-size: 14px;
    top: 0;
    right: 30px;
    border-radius: 3px;
    position: absolute;
 }
--- Added to LESS */

/* Logged in status box text colour */
/* .sv-header-text a,
.sv-header-text a:hover,
.sv-header-text a:link {
    color: #fff
  }
--- Added to LESS */

/* ---PANELS--- */
/* .sv-panel-primary {
    border-color: #dedcd2
    }

 .sv-panel > .sv-panel-heading {
     color: #333;
     background-color: #dedcd2;
     border-color: #dedcd2;
     padding: 13px 15px 10px 15px
     }


.sv-panel-primary  h2.sv-panel-title {
     font-weight: 700;
     font-size: 16px;
    }

/* .sv-panel-footer {
    border-top: 2px solid #dedcd2;
    background: #fff;
    }
--- Added to LESS */


/* ---Tables---*/
/* .sv-table > thead > tr > th,
.sv-table > tbody > tr > th,
.sv-table > tfoot > tr > th,
.sv-table > thead > tr > td,
.sv-table > tbody > tr > td,
.sv-table > tfoot > tr > td {
    border-top: 1px solid #dedcd2;
    }
--- Added to LESS */

/* .sv-table > thead > tr > th {
    border-bottom: 2px solid #dedcd2;
    }
--- Added to LESS */

/* striped tables don't look great in this template */
/* .sv-table-striped > tbody > tr:nth-child(odd) {
    background-color: #efede9;
 }
--- Added to LESS */

 /* Page header */
 .sv-page-header {
    border-bottom: 0
 }

/* .sv-header-image {
 height: auto;
 width: 100%;
 }
--- Added to LESS */

/* content area */
/* .sv-page-content {
    padding-bottom: 48px;
    }
--- Added to LESS */


/* NAVIGATION */
/* .sv-navbar-brand {
   padding: 15px 10px ;
    }
--- Added to LESS */

/* background colour of header  */
/* .sv-navbar-default {
    background: #161b20;
    position: relative;
    }
--- added to LESS */

/* moving the navbar down and adding bg colour to it */
/*    .sv-navbar-collapse {
    clear: both;
    width: 100%;
    background: #1c7698;
    }
--- Added to LESS */

/* nav bar links */
.sv-navbar-nav > li >  a:link {
     font-weight: 400;
     color: #fff;
     position: relative;
     padding-left: 15px;
     padding-right: 15px
    }

/* nav bar link hover and focus */
/* .sv-navbar-default .sv-navbar-nav > li > a:hover,
.sv-navbar-default .sv-navbar-nav > li > a:focus {
    color: #fff;
    background: rgba(255,255,255,0.15);
    }

--- Added to LESS */

/* activetab - current page */
.sv-navbar-default .sv-navbar-nav > li.activetab  > a {
    color: #fff;
    font-weight: 700;
    }

@media (min-width: 768px) {

/* adding active tab 'notch' arrow (small desktop and above) ....not sure whether to keep this */
li.activetab  > a:after, li.activetab  > a:before, li.sv-active > a:after, li.sv-active > a:before {
    content: "";
    position: absolute;
    border-bottom: 8px solid #efede3;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 0;
    display: block;
    left: 50%;
    margin-left: -8px;
    bottom: 0;
    }

}

li.paginate_button > a:after, li.paginate_button > a:before {
    content: none !important;
} /* Disable "notch" for dataTables pagination buttons */



/* MOBILE NAV */

.sv-navbar-toggle {
    position: absolute;
    top: 5px;
    right: 0;
 }


/* setting canvas for burger position */
.sv-navbar-header {
    position: relative;
}

/* burger button position */
.sv-navbar-default .sv-navbar-toggle {
    background: #1c7698;
    border-color: rgba(255,2558,255,0.25);
    margin: 10px;
    text-align: middle;
 }

 /* to centre align burger */
 .sv-navbar-toggle .sv-icon-bar {
    margin: 0 auto;
 }


.sv-navbar-default .sv-navbar-toggle:hover,
.sv-navbar-default .sv-navbar-toggle:focus {
     background: #1c7698;
     opacity: 0.75
    }

/* FOOTER */
/* .sv-footer {
   background: #efede9;
   border-top: 1px solid #dedcd2
   }
--- Added to LESS */

/* .sv-footer-text {
    padding: 10px 30px;
    font-size: 14px;
    }
--- Added to LESS */

/*
.sv-footer-text,
.sv-footer-text a,
.sv-footer-text a:hover,
.sv-footer-text a:link,
.sv-footer-text a:visited,
.sv-footer-text a:active {
    color: #333
    }
--- Added to LESS */

 /* Position of footer on homepage  - might need revisiting
     Will need class applied to homepage or separate CSS file (or inline)*/
/* .hp .sv-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: none;
    }
--- Added to LESS */


/* ---FORMS--- */

/* buttons */
/* .sv-btn-primary {
    background: #1c7698;
    border-color: #1c7698
 }
--- Added to LESS */

/* .sv-btn-link {
    border-color: #fff;
    color: #0F7CA4;
    text-decoration: underline
 }
--- Added to LESS */

/* .sv-mandatory {
     background: #dceaef;
     }
--- Added to LESS */

  /* TEMP */

 /* hiding this search button as not sure if we need it at present> */
 .sv-btn-group img,
#sits_search_button_sm {
 display: none;
 }


 /* styles above small tablet */
@media (min-width: 768px) {
    .uob-logo {
        width: 165px;
        position: relative;
        float: left;
        top: 5px;
	left: 20px;
    }

    .sv-header-image {
        height: 100px;
    }

    .uob-site-title {
        left: 200px;
        top: 0;
    }
/* added by Ben J 07/04/2017 */
 /* site title */
    h2.uob-site-subtitle {
      margin: 2px 0 0 0;
    }

    .sv-navbar-brand {
        padding: 20px 15px 20px 30px;
        position: relative;
    }

    .uob-site-title {
        top: 50%;
        position: absolute;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 225px;
/* added by Ben J 07/04/2017 */       
	    margin: -2px 0 0 0;
        border-left: 1px solid rgba(255,255,255,0.25);
        padding-left: 25px
        }

    .uob-site-title h1 {
        font-size: 24px;
        padding: 0;
        margin: 0;
        font-weight: 600;
        position: relative;
        margin: 0;
        border-top: none;
    }


}


 /*---Increasing padding either side of the screen on larger screen---*/
@media (min-width: 1200px) {
    .sv-container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
}




 /* HOMEPAGE STUFF - temp */
.hp-buttons-wrapper  {
    margin: 0 auto;
    text-align: center;
    overflow: auto;
  }

.hp-buttons {
   margin: 0 auto;
   text-align: center;
   width: 665px;
   overflow: auto;
  }

 .hp-buttons-wrapper .sv-btn {
    width: 200px;
    height: 200px;
    display: block;
    float: left;
    margin: 10px;
    font-size: 24px
 }

.uob-pic body {
	background: url(../images/uob/upshot.jpg);
	background-repeat: no-repeat;
} /* Login page background-image */


/* added by Tony M 11/04/2017 */
/* style message boxes */
/* hide sits eror message */ 
.sv-panel-danger .sv-hidden-xs, .sv-panel-danger img, div[role=alert] .sv-panel-heading div {
    display: none;
}

.sv-panel-danger .sv-hidden-xs, .sv-panel-success img, div[role=alert] .sv-panel-heading div {
    display: none;
} 

/* added by AB 12/04/2017 */
/* Remove underline from and color as per COP links in sv-dropdown-menu items (CON Menu's) */
.sv-dropdown-menu a {
    text-decoration: none;
	color: #0F7CA4 !important;
}
/* Active Menu item on child menu */
.sv-dropdown-menu > .sv-active > a {
    color: white !important;
}

/* Mobile Navbar link to white */
a.sv-navbar-link {
    color: white;
}

/* Radio group alignment in table cells - Issue #54 */
td div.sv-radio {
    padding-top: 0px !important;
}


/*Added by Tony Musosti on 03/05/2017 */
/* Change color of forgotten password link */ 
div.uob-login-href a:link {
  color: #ffffff;
}

div.uob-login-href a:hover {
  color: #ffffff;
}

div.uob-login-href a:visited {
  color: #ffffff;
}

	
	