//== Badges
//
//##

@badge-color:                 #000;
//** Linked badge text color on hover
@badge-link-hover-color:      #fff;
@badge-bg:                    @greyBG;

//** Badge text color in active nav link
@badge-active-color:         #fff;
//** Badge background color in active nav link
@badge-active-bg:           @interaction-blue;

@badge-font-weight:           bold;
@badge-line-height:           1;
@badge-border-radius:         10px;