//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:                normal;

@btn-default-color:              @interaction-blue;
@btn-default-bg:                 #fff;
@btn-default-border:             @interaction-blue;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             @brand-primary;

@btn-success-color:              #fff;
@btn-success-bg:                 @brand-success;
@btn-success-border:             darken(@btn-success-bg, 5%);

@btn-info-color:                 #fff;
@btn-info-bg:                    @brand-info;
@btn-info-border:                darken(@btn-info-bg, 5%);

@btn-warning-color:              #fff;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             darken(@btn-warning-bg, 5%);

@btn-danger-color:               #fff;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              darken(@btn-danger-bg, 5%);

@btn-link-disabled-color:        #ccc; //@gray-light;

//== Buttons extension - circular buttons
@btn-circle-container-height:    12em; //minimum height for the circle grid container (to aid collapsing on to multiple rows)
@btn-circle-line-height:         1;

@btn-circle-width-lg:            96%; //circular button widths relative to the parent container (i.e. the grid column(s))
@btn-circle-width-xs:            52%;
@btn-circle-width-sm:            @btn-circle-width-xs + (((@btn-circle-width-lg - @btn-circle-width-xs) / 3) * 1);
@btn-circle-width-md:            @btn-circle-width-xs + (((@btn-circle-width-lg - @btn-circle-width-xs) / 3) * 2);