@font-color: #232323;

@pre-color: #000;

 //Default text color
 @gray-dark: #232323;

 @text-color: #232323;

 // Used for Form inputs
 @input-color:  @gray-dark;

@panel-default-text: @font-color;
@panel-primary-text: @font-color;

 // sv panel
@panel-bg: #fff; 

@panel-primary-border:@grey-border;
@panel-body-padding:          30px;
@panel-heading-padding:       13px 15px 10px 15px;

// Blockquote
 @blockquote-border-color: #ccc;
 @blockquote-small-color:  @text-color;


 //Headings
 @headings-small-color:  @text-color;

// Button padding
 @padding-small-vertical: 5px;