@font-family-sans-serif:  "Open Sans", sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base: 18px;

@h1: 42px;
@h2: 24px;
@h3: 23px;
@h4: 21px;
@h5: 19px;
@h6: 17px;

@h1-mobile:24px;
@h2-mobile:18px;

@font-size-h1:            @h1;
@font-size-h2:            @h2;
@font-size-h3:            @h3;
@font-size-h4:            @h4;
@font-size-h5:            @h5;
@font-size-h6:            @h6;

