// Basics of a navbar
@navbar-height:                    71px;
@navbar-margin-bottom:             0;
@navbar-border-radius:             0; //@border-radius-base;
@navbar-padding-horizontal:        15px; //floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          10px; // ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-default-color:             #fff; //@grey-mid;
@navbar-default-bg:                @grey-dark;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                white;
@navbar-default-link-hover-color:         	@navbar-default-color;
@navbar-default-link-hover-bg:             rgba(255,255,255,0.15);
@navbar-default-link-active-color:         #fff; //@navbar-default-color;
@navbar-default-link-active-bg:            #424242; //rgba(255,255,255,0.15);
@navbar-default-link-disabled-color:       darken(@navbar-default-brand-color, 10%);
@navbar-default-link-disabled-bg:          transparent;

.sv-navbar-default {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
}