
@panel-bg:                    #fff;
@panel-body-padding:          15px;
@panel-heading-padding:       13px 15px 10px 15px;
@panel-footer-padding:        @panel-heading-padding;
@panel-border-radius:         @border-radius-base;

//** Border color for elements within panels
@panel-inner-border:          @greyBG;
@panel-footer-bg:             #fff;

@panel-default-text:          @gray-dark;
@panel-default-border:        #ddd;
@panel-default-heading-bg:    #f5f5f5;

@panel-primary-text:          @grey-dark;
@panel-primary-border:        @greyBG;
@panel-primary-heading-bg:    @greyBG;

@panel-success-text:          @state-success-text;
@panel-success-border:        @state-success-border;
@panel-success-heading-bg:    @state-success-bg;

@panel-info-text:             @state-info-text;
@panel-info-border:           @state-info-border;
@panel-info-heading-bg:       @state-info-bg;

@panel-warning-text:          @state-warning-text;
@panel-warning-border:        @state-warning-border;
@panel-warning-heading-bg:    @state-warning-bg;

@panel-danger-text:           @state-danger-text;
@panel-danger-border:         @state-danger-border;
@panel-danger-heading-bg:     @state-danger-bg;

@panel-alternate-text:          @gray-dark;
@panel-alternate-border:        lighten(@brand-primary,25%);
@panel-alternate-heading-bg:    @panel-alternate-border;
@panel-alternate-body-bg:       lighten(@brand-primary,55%);

//** Colors for panel highlighting
@panel-highlight-bg:            @table-bg-hover;

@panel-title-font-size:         24px; // ceil((@font-size-base * 1.125));

