//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #f7f7f7;
//** Global text color on `<body>`.
@text-color:          @gray-dark;

//** Global textual link color.
@link-color:            @interaction-blue;
//** Link hover color set via `darken()` function.
@link-hover-color:      @interaction-blue-light;
//** Link hover decoration.
@link-hover-decoration: underline;