//==Suggest Box (e.g. Grade Suggestion in mark entry, or Dynamic Listbox)
@suggest-bg:                  @panel-bg;
@suggest-border-color:        @panel-primary-border;
@suggest-border-radius:       @border-radius-base;