//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
@table-bg:                      transparent;
//** Background color used for `.table-striped`.
@table-bg-accent:               #efede9;
//** Background color used for `.table-hover`.
@table-bg-hover:                #e1e1e1;
@table-bg-active:               #424242; //@interaction-blue; //@component-active-bg;
@table-color-active:            @component-active-color;
//** Background color used when a row is selected - used by Advanced Selection List for example
@table-bg-selected:               @table-bg-active;
@table-color-selected:            @table-color-active;

//** Border color for table and cell borders.
@table-border-color:            #dedcd2;

//**Datatables colors - for use with responsive plugin access
@table-dt-collapse-bg-color: @btn-primary-bg;
@table-dt-collapse-color: @btn-primary-color;
@table-dt-bg-color: @gray-lighter;
@table-dt-color: @gray-darker;

//Tablesaw colors - for things like the minimap and the columntoggle
@table-ts-nav-btn-border-color: #000; //@gray-light;
@table-ts-minimap-bg-color: @gray-darker;
@table-ts-minimap-disabled-bg-color: @gray-lighter;

//** Color to use when disabling a table row - used by Mod Reg for example
@table-disabled-color: lighten(@gray-base, 70%);